[2021-07-09 14:10] brylie opened #2 "Add initial developer documentation and environment"
## Problem

We need to help developers get started with development as quickly and painlessly as possible.

## Description

Add initial development instructions and environment files.

[2021-07-13 19:14] brylie opened #3 "Find self-paced WordPress / Gutenberg training materials"
## Problem

We want to make it easy for staff to learn how to use the WordPress Gutenberg editor. However, they may have preferences for the type of learning materials they use, such as text or video.

## Description

Find some self-paced training materials that explain how to use the WordPress Gutenberg editor in various formats.

[2021-07-20 14:05] brylie opened #4 "Determine options for content internationalization/localization"
## Problem
We have identified internationalization/localization as core functionality for the Creative Commons web properties, such as creativecommons.org.

Internationalization is somewhat foundational to a project and cannot typically be added as an afterthought.

## Description
Determine what internationalization options are available for WordPress content, particularly related to the Gutenberg

[2021-07-20 15:10] brylie opened #5 "Create project charter"
## Problem

For the most part, the goals and design of this project have only been discussed verbally. I.e. there isn't very much written documentation about the scope and user needs for the creativecommons.org theme rewrite.

## Description

Create an initial project charter document to serve as a living document describing the high-level goals of the project and specific requirements.

[2021-07-20 15:18] brylie opened #6 "Full-width Gutenberg row block"
## Problem

The [project Figma mockups contain](https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockups) several pages with full-width rows (usually with a solid background color distinct from surrounding rows.)'

![image](https://user-images.githubusercontent.com/17307/126350113-085148ae-d058-4a03-94d7-f059bc2a05d8.png)

## Description

Determine how to enable content authors to create pages wi

[2021-07-23 12:49] brylie opened #116 "Determine how to create full-width blocks with Gutenberg editor"
## Problem

In an effort to make this project more generic while aligning with the WordPress core development, we are switching to the use of Gutenberg blocks for content/layout.

Our design mock-ups contain several sections that span the full page width while having a custom background color to distinguish the section.

## Description

Determine how to create full-width page blocks with the Guten

[2021-07-23 15:45] brylie commented on #4
After a quick experiment today, it seems that the Transifex WordPress plugin works fairly well. There will be some localization process issues we need to iron out through training/documentation. In general, I feel confident about adopting the Gutenberg editor and aligning the project localization efforts with our current use of Transifex.

![image](https://user-images.githubusercontent.com/17307/1

[2021-07-23 15:45] #4 closed

[2021-07-23 15:47] #2 closed

[2021-07-28 12:19] alainseys opened #8 "[Feature] Add Letencrypt to the docker container"
## Problem
I have noticed that there is no ssl present in the docker container

## Description
By adding a ssl layer in the docker you can test the full enviroment the closest to the production system.

[2021-08-02 11:48] alainseys commented on #8
@brylie  you can assign this one to me

[2021-08-02 14:05] brylie commented on #6
Below is a basic example of using Gutenberg Column blocks to make full-width rows with multi-column content:

![image](https://user-images.githubusercontent.com/17307/127874331-f8040898-5444-417b-92a2-5873ead4977b.png)

![image](https://user-images.githubusercontent.com/17307/127874384-a91469d6-9a67-4f14-be1f-fef2c7cf1f5e.png)

[2021-08-02 15:28] #8 closed

[2021-08-03 10:03] brylie opened #24 "[Epic] test capability of Gutenberg editor to create pages from our Figma mockups"
## Problem

Our [Figma mockups for creativecommons.org](https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockups?node-id=1503%3A0) contain several specific content pages. We want to test the ability of the Gutenberg editor to create those pages as well as identify any shortcomings. This knowledge will be used to plan further development, which might include creating custom Gutenberg blocks or Wor

[2021-08-03 10:04] brylie opened #25 "Home (Gutenberg editor test)"
We recently agreed to use Gutenberg editor as much as possible to build pages for creativecommons.org. Now, we need to test how well Gutenberg default widgets support each page design.

## Task

Try to realize the creativecommons.org [Home page mockup](https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockups?node-id=2203%3A4736) using only Gutenberg default widgets.

## Workflow
Discuss the overa

[2021-08-03 10:04] brylie opened #26 "Program (Gutenberg editor test)"
We recently agreed to use Gutenberg editor as much as possible to build pages for creativecommons.org. Now, we need to test how well Gutenberg default widgets support each page design.

## Mockup

![image](https://user-images.githubusercontent.com/17307/133591740-27c5cdd0-3883-4af3-a88b-7ec643bb9eca.png)

## Task

Try to realize the creativecommons.org [Program page mockup](https://www.figma.com/f

[2021-08-03 10:04] brylie opened #27 "Project (Gutenberg editor test)"
We recently agreed to use Gutenberg editor as much as possible to build pages for creativecommons.org. Now, we need to test how well Gutenberg default widgets support each page design.

## Task

Try to realize the creativecommons.org [Project page mockup](https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockups?node-id=1916%3A0) using only Gutenberg default widgets.

## Workflow
Discuss the overa

[2021-08-03 10:04] brylie opened #28 "About CC (Gutenberg editor test)"
We recently agreed to use Gutenberg editor as much as possible to build pages for creativecommons.org. Now, we need to test how well Gutenberg default widgets support each page design.

## Task

Try to realize the creativecommons.org [About CC page mockup](https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockups?node-id=2205%3A5095) using only Gutenberg default widgets.

## Workflow
Discuss the o

[2021-08-03 10:05] brylie opened #30 "CC Licenses (Gutenberg editor test)"
We recently agreed to use Gutenberg editor as much as possible to build pages for creativecommons.org. Now, we need to test how well Gutenberg default widgets support each page design.

## Task

Try to realize the creativecommons.org [CC Licenses page mockup](https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockups?node-id=2250%3A1815) using only Gutenberg default widgets.

## Workflow
Discuss th

[2021-08-03 10:05] brylie opened #31 "Team (Gutenberg editor test)"
We recently agreed to use Gutenberg editor as much as possible to build pages for creativecommons.org. Now, we need to test how well Gutenberg default widgets support each page design.

## Task

Try to realize the creativecommons.org [Team page mockup](https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockups?node-id=2205%3A5734) using only Gutenberg default widgets.

## Workflow
Discuss the overa

[2021-08-03 10:05] brylie opened #32 "Profile (Gutenberg editor test)"
We recently agreed to use Gutenberg editor as much as possible to build pages for creativecommons.org. Now, we need to test how well Gutenberg default widgets support each page design.

## Task

Try to realize the creativecommons.org [Profile page mockup](https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockups?node-id=2205%3A5735) using only Gutenberg default widgets.

## Workflow
Discuss the ov

[2021-08-03 10:05] brylie opened #33 "Default page (Gutenberg editor test)"
We recently agreed to use Gutenberg editor as much as possible to build pages for creativecommons.org. Now, we need to test how well Gutenberg default widgets support each page design.

## Task

Try to realize the creativecommons.org [Default page mockup](https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockups?node-id=2205%3A5736) using only Gutenberg default widgets.

## Workflow
Discuss the ov

[2021-08-03 10:05] brylie opened #37 "News (Gutenberg editor test)"
We recently agreed to use Gutenberg editor as much as possible to build pages for creativecommons.org. Now, we need to test how well Gutenberg default widgets support each page design.

## Task

Try to realize the creativecommons.org [News page mockup](https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockups?node-id=1583%3A36) using only Gutenberg default widgets.

## Workflow
Discuss the overall

[2021-08-03 10:05] brylie opened #38 "News page 2 (Gutenberg editor test)"
We recently agreed to use Gutenberg editor as much as possible to build pages for creativecommons.org. Now, we need to test how well Gutenberg default widgets support each page design.

## Task

Try to realize the creativecommons.org [News page 2 mockup](https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockups?node-id=1583%3A36) using only Gutenberg default widgets.

## Workflow
Discuss the overa

[2021-08-03 10:05] brylie opened #39 "Category Page (Gutenberg editor test)"
We recently agreed to use Gutenberg editor as much as possible to build pages for creativecommons.org. Now, we need to test how well Gutenberg default widgets support each page design.

## Task

Try to realize the creativecommons.org [Category page mockup](https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockups?node-id=2435%3A15095) using only Gutenberg default widgets.

## Workflow
Discuss the

[2021-08-03 10:05] brylie opened #40 "Blog post (Gutenberg editor test)"
We recently agreed to use Gutenberg editor as much as possible to build pages for creativecommons.org. Now, we need to test how well Gutenberg default widgets support each page design.

## Task

If relevant, try to realize the creativecommons.org [Blog post mockup](https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockups?node-id=752%3A2386) using only Gutenberg default widgets.

## Workflow
Discu

[2021-08-03 10:05] brylie opened #41 "Support us (Gutenberg editor test)"
We recently agreed to use Gutenberg editor as much as possible to build pages for creativecommons.org. Now, we need to test how well Gutenberg default widgets support each page design.

## Task

Try to realize the creativecommons.org [Support us page mockup](https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockups?node-id=2260%3A6958) using only Gutenberg default widgets.

## Workflow
Discuss the

[2021-08-04 15:34] brylie opened #57 "Deprecate Home Layout"
## Problem

Now that we intend to use Gutenberg for page layout, including the Home page, we can deprecate the static Home Layout.

## Description

Remove code/features related to `creativecommons-base` Home Layout:

- `home-page.php`
- `/inc/partials/home/*`
- possibly theme configurations such as `cc_base_enable_featured_content` used in `home_featured.php`

Note: some theme configurations, like

[2021-08-16 15:44] brylie opened #9 "Twitter not picking up featured image on current theme"
Kat Walsh reports:

[2021-08-25 10:50] brylie opened #10 "Consider switching to wordpress/env for local development"
## Problem

We currently use a custom Docker compose configuration to set up a local development environment. However, the [wordpress/env](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-env/) project may simplify our development environment configuration.

## Description

Test out the `wordpress/env` project to see whether it might replace our custom Docker compose

[2021-08-25 11:13] brylie opened #104 "Fail gracefully when no main navigation menu is defined"
## Description

The following error is displayed when rendering the `creativecommons-base` theme without a main navigation menu defined:

[code]
## Reproduction

1. install/activate the `creativecommons-base` theme
2. make sure no menu is defined for the Main menu
3. visit the front page
4. See error.

## Expectation

The theme would fail gracefully when no main menu has been defined

[2021-08-26 08:32] brylie opened #12 "Add wp-theme-creativecommons.org as Git submodule"
## Problem

This project needs to combine the `creativecommons-base` theme with `wp-theme-creativecommons.org`.

## Description

Add the `wp-theme-creativecommons.org` as a Git submodule.

[2021-08-31 09:21] #12 closed

[2021-08-31 17:46] brylie opened #14 "Determine how best to solicit donations and email sign-ups"
## Problem

We need to support our Development team to build the CC communications list and donor base.

## Outcomes

- grow the email list
- ask for money throughout the website for end-of-year appeal

## Description

We want to prominently display an email sign-up and donation button on pages throughout the creativecommons.org website.

## Alternatives

We currently have an email sign-up and don

[2021-09-03 08:33] brylie opened #17 "Roadmap to creativecommons.org theme launch"
This issue contains a roadmap for the new creativecommons.org theme launch.

*Note:* the sections of this roadmap may include links to other GitHub milestones, to make it easy to track progress.

## Milestones

The roadmap is divided into several "milestones" that can, to some extent, run concurrently.

### Discovery

Discovery involves identifying where previous development left off as well as de

[2021-09-03 08:40] brylie opened #18 "Create "Spreading Knowledge" news page using Gutenberg blocks"
Our [Figma mockups](https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockups?node-id=2346%3A10585) contain a "Spreading Knowledge" page showing paginated blog posts:

![image](https://user-images.githubusercontent.com/17307/139655121-8e735f26-000e-4402-a0e6-5b92535e257a.png)

The page consists of the following content (for minimum-viable development):

- page title
- subtitle/paragraph text
- bre

[2021-09-03 08:49] brylie opened #19 "`group` block allows content overflow"
## Description

The `group` block allows margins to overflow from child elements, such as paragraphs.

## Expectation

Content would not overflow the `group` block container.

## Screenshots

## Additional context

One solution would be to add the following CSS rule:

[code]

[2021-09-03 08:57] brylie opened #20 "Add default padding to `group` block"
Split from: https://github.com/creativecommons/creativecommons-base/issues/113

The `group` block doesn't render with any default padding, even when changing the background.

![screenshot](https://user-images.githubusercontent.com/17307/131656670-0721f877-1c24-4346-8fb3-42dfa3ac0f48.gif)

Since the `group` block is a container, add a default padding value to prevent content from displaying against

[2021-09-03 09:02] brylie opened #21 "Display Gutenberg buttons using Bulma button theme"
WordPress Gutenberg buttons currently display a pill shape that differs from our Figma mockups. While it isn't a blocking issue, it might be nicer if the Gutenberg buttons would follow our style.

@annatuma suggests we try to shadow the default WordPress button class names so they take on the Bulma/WordPress theme. Otherwise, we are alright to use the default, rounded Gutenberg button styles. Also

[2021-09-03 09:09] brylie opened #22 "Add caption overlay image style"
Our Figma mockups contain images where there is a "caption" overlay:

![image](https://user-images.githubusercontent.com/17307/131980583-e1bf5ed4-a28f-496c-9c6a-f48e6f18fd09.png)

However, the default WordPress image styles display the caption below the image:

![image](https://user-images.githubusercontent.com/17307/131980648-47bc60fb-e6f0-4121-a3d3-4b8053792177.png)

Determine how best to suppor

[2021-09-06 09:37] brylie opened #23 "Identify any initial Gutenberg block patterns that would be useful for content editors"
Content editors may need to use common sets of Gutenberg blocks across posts. For example, a content editor may need to create the following combination of blocks for each new post

- group
  - post title
  - image
- paragraph

WordPress allows developers to specify [block patterns](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-patterns/) that are reusable block com

[2021-09-06 09:39] brylie opened #29 "Strategy (Gutenberg editor test)"
We recently agreed to use Gutenberg editor as much as possible to build pages for creativecommons.org. Now, we need to test how well Gutenberg default widgets support each page design.

## Task

Try to realize the creativecommons.org [Strategy page mockup](https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockups?node-id=2015%3A4399) using only Gutenberg default widgets.

## Workflow
Discuss the o

[2021-09-06 09:40] brylie opened #34 "FAQ (Gutenberg editor test)"
We recently agreed to use Gutenberg editor as much as possible to build pages for creativecommons.org. Now, we need to test how well Gutenberg default widgets support each page design.

## Task

Try to realize the creativecommons.org [FAQ page mockup](https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockups?node-id=2205%3A5737) using only Gutenberg default widgets.

## Workflow
Discuss the overal

[2021-09-06 09:40] brylie opened #35 "20A (Gutenberg editor test)"
We recently agreed to use Gutenberg editor as much as possible to build pages for creativecommons.org. Now, we need to test how well Gutenberg default widgets support each page design.

## Task

Try to realize the creativecommons.org [Home page mockup](https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockups?node-id=2205%3A5297) using only Gutenberg default widgets.

## Workflow
Discuss the overa

[2021-09-06 09:40] brylie opened #36 "Case statement (Gutenberg editor test)"
We recently agreed to use Gutenberg editor as much as possible to build pages for creativecommons.org. Now, we need to test how well Gutenberg default widgets support each page design.

## Task

Try to realize the creativecommons.org [Case statement page mockup](https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockups?node-id=2361%3A10578) using only Gutenberg default widgets.

## Workflow
Discus

[2021-09-06 09:45] brylie commented on #6
Closing this as we have verified that Gutenberg will support full-width `group` and `columns` blocks.

[2021-09-06 09:45] #6 closed

[2021-09-06 10:17] brylie commented on #25
## Sixth section

## Featured news

The Figma mockups contain a "featured news" section.

There is a Gutenberg `latest posts` block that allows a configurable number of blog posts to be displayed with several configuration options:

![image](https://user-images.githubusercontent.com/17307/132201908-fa51f98d-c018-4f07-994e-bafd7685ca01.png)

In terms of desired "featured news" content, most fields

[2021-09-07 06:11] brylie opened #42 "Define styles for Gutenberg Latest Posts block"
We want to use the Gutenberg Latest Posts block to display "recent news" on the Home Page. We may also want to use the Latest Posts block on other pages, which we will identify through our discovery process (#24). However, the Latest Posts block content is rendered largely without Creative Commons styles.

![image](https://user-images.githubusercontent.com/17307/132201856-0ba2986a-b21f-4265-afe6-0

[2021-09-07 08:54] brylie commented on #25
## Stay in touch

![image](https://user-images.githubusercontent.com/17307/132314868-11e72380-cd41-46ac-a419-b44b65f68b75.png)

The "Stay in touch" section would contain `heading` and `paragraph` blocks. However, the email sign-up form might pose more difficult to produce in a Gutenberg layout.

Since our designs have a static footer that contains a "Subscribe to Our Newsletter" sign-up form, it i

[2021-09-07 08:59] brylie commented on #25
## Donation appeal

The "final" section on the Home Page, above the Footer, is a "donation appeal".

![image](https://user-images.githubusercontent.com/17307/132316054-e4d8f39e-9044-473e-a431-0891c0a99d8a.png)

It may be worth considering whether this donation appeal would be displayed across multiple pages (#14 ). If so, a more configurable, hard-coded template section could be used here. Otherwi

[2021-09-07 09:53] brylie commented on #25
## Latest News

The Category page uses CC styles that more closely resemble the Home Page mockups:

Category page

![image](https://user-images.githubusercontent.com/17307/132324515-a03a10be-484f-4ac2-9f30-9046137d55ca.png)

Home Page mockup
![image](https://user-images.githubusercontent.com/17307/132324665-3f45f23d-38f8-4491-a8f3-58308e2f96b7.png)

Perhaps the Category page styles can be applied

[2021-09-07 10:04] brylie commented on #39
## Mockup

![image](https://user-images.githubusercontent.com/17307/132325552-c1c6b57c-7b73-4045-8735-1ac84c9e2c3b.png)

The mockup contains several elements.

- Category title (white background)
- Category description (white background)
- Category filter (tabs with an orange tab indicating active category)
- Breadcrumbs
- List of latest articles in category

Each article displays the following el

[2021-09-07 10:06] brylie commented on #39
@annatuma suggests we can omit the Category Filter tabs, at least from the MVP.

![image](https://user-images.githubusercontent.com/17307/132326758-b02a7c33-2bfd-40da-a32a-678d2d5e67cc.png)

[2021-09-07 10:11] brylie commented on #39
Breadcrumbs can be enabled by installing the [Yoast SEO plugin](https://wordpress.org/plugins/wordpress-seo/.

![image](https://user-images.githubusercontent.com/17307/132327385-5fd675ea-7a1b-42fd-8917-c9484dbce360.png)

However, it may be worth considering deprecating Yoast SEO in order to simplify the project a bit and avoid the WordPress plugin (premium/VIP push) ecosystem.

[2021-09-07 12:27] brylie commented on #25
@annatuma suggests we can move the development of the "Latest News / Stay in Touch" section until the "extra development" milestone.

[2021-09-07 12:38] brylie commented on #23
This may be a case for the "donation appeal" section, as can be seen on the home page.

[2021-09-07 12:46] brylie opened #43 "Usability session with Ony"
Hold a content publication usability session with Ony. Go over the current workflow. Also, review the publication workflow with the Gutenberg editor. Identify any strengths, shortcomings, and ideas for improvement related to the current and Gutenberg publication workflows.

[2021-09-07 12:56] brylie commented on #14
@annatuma mentions that we can work on the donations pop-up issue after the MVP launch.

[2021-09-07 12:57] annatuma commented on #25
This is being discussed further, but it's likely acceptable to display this across all pages, and not only as shown on the existing designs. That could also allow us to develop consistency with non-WP-powered pages (i.e. CC licenses, Chooser).

[2021-09-07 13:04] annatuma commented on #39
A few thoughts to get this out the door:

For MVP, let's prioritize:
- Remove the first article box, thus leaving just a list.
- Having breadcrumbs (whether through Yoast or other)

For Post Development, let's try to solve:
- Including a teaser
- Including the author
- Getting closer to the original design (i.e. horizontal line break)

If anything in Post Development is trivial to solve, we can in

[2021-09-07 13:09] annatuma commented on #24
Noting that the Strategy page and Case Statement page can both be deferred to After Development, i.e. once the MVP is launched. In both instances we have PDFs that are or can be linked from relevant pages, making the content accessible.

[2021-09-07 15:17] brylie opened #44 "Determine how to migrate old "classic editor" content to Gutenberg"
After we migrate to using Gutenberg, we don't want to have the "classic editor" plugin enabled. However, we want users to be able to edit old content if needed. So, we may need to determine how to migrate old content from the "classic editor" format to the Gutenberg block format.

[2021-09-08 11:59] brylie opened #45 "Remove "featured article" box from Category page"
The category page currently has a box above the articles that "features" the most recently published article and includes a "read more" button. However, this box is not a part of the desired design.

![image](https://user-images.githubusercontent.com/17307/132505425-d7fad278-1894-48c3-a3cd-1dcac7aeb14e.png)

Remove the "featured article" box from the Category page.

[2021-09-08 12:07] brylie opened #46 "Add Yoast SEO plugin to project config"
This project depends on Yoast SEO for some functionality, such as the breadcrumbs seen in our Figma mockups. Therefore, we want to test the theme with breadcrumbs support to ensure we come close to the desired look and feel.

Add the Yoast SEO plugin to the project via the project configuration, such as [`composer.json` in `wp-plugin-creativecommons-website`](https://github.com/creativecommons/wp-

[2021-09-08 12:15] brylie opened #47 "Determine how to add article teasers to Category page"
Our Category page mockup shows articles with teaser text (outlined in blue below).

![image](https://user-images.githubusercontent.com/17307/132507363-ad8ee300-844a-4e29-aaae-c581278736c0.png)

Determine how to display teaser text for blog posts made with the Gutenberg editor. In particular, determine how to best truncate the content and prevent rich media from being rendered in the teaser.

[2021-09-08 12:20] brylie opened #48 "Add author name to Category page article summary"
Our Category page mockup displays author names below article summaries, as indicated in the image below.

![image](https://user-images.githubusercontent.com/17307/132508007-454a35d7-a3b7-4f4b-9022-2d5252642685.png)

Add the article author to the article summary displayed on the Category page.

[2021-09-08 12:28] brylie opened #49 "Add horizontal line break between articles on Category page"
The Category page mockup shows a horizontal marker separating articles, as pictured below.

![image](https://user-images.githubusercontent.com/17307/132508762-3e48625d-8e61-411a-b32e-57dd3e497fb8.png)

Add a horizontal line break between articles on the [Category page template](https://github.com/creativecommons/creativecommons-base/blob/8de4b6bdde9caae621a12758a145277e8bb2f9b0/category.php). Ensu

[2021-09-08 12:29] brylie commented on #39
@annatuma, I created follow-up tasks related to your comments.

[MVP](https://github.com/creativecommons/project_creativecommons.org/milestone/2)

- https://github.com/creativecommons/project_creativecommons.org/issues/45
- https://github.com/creativecommons/project_creativecommons.org/issues/46

[Post-MVP](https://github.com/creativecommons/project_creativecommons.org/milestone/3)

- https://gith

[2021-09-08 12:29] #39 closed

[2021-09-08 12:54] brylie opened #50 "Add Latest News section to Home Page"
## Latest News

The Figma mockups contain a "featured news" section.

![image](https://user-images.githubusercontent.com/17307/132202098-8bb9be76-dbfe-49d4-8f8b-d82280f981a2.png)

There is a Gutenberg `latest posts` block that allows a configurable number of blog posts to be displayed with several configuration options:

![image](https://user-images.githubusercontent.com/17307/132201908-fa51f98d-c

[2021-09-08 12:58] brylie opened #51 "Ensure correct image alignment in Home Page "impact columns" section"
## Mockup

![image](https://user-images.githubusercontent.com/17307/130581659-4148d046-4b3e-4e5b-9027-f09ab9110cd5.png)

The third section of the Figma mockup displays three center-aligned columns, each containing:

- image
- paragraph
- text (large and bold)

## Image alignment in the rendered output

Our `style.css` defines a block alignment rule that conflicts with the Gutenberg image alignment

[2021-09-08 13:03] brylie commented on #25
Closing this issue to continue with further discovery/development tasks.

The following related tasks have been opened as a result of this task.

- https://github.com/creativecommons/project_creativecommons.org/issues/50
- https://github.com/creativecommons/project_creativecommons.org/issues/21
- https://github.com/creativecommons/project_creativecommons.org/issues/22
- https://github.com/creative

[2021-09-08 13:03] #25 closed

[2021-09-08 13:09] brylie commented on #23
Will explore this idea in #43

[2021-09-08 13:11] brylie commented on #43
Sent an email to Ony today. I will try to hold a usability session within the next week.

[2021-09-08 13:33] brylie opened #52 "Determine how best to modify theme styles"
We need some changes to our theme CSS. The CC Vocabulary project is intended to contain cross-project CSS styles, among other things.

Determine how best to make style changes related to the project_creativecommons.org and related WordPress theme(s). Make sure to document the process for modifying project-related styles.

[2021-09-08 13:45] brylie commented on #52
The `creativecommons_base` theme currently has a pre-compiled, minimized stylesheet called `style.css`

https://github.com/creativecommons/creativecommons-base/blob/main/assets/css/styles.css

I haven't found any documentation about the workflow for compiling and replacing that file. It doesn't seem to import anything except fonts from the CC Vocabulary. There is also a directory [`/front/src/styl

[2021-09-08 13:52] brylie commented on #52
Running the command `npm run watch` within the `creativecommons_base` `front/` directory (after running `npm install`) will compile and replace the `/assets/css/style.css` file. This would probably be a simple documentation fix for now.

The `creativecommons_base` `front/package.json` also has the `@creativecommons/vocabulary` as a development dependency.
![image](https://user-images.githubusercon

[2021-09-08 13:52] brylie commented on #52
It remains to be decided where to make changes to the styles, e.g. within

- `creativecommons_base/front/src/styles` or
- `@creativecommons/vocabulary`

[2021-09-08 15:14] brylie commented on #14
@TimidRobot and I agreed that it might be useful to serve partial, pre-rendered HTML via the WordPress API. We can, for example, render the following elements on the WordPress server and send them as a response to API requests made from other Creative Commons websites.

- donation CTA banner with button/form
- navigation menu

This would complement the [existing API endpoints](https://github.com/c

[2021-09-08 15:15] brylie opened #53 "Test returning rendered HTML fragments via WordPress API"
@TimidRobot and I agreed that it might be useful to serve partial, pre-rendered HTML via the WordPress API. We can, for example, render the following elements on the WordPress server and send them as a response to API requests made from other Creative Commons websites.

- donation CTA banner with button/form
- navigation menu

This would complement the [existing API endpoints](https://github.com/c

[2021-09-08 15:17] brylie commented on #53
Note: we want to be considerate of how these returned HTML fragments affect caching. E.g. we should still be able to cache content via CloudFlare, but use cached JavaScript in the client to fetch non-cached HTML fragments.

[htmx](https://htmx.org/) is one candidate library for the client-side DOM management.

[2021-09-08 17:03] #45 closed

[2021-09-15 11:02] brylie commented on #53
I was able to successfully return server-rendered menu HTML via the REST API with a few lines of code (and one caveat):

![image](https://user-images.githubusercontent.com/17307/133421650-a7cc8dcf-563a-42ee-884f-7fc76f504cf5.png)

The recipe follows:

[code]

The caveat is, if DEBUG is enabled, the returned result may likely return warnings and other debug messages:

![image](https://user-images.g

[2021-09-16 08:55] brylie opened #56 "Add endpoints for server-rendered HTML fragments (e.g. menus)"
Note: may be obsoleted by #176

Continued from #53

We currently have API endpoints to return JSON data representing our WordPress site menus. The data are consumed by downstream services, such as the Licenses project, in order to render consistent page elements across sub-projects in the creativecommons.org web property.

We have agreed that using server-rendered HTML would reduce the amount and

[2021-09-16 09:24] #53 closed

[2021-09-16 09:34] brylie opened #58 "Add layout without page title (e.g. `no_title` template)"
We have several Figma mockups that contain page titles in a different location than our default page title.

## Mockup

![image](https://user-images.githubusercontent.com/17307/133587348-c19bf1bd-d105-4fdf-951a-4588040c8510.png)

## Actual

![image](https://user-images.githubusercontent.com/17307/133587911-6085486f-a0f4-4f1d-b576-cafc54206895.png)

## Task

Create a page template that doesn't rend

[2021-09-16 09:53] brylie commented on #26
## Initial attempt

The Advocacy page can be created with default Gutenberg blocks.

- `group` - grey background, full-width
    - `heading`
    - `paragraph`
    - `columns` - 33/33/33
        - `group` - white background
            - `heading`
            - `paragraph`
            - `button` - orange color

However, the style leaves a lot to be desired. Namely,
- the `group` widget doesn't add

[2021-09-16 10:11] brylie commented on #26
### Second section

Default Gutenberg blocks can be used to build the second section, although the styles leave a lot to be desired (more below). The Gutenberg block structure follows.

The Advocacy page can be created with default Gutenberg blocks.

- `group` - grey background, full-width
    - `heading`
    - `paragraph`
    - `columns` - 33/33/33
        - `group` - white background

[2021-09-17 04:24] PuneetDabral commented on #58
sir can i?.... but i need your help for it ....i am new in open source as well

[2021-09-17 08:52] brylie commented on #58
@PuneetDabral, yes, please! :-)

I'm available to help via this issue. The first steps are to:

1. fork this repository (image below)
2. [clone your fork](https://docs.github.com/en/repositories/creating-and-managing-repositories/cloning-a-repository) to your local computer
3. follow the [development instructions](https://github.com/creativecommons/project_creativecommons.org#development) in our R

[2021-09-17 12:28] brylie commented on #43
Here are the notes from the initial user interview with Ony:

https://docs.google.com/document/d/1gmK6XAmz72WEBp1GCvSj3UL5KSIBC84Xb05Ue3IkXBU/edit#

We focused mainly on Ony's needs and experiences with publishing content on the current website.

We will schedule a follow-up after Summit to review the current mockups and Gutenberg publication workflow.

[2021-09-18 04:37] PuneetDabral commented on #58
now sir what i can do next...

[2021-09-18 10:52] brylie commented on #58
1. visit https://localhost:8080/wp-admin
2. navigate to the Theme settings
3. enable the `creativecommons-base` theme
4. take a screenshot
5. upload the screenshot to this issue

Once we have verified that the `creativecommons-base` theme is rendering correctly in your local environment, I will add a description of the specific code changes needed for this task.

[2021-09-18 14:59] PuneetDabral commented on #58
ok sir i will try ....

[2021-09-18 21:20] alainseys commented on #14
You should be abble to do this with google tag manager [here](https://marketlytics.com/blog/cookies-with-google-tag-manager-use-cases/) you can read about how to store cookie data in google tag manager.

[2021-09-18 21:40] alainseys commented on #9
@brylie  can you post te steps so i can reproduce this ? the default post uses https://twitter.com/intent/tweet?via=creativecommons&text=this-is-my-test.

alternative you could enable auto update of the wp core in 'wp-config.php'

[code]

[2021-09-19 11:08] PuneetDabral commented on #58
sir please tell me where i change in this code?

[2021-09-20 10:09] brylie commented on #9
I am not able to reproduce the issue either:

![Peek 2021-09-20 13-07](https://user-images.githubusercontent.com/17307/133985931-095d9f63-77c6-43d4-8487-015de2fec819.gif)

We are hesitant to enable core updates, but can revisit the suggestion at our next weekly planning meeting.

[2021-09-20 10:18] brylie commented on #9
My mistake. Kat Drew is working on the Summit website promotion. Here are the steps to reproduce.

1. visit https://summit.creativecommons.org
2. view any page, such as
3. copy page URL
4. go to Twitter
5. paste the URL into the new tweet box
6. notice there is not page preview/featured image

[2021-09-20 10:19] brylie commented on #9
For what it's worth, the Summit website isn't lagging too far behind the latest WordPress version

![image](https://user-images.githubusercontent.com/17307/133987166-0dc56237-6370-4a79-b7ab-b537d38ab644.png)

[2021-09-20 10:22] brylie commented on #58
Let's first make sure our instructions for setting up a development environment are correct. Can you post a screenshot of your local WordPress environment running the `creativecommons-base` theme? If there is any difficulty, I am available to help.

[2021-09-22 08:23] drgsm56 opened #59 "iol calculation by ascan biometry using pythagoarian formulas[Bug] <Replace this with actual title>"
## Description

## Reproduction

1.
2.
3.
4. See error.

## Expectation

## Screenshots

## Environment

 - Device: (_eg._ iPhone Xs; laptop)
 - OS: (_eg._ iOS 13.5; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Version: (_eg._ 13; 73)
 - Other info: (_eg._ display resolution, ease-of-access settings)

## Additional context

## Resolution

- [ ] I would be interested in resolving this bug.

[2021-09-22 09:02] drgsm56 commented on #59
https://github.com/creativecommons/project_creativecommons.org/issues/59#issue-1003997569>iol calculation format using SRK-T formula>universal

- [ ] #Pythagoras geometric equation insert

[2021-09-22 09:09] drgsm56 opened #60 "https://github.com/creativecommons/project_creativecommons.org/issues/59#issue-1003997569>iol calculation format using SRK-T formula>universal"
https://github.com/creativecommons/project_creativecommons.org/issues/59#issue-1003997569>iol calculation format using SRK-T formula>universal

- [x] #Pythagoras geometric equation insert axl=axial lenghth=squre root of c-squre-(d/2)2+under square root d-square-(d/2)squre+d

_Originally posted by @drgsm56 in https://github.com/creativecommons/project_creativecommons.org/issues/59#issuecomment-9247

[2021-09-22 14:15] shailee-m opened #61 "[Bug] Cannot start wordpress process"
## Description
Followed the setup instructions on  the project readme page. I have nodejs v16, docker,docker-compose, and wordpress-env(Global) installed. But wp-env fails each time

## Reproduction

1. cd into the project root folder
2. wp-env start

## Expectation
Process must start

## Screenshots
Error:
/usr/local/lib/node_modules/@wordpress/env/lib/cli.js:81
	} catch {
	        ^

SyntaxError

[2021-09-22 14:35] brylie opened #62 "Remove `wordpress/env` dependency, revert to bespoke docker-compose"
We added `wordpress/env` as a development dependency with the hope it would simplify our development setup. However, after several issues and the realisation that this project consists of several non-WordPress components (such as the `licenses` sub-project), it is probably more sustainable to remove `wordpress/env` as a project dependency.

In essence, we will [revert back to using a bespoke docke

[2021-09-22 14:37] brylie commented on #61
@shailee-m would you consider taking issue #62 which will restore our previous `docker-compose` development environment?

[2021-09-22 14:39] brylie commented on #62
@shailee-m would you consider taking this task?

[2021-09-22 15:18] shailee-m commented on #61
@brylie  Sure will do

[2021-09-24 14:12] shailee-m commented on #27
@brylie would you assign me this task?

[2021-09-24 15:17] shailee-m commented on #28
@brylie Please assign this task to me

[2021-09-24 15:32] #61 closed

[2021-09-24 15:32] #62 closed

[2021-09-24 18:16] shailee-m commented on #27
Progress So far. This is a sample I created from the mockups with @brylie 's help.
![Screenshot (1)](https://user-images.githubusercontent.com/10625985/134721593-f9641002-3304-49fe-bf76-15257ca47879.png)

[2021-09-24 18:17] shailee-m commented on #27
![Title](https://user-images.githubusercontent.com/10625985/134722007-baa57bb4-8073-4a0f-b73a-ef76dae5155a.png)
This is the title and a small preface. It can easily be created with a Gutenberg blcok

[2021-09-24 18:21] shailee-m commented on #27
![Page image](https://user-images.githubusercontent.com/10625985/134722108-2441211d-f159-479d-81df-7d1c76405d3a.png)
The main image for each post easily reproduced using Gutenberg block.

[2021-09-24 18:23] shailee-m commented on #27
This is the block that display the second paragraph on the page. Was built easily using the default blocks

![Main paragraph](https://user-images.githubusercontent.com/10625985/134722530-396f499b-5036-499d-9bc6-9b2ab1cb71a2.png)

[2021-09-24 18:25] shailee-m commented on #27
The Related posts could be built almost exactly as the design mock-up except, for the category tag at the bottom.

![Related posts](https://user-images.githubusercontent.com/10625985/134722761-52b3d5d5-5533-45d7-88f6-d8ce9e417416.png)

[2021-09-26 17:24] shailee-m commented on #28
Here is an overview of this Page. Most of the details could be achieved simply by Gutenberg blocks. The common issues are with alignments such as the title in the `OUR VALUES` section had to be appended with an underscore in white text to align it with its successor divs. Similarly, the 50-50 columns have some default margin space which doesn't allow the images to overlap.

This can be solved by c

[2021-09-26 17:26] shailee-m commented on #28
The title div.

![Title and para1](https://user-images.githubusercontent.com/10625985/134817739-5bc774ec-7273-403c-a2fb-111d411269bf.png)

[2021-09-26 17:27] shailee-m commented on #28
Mission images
![images](https://user-images.githubusercontent.com/10625985/134817760-ea70c7b6-3a8f-4b0b-87ea-4dbce2f38497.png)

[2021-09-26 17:28] shailee-m commented on #28
Values:

![pointers](https://user-images.githubusercontent.com/10625985/134817779-8cb4b366-e12e-410a-8f88-e5d6ba6b7bee.png)

[2021-09-26 17:28] shailee-m commented on #28
Meet the team

![usp_lines](https://user-images.githubusercontent.com/10625985/134817805-a05ae431-b850-4177-bd5f-0b912f8c99f5.png)

[2021-09-27 06:39] brylie commented on #28
For each of the sections, please describe the specific blocks used (e.g. as a nested list):

Section name
- columns
  - column
    - post title
    - paragraph
  - column
    - image
- group - changed background and text colors
  - heading
  - paragraph

[2021-09-27 08:12] brylie commented on #27
@shailee-m I updated the task description to clarify that we need to document the specific block hierarchy used to create the layout

[2021-09-27 08:13] brylie commented on #28
@shailee-m, I updated the issue description to clarify that we need to document the specific block hierarchy used to build the page.

[2021-09-27 08:18] brylie opened #65 "Add default padding to `group` block"
Continued from #26

## Problem

By default, the Gutenberg `group` block does not add any padding. We intended to use `group` blocks as the basis for page layout sections. Since our design mockups rarely extend to the edges of the screen and page elements typically have some spacing, we can add a default padding to the Gutenberg `group` container.

[2021-09-27 08:24] brylie opened #66 "Determine how to create card row with consistent height"
Continued from #26

## Problem
Our mockup contains a three-column row of cards with equal heights:

![image](https://user-images.githubusercontent.com/17307/134871277-de2e300c-cbe4-4ee2-954c-c2470d64620a.png)

However, children of the default Gutenberg `columns` block do not expand to fill the parent hight:

![image](https://user-images.githubusercontent.com/17307/134871241-ba91cf0b-2864-4ed4-9f1d

[2021-09-27 08:27] brylie opened #67 "Determine how to add a top-border to cards"
Continued from #26

## Problem
Our mockup contains a three-column row of cards with a solid black top border:

![image](https://user-images.githubusercontent.com/17307/134871277-de2e300c-cbe4-4ee2-954c-c2470d64620a.png)

However, Gutenberg widgets, such as `group`, don't provide a configuration option for the border, and display only the background color:

![image](https://user-images.githubuserco

[2021-09-27 08:29] brylie commented on #26
Closing this issue since I have documented the page building process and opened continuation issues (for triage).

[2021-09-27 08:29] #26 closed

[2021-09-27 08:32] brylie commented on #30
@shailee-m, I updated the issue description to clarify that we need to document the specific block hierarchy used to build the page.

[2021-09-27 08:32] brylie commented on #31
@shailee-m, I updated the issue description to clarify that we need to document the specific block hierarchy used to build the page.

[2021-09-27 08:33] brylie commented on #32
Closing this issue since the Profile page doesn't seem like a good candidate for Gutenberg editor, since it is auto-generated based on user profiles and related content.

[2021-09-27 08:33] #32 closed

[2021-09-27 08:39] brylie commented on #40
Closing this issue after the initial UX discussion with Ony #20. Opened follow-up issue #23

[2021-09-27 08:39] #40 closed

[2021-09-27 08:40] brylie opened #68 "Review Figma mockups with Ony"
Get feedback from Ony regarding the existing Figma mockups. Schedule a brief call to review the mockups and document any ideas or suggestions.

[2021-09-27 08:40] brylie commented on #43
Closing this issue since we had the first user needs session. Will follow up with #68

[2021-09-27 08:40] #43 closed

[2021-09-28 18:31] shailee-m commented on #30
Added custom CSS:
[code]

[2021-09-28 18:49] shailee-m commented on #30
Progress so far:

![_ CC LICENSES](https://user-images.githubusercontent.com/10625985/135147628-4785bfa8-1240-4b42-88eb-24cb77b3588f.gif)

[2021-09-28 19:45] shailee-m commented on #30
For page 1:

![Screenshot (3)](https://user-images.githubusercontent.com/10625985/135147822-d4e42877-2e0e-4897-bce6-82420c579359.png)

- Column
  - Heading
  - Paragraph
  - Heading
  - Columns (30/70)
    - Column 1
      - Paragraph
      - Image
    - Column 2
      - Paragraph
      - Paragraph
      - Paragraph
      - Paragraph
      - Paragraph
  - Columns (30/70)
    - Column 1
      - Par

[2021-09-28 19:46] shailee-m commented on #30
- Column
  - Heading
  - Paragraph

![Screenshot (3)](https://user-images.githubusercontent.com/10625985/135155495-04c9914f-e053-4ef0-8bab-0fd6af237525.png)

[2021-09-28 19:47] shailee-m commented on #30
Heading
Columns (30/70)
Column 1
Paragraph
Image
Column 2
Paragraph
Paragraph
Paragraph
Paragraph
Paragraph

![Screenshot (4)](https://user-images.githubusercontent.com/10625985/135155567-c0979924-0173-45de-aab7-c879f43f30e5.png)

[2021-09-28 19:49] shailee-m commented on #30
- Columns (30/70)
    - Column 1
      - Paragraph
      - Image
    - Column 2
      - Paragraph
      - Button

![Screenshot (5)](https://user-images.githubusercontent.com/10625985/135155690-08e8c9e7-3d13-4a70-9caa-66388f547316.png)

[2021-09-28 19:51] shailee-m commented on #30
- Columns (30/70)
    - Column 1
      - Paragraph
      - Image
    - Column 2
      - Paragraph
      - Paragraph

![Screenshot (6)](https://user-images.githubusercontent.com/10625985/135156038-cec7910a-0b50-49e3-bcb1-bba6307e355a.png)

[2021-09-28 19:52] shailee-m commented on #30
- Heading
  - Paragraph
  - Columns (50/50)
    - Column 1
      - Column
        - Image
        - Image
        - Paragraph
        - Paragraph
        - Columns
          - Paragraph
          - Image
    - Column 2
      - Paragraph
      - Heading
      - Image
      - Paragraph

![Screenshot (7)](https://user-images.githubusercontent.com/10625985/135156217-286cafd0-9c7e-4fa5-b956-0f61a6cf39f

[2021-09-28 19:56] shailee-m commented on #30
--
Similar construct for the following as in the qiuted comment:

![Screenshot (8)](https://user-images.githubusercontent.com/10625985/135156626-3989479e-593f-4add-89b7-7e5cab99ba52.png)

![Screenshot (9)](https://user-images.githubusercontent.com/10625985/135156666-68fb9764-07f9-4101-8733-410489a44c3d.png)

![Screenshot (10)](https://user-images.githubusercontent.com/10625985/135156679-928c901a-1

[2021-09-28 19:58] shailee-m commented on #30
- Column
  - Heading
  - Paragraph
  - Paragraph
- Columns (50/50)
  - Column 1
    - Image
    - Image
    - Paragraph
    - Paragraph
    - Column
      - Paragraph
  - Column 2  (Empty)
- Columns (50/50)
  - Column 1
    - Paragraph
  - Column 2  (Empty)

![Screenshot (12)](https://user-images.githubusercontent.com/10625985/135157039-451692b8-37b9-4328-ab13-d3f713daff04.png)

[2021-09-28 19:59] shailee-m commented on #30
- Column
  - Heading
  - Paragraph
- Columns (50/50)
  - Column 1
    - Paragraph
    - Column
      - Paragraph
  - Column 2  (Empty)

![Screenshot (13)](https://user-images.githubusercontent.com/10625985/135157142-f6558d62-8f8a-41fc-9321-170982155ffd.png)

[2021-09-29 09:41] brylie opened #69 "Create an import file that contains all ready-made Gutenberg pages"
As we work through the discovery process to test the capabilities of Gutenberg to produce the new Creative Commons pages (#24), we are keeping track of the block hierarchy used for each page. Taking this one step further, we can export each page to allow us to easily reproduce the necessary steps. As a final step, we can import all of the pages and produce an export file containing all of the poss

[2021-09-29 10:03] brylie opened #70 "Test importing all content from existing creativecommons.org website"
Before launching this new theme, we need to test importing content from the existing creativecommons.org website. This import test will help us identify any difficulties and possibly develop code to convert content to the new Gutenberg editor, if necessary. I.e., we probably won't want to keep the WordPress "classic" editor enabled once we transition to Gutenberg.

## Task

- [x] create an export

[2021-09-30 08:24] brylie commented on #31
@shailee-m, this page should be generated from user profiles where the users are assigned to a [WordPress role](https://wordpress.org/support/article/roles-and-capabilities/), such as `Staff`. Since the page should be auto-generated, rather than maintained manually, we won't likely be able to create it via Gutenberg.

Let's close this issue and open a follow-up issue to make sure the auto-generate

[2021-09-30 08:39] brylie opened #71 "Determine how to create the minimum-viable Team page"
The Team page content should be auto-generated based on user profiles where the users are assigned to a [WordPress role](https://wordpress.org/support/article/roles-and-capabilities/), such as `Staff`.

There are at least two options (one traditional and one new-school) for how we might build the Team page:

a) create a team.php WP template (PHP/HTML/CSS)
b) create a custom Gutenberg block (JavaSc

[2021-09-30 08:57] brylie opened #72 "Create `user-list` Gutenberg block based on custom user `groups` taxonomy"
Blocked by #111

We need a simple example of how to create a custom Gutenberg block so that we can define bespoke blocks where needed. Additionally, we will likely need to display the results of a query via a Gutenberg block.

## Task

- [x] create a simple "hello world" Gutenberg block
- [x] extend the block to display a list of users
- [x] add server-side rendering for block content (similar to

[2021-10-01 08:59] #27 closed

[2021-10-01 08:59] #28 closed

[2021-10-01 08:59] #30 closed

[2021-10-01 20:24] Madanaa commented on #48
can I take this issue

[2021-10-01 20:24] sarojvrc commented on #49
Can I take this issue?

[2021-10-02 06:54] brylie commented on #48
@Madanaa, thank you for your interest in helping the Creative Commons. I will assign you to the issue.

Please let us know if you have any questions or difficulties when getting the development environment running.

[2021-10-02 06:56] brylie commented on #49
@sarojvrc, yes please! I will assign you and add the `hacktoberfest-accepted` tag.

[2021-10-02 07:00] sarojvrc commented on #49
thanks @sarojvrc

[2021-10-02 07:00] sarojvrc commented on #49
thanks @brylie

[2021-10-02 07:00] brylie commented on #49
I added a note in the task description pointing to the repository and file where the changes will be made.

This repository combines two sub-repositories using Git submodules. If desired, you can work directly in the `creativecommons-base` repository and just let me know in this issue when you've opened a pull request.

[2021-10-02 07:02] brylie commented on #48
I added a note in the task description pointing to the repository and file where the changes will be made.

This repository combines two sub-repositories using Git submodules. If desired, you can work directly in the [`creativecommons-base` repository](https://github.com/creativecommons/creativecommons-base) and just let me know in this issue when you've opened a pull request.

[2021-10-02 07:02] sarojvrc commented on #49
sure, thanks

[2021-10-02 12:08] shailee-m commented on #72
@brylie

Progress so far: Created a custom block. using JS. I will add a readme in the plugin folders to create new plugins easily. Since I used ESNext the syntax, the plugin needs to be built separately. Later on, we can integrate it in the build process somewhere. Here is a small example.

Working on creating a custom query now.

![Screenshot (14)](https://user-images.githubusercontent.com/10625

[2021-10-04 07:01] brylie commented on #72
Looks good! Are you able to get a query of users next? Then, we can look at how to filter the users based on a custom taxonomy (more info soon.)

[2021-10-04 07:26] brylie commented on #72
@shailee-m how do you suggest we organize the CC Custom Gutenberg Blocks plugin? Shall we just create a subfolder in this project for the timebeing? In the long run, we may need to create a new repository. If we see the new repository as desirable, I'd like to do that soon and add it as a submodule here.

[2021-10-04 08:23] brylie commented on #71
For the timebeing, we should consider adding the [new-www-plugin](https://github.com/creativecommons/new-www-plugin) repository as a Git submodule here and mapping it to the Docker image.

[2021-10-04 08:27] brylie commented on #71
How do we query users based on the taxonomy? E.g. the[`WP_User_Query`](https://developer.wordpress.org/reference/classes/wp_user_query/) method can query users by role. Perhaps we can pass in a taxonomy ID as part of the `$args` array to the `WP_User_Query` function?

cc: @shailee-m

[2021-10-04 08:30] brylie commented on #71
It may be possible that the `WP_User_Query` takes a `tax_query` array as part of `$args`:

https://wordpress.stackexchange.com/a/150251

[2021-10-04 08:53] brylie commented on #72
@shailee-m I have found out that our Users are categorized by a [custom WordPress taxonomy](https://github.com/creativecommons/new-www-plugin/blob/6d184e659b6d9c30d6bc94372b694e8240d88c94/cc-author/cc-author-group-taxonomy.php#L3-L44). So, we will need to filter users by taxonomy in order to display the correct users on the Team page.

Notice there are two sections on the Team page: `Staff` and `B

[2021-10-04 08:59] brylie opened #73 "Add `new-www-plugin` project as Git sub-module"
The [new-www-plugin](https://github.com/creativecommons/new-www-plugin) project contains code that is necessary for this project, such as the custom user group taxonomy (#71).

## Task

- [ ] add the `new-www-plugin` as a Git sub-module to this project
- [ ] include the `new-www-plugin` in the Docker Compose configuration (sub-directory mapping in WordPress plugins directory)
- [ ] add a note in t

[2021-10-04 13:25] shailee-m commented on #72
@brylie we need to create the plugins in the wp-content folder for WordPress to recognize them as plugins. In its documentation, Wordpress describes a structuring best practice. I have used the one with ESNext syntax in React.js.

[2021-10-04 13:28] shailee-m commented on #72
Sure I will check this and create customizable queries. I will share a snippet once I set up the configuration.

[2021-10-04 15:55] brylie commented on #72
Yes, we can map the plugin subfolder to the `wp-plugins/...` within the development container. We will need to determine how the plugin will be built and whether/how the build output should be kept under revision control.

[2021-10-04 17:09] brylie opened #74 "Create a project for custom Gutenberg widgets"
We are starting to develop custom Gutenberg widgets. Create a new project with at least the following:

- license
- CC metadata
- WP metadata
- Gutenberg project structure
- README with development instructions

## Resources

- https://developer.wordpress.org/plugins/plugin-basics/including-a-software-license/

[2021-10-04 17:26] brylie opened #75 "User training"
We will need to conduct user training for the new Gutenberg editor. It will likely be best to train users during the staging/migration milestone.

[2021-10-04 17:27] brylie opened #76 "Determine content updating workflow for website migration"
@annatuma and @TimidRobot mention that some users will need to update content as part of the transition to the new site. We will probably take a look at the particulars of this task during the staging/migration milestone.

[2021-10-04 18:52] shailee-m commented on #72
@brylie It is in this link spread over separate sections.

- Main folder is wp-content/plugins/users-list ([link](https://developer.wordpress.org/block-editor/how-to-guides/javascript/extending-the-block-editor/))
- It expects a users-list.php file.
- To build the js file @wordpress/scripts module is required. Building the FE using that.
- The scripts expect a src/index.js file. This is where all

[2021-10-05 08:44] brylie commented on #72
@shailee-m would you commit the initial package structure to a new branch in the following repository?

https://github.com/creativecommons/creativecommons-gutenberg-blocks

[2021-10-05 08:46] brylie commented on #74
New project is created:

https://github.com/creativecommons/creativecommons-gutenberg-blocks

[2021-10-05 08:52] brylie commented on #72
@shailee-m, in case the folder structure is not automatically created by the initialization script, let's follow the folder structure from the official WP Gutenberg examples:

- https://github.com/WordPress/gutenberg-examples/tree/master/04-controls-esnext

[2021-10-05 09:46] brylie commented on #74
Closing, since the project is created. Additional instructions will be added to the repo after we initialize the WordPress Gutenberg plugin.

[2021-10-05 09:46] #74 closed

[2021-10-05 10:37] brylie opened #78 "Add styles related to Home mockup"
When creating a page based on the Home mockup, a few style changes were needed. Add the related style changes to our the `creativecommons-base` CSS. If it is not too difficult, apply the changes via the CC Vocabulary once that project is in a stable status.

## Specific changes

### Add `group` block padding
[code]

### Remove `columns` block bottom margin

[code]

### Remove grey heading text col

[2021-10-05 11:08] brylie opened #79 "Remove "Archives" and "Categories" lists from default template"
The default template currently contains a section above the footer that lists "Archives" and "Categories":
![image](https://user-images.githubusercontent.com/17307/136011828-14ccbb26-2018-4a54-9a37-a1d235fcc4da.png)

## Task

- [ ] remove the hard-coded "Archives" and "Categories" sections from the default template
- [ ] determine whether there are Gutenberg widgets that can list the content relat

[2021-10-05 11:13] brylie commented on #65
Closing as duplicate of #20

[2021-10-05 11:13] #65 closed

[2021-10-05 11:15] brylie commented on #33
If I recall correctly, @annatuma agreed that we should remove the grey box and heading from the default page template, since we are using Gutenberg to construct pages now.

[2021-10-05 11:17] brylie commented on #58
@annatuma, did we agree to remove the hard-coded title, with grey background, from our default page template since we are using Gutenberg for page layouts now?

[2021-10-05 11:24] brylie opened #80 "Create Home page importer"
Create an importer for the Home page, including page media. The page should be constructed with the Guteneberg editor (default widgets) as per #25 .

[2021-10-05 11:26] brylie opened #81 "Create Program page importer"
Create an importer for the Program page, including page media. The page should be constructed with the Guteneberg editor (default widgets) as per #26.

[2021-10-05 11:26] brylie opened #82 "Create Project page importer"
Create an importer for the Project page, including page media. The page should be constructed with the Guteneberg editor (default widgets) as per #27 .

[2021-10-05 11:26] brylie opened #83 "Create About CC page importer"
Create an importer for the About CC page, including page media. The page should be constructed with the Guteneberg editor (default widgets) as per #28.

[2021-10-05 11:26] brylie opened #84 "Create CC Licenses page importer"
Create an importer for the Licenses page, including page media. The page should be constructed with the Guteneberg editor (default widgets) as per #30.

[2021-10-05 11:26] brylie opened #85 "Create FAQ page importer"

[2021-10-05 11:26] brylie opened #86 "Create 20A page importer"

[2021-10-05 11:26] brylie opened #87 "Create News page importer"
Create an importer for the News page, including page media. The page should be constructed with the Guteneberg editor (default widgets) as per #118.

[2021-10-05 11:26] brylie opened #88 "Create Support Us page importer"
Create an importer for the Support Us page, including page media. The page should be constructed with the Guteneberg editor (default widgets) as per #41.

[2021-10-05 11:30] brylie commented on #28
@shailee-m while you are editing this page, can you also be sure to export its contents (#83)? Place all related media items (under `wp-app/wp-content/uploads/` in this repository under `content/uploads/` as can be seen in PR #89

[2021-10-05 11:31] brylie commented on #30
@shailee-m, can you please take issue #84 as a follow up to this one? Use PR #89 as an example.

[2021-10-05 11:36] brylie commented on #27
@shailee-m, would you please take #82 as a continuation of this task, so we can import these for demonstration purposes?

[2021-10-05 11:40] brylie opened #90 "Create Team page importer"
Create an importer for the Team page, including page media. The page should be constructed with the Guteneberg editor (default widgets) as per #31. Note, we may need to wait for a custom Gutenberg Users widget (#72) before completing the Team page design.

[2021-10-05 11:41] brylie commented on #33
Closing this issue, since we already have a task to modify the default page template #58

[2021-10-05 11:41] #33 closed

[2021-10-06 11:49] brylie opened #91 "Add `wp-plugin-cc-gutenberg-blocks` as Git submodule"
We are beginning to develop custom Gutenberg blocks. Those blocks will be part of a WordPress plugin contained in a separate `wp-plugin-cc-gutenberg-blocks` repository.

## Task

- [ ] Add the `wp-plugin-cc-gutenberg-blocks` to this project as a Git submodule

[2021-10-06 12:46] #91 closed

[2021-10-06 12:52] brylie opened #93 "Determine how best to include base styles from Bulma"
The CC Vocabulary project is currently based on Bulma. However, neither the `creativecommons-base` theme nor `wp-theme-creativecommons.org` projects seem to include base styles from Bulma. This has become apparent after adding the `wp-plugin-cc-gutenberg-blocks` to this project, as it generates unstyled output:

![image](https://user-images.githubusercontent.com/17307/136205796-f9ae5442-0069-4735-

[2021-10-06 13:07] brylie commented on #73
This issue is on hold pending internal discussion whether to deprecate the `new-www-plugin`.

[2021-10-06 16:23] brylie commented on #72
@shailee-m, it turns out I was mistaken about how WordPress roles work, based on the discussion in #94. So, please disregard the idea of filtering users by WordPress role.

We will have to somehow include the custom `groups` taxonomy as a dependency of the Gutenberg "users list" block.

[2021-10-07 12:46] brylie opened #95 "Review session with Ony (2021-10-07)"
We started by looking through the mockups.

- [x] #99
- [x] #100
- [x] #106
- [x] #102
- [x] #103
    - alternatively, try making all of the logo images the same height

TODO: check out the post widget and configuration options

[2021-10-09 07:14] shailee-m commented on #72
@brylie we need to switch to wordpress/scripts for this. The cgb-scripts have a babel support [issue](https://github.com/ahmadawais/create-guten-block/issues/85). Currently, this cannot be imported `import { store as coreStore } from '@wordpress/core-data';`

[2021-10-10 17:27] sarojvrc commented on #49
Hey @brylie , I'm unable to run docker in my system. Getting issues with docker.

[2021-10-11 06:35] brylie opened #96 "Use `@wordpress/scripts` for `wp-plugin-cc-gutenberg-blocks`"
Continuing from #72

Our current `wp-plugin-cc-gutenberg-blocks` project is based on `create-guten-block` scaffold library. However, the `create-guten-block` library seems to have an import issue related to Babel. Furthermore, the recommended way to organize Gutenberg blocks seems to be the `wordpress/scripts` library.

@shailee-m suggests:

## Goals

- the `wp-plugin-cc-gutenberg-blocks` package

[2021-10-11 06:54] brylie commented on #49
@sarojvrc what is the error you get related to Docker? What are the steps you take to install Docker?

[2021-10-12 05:59] brylie opened #97 "Set up browser-based development environment for project"
Based on the discussion in #49

Not all of our contributors can install/run Docker. Rather than leave them to figure out how to set up a development environment on their own, perhaps we can use our Docker configuration to provide a development environment in the browser.

## Task

- [ ] provide a browser-based developer environment, such as GitHub Codespaces or [Gitpod](https://www.gitpod.io/) as

[2021-10-12 08:54] brylie opened #99 "ensure that Vocabulary font sizes adhere to Figma mockups"
During a recent review session #95 , we noticed that the preview font sizes seemed to differ from the Figma mockups.

## Task

- [x] ensure that the Vocabulary font sizes adhere to the font definitions in our Figma mockups

[2021-10-12 08:55] brylie opened #100 "ensure Vocabulary font colors adhere to Figma mockups and accessibility guidelines"
During a recent review session #95, we noticed that font and background colors seemed to differ from the Figma mockups.

## Task

- [ ] ensure that the Vocabulary font and background colors adhere to the font definitions in our Figma mockups

[2021-10-12 08:55] brylie opened #101 "add brand color pallette in Gutenberg to adhere to style colors (MVP)"

[2021-10-12 08:55] brylie opened #103 "try the three-row of three columns for the "platforms that use the licenses" section, so that content aligns better"

[2021-10-12 09:59] brylie opened #105 "Determine how best to let content editors insert buttons adhering to CC styleguide"
## Problem

Several of the pages in our Figma mockups contain buttons, such as the "donate" call-to-action on the Home page. Content editors need a simple way of adding buttons that adhere to the CC styleguide.

## Description

- determine what options we have for allowing content editors to add/edit buttons via Gutenberg
- identify trade-offs with various solutions
- choose a solution
- optionall

[2021-10-13 07:43] #97 closed

[2021-10-13 09:43] brylie opened #108 "Port relevant parts of `new-www-plugin` to `wp-plugin-creativecommons.org`"
The [`new-www-plugin`](https://github.com/creativecommons/new-www-plugin/) contains code that was intended for the creativecommons.org site redesign. However, we are currently not sure what parts of the plugin code remain relevant. Furthermore, the name `new-www-plugin` is inconsistent with our other WordPress projects, which are prefixed with `wp-plugin-` and `wp-theme-`.

## Task

- [ ] Audit th

[2021-10-15 11:19] brylie commented on #96
I've added a "Goals" section to this task description to clarify the project structure and purpose, with links to relevant WP docs.

[2021-10-15 12:10] shailee-m commented on #96
@brylie Okay will add  create-block foe scaffolding

[2021-10-15 13:56] #96 closed

[2021-10-15 20:16] shailee-m commented on #72
I got around to adding custom taxonomies for the user. Here, except for querying the user in php, there is another npm module wordpress/data thats allows querying the users. Should I look into it?

if it works we wouldn't have to maintain a lot of php code in the plugin repo

[2021-10-16 08:19] brylie commented on #95
Thanks, @MuluhGodson! As you probably notice, it consists of several sub-issues in order to break the work into smaller pieces. I've assigned you to this task. Please comment in each issue as you begin working and try to keep pull requests limited to resolving one issue at a time.

Are you able to run the development environment for this project on your local computer, or would you prefer to use t

[2021-10-16 08:26] brylie commented on #72
We have existing code defined in the `new-www-plugin` for

- [defining the custom taxonomy](https://github.com/creativecommons/new-www-plugin/blob/master/cc-author/cc-author-group-taxonomy.php) and
- [querying users based on role](https://github.com/creativecommons/new-www-plugin/blob/6d184e659b6d9c30d6bc94372b694e8240d88c94/cc-author/shortcodes/cc-author-shortcode-team.php#L39-L46)

One idea is t

[2021-10-16 08:38] MuluhGodson commented on #95
@brylie Thank you.
Yes I have already set it up on my computer. Installed WordPress and ran it.
The task that are involved with Vocabulary, it's the @CreativeCommons/Vocabulary repository I have to work on? Or still this one?

[2021-10-16 09:05] brylie commented on #72
Shall we keep this issue open? I'll open it for now. Let me know if you would like a different issue, or to continue working in this one.

[2021-10-16 10:27] brylie commented on #72
@shailee-m, I have updated the task description and resources section to add links to the relevant PHP code for defining the taxonomy, getting a list of taxonomy terms (for a select menu), querying the users based on taxonomy term, and rendering the output templates.

[2021-10-16 10:28] brylie commented on #72
I've also clarified the issue title to indicate the desired result.

[2021-10-16 13:34] MuluhGodson commented on #100
@brylie I have a question that needs your guidance
The screenshot below is from Figma. The color here is Dark Gray. On the mock it displays the RGB value as `RGB(118,118,118)` and this is what has been used in the Vocabulary package. However, when you click on the color to check its properties, it's actual RGB value on FIGMA is `RGB(120,120,120)`. So in this situation which am I to consider as the

[2021-10-17 08:31] MuluhGodson commented on #100
Okay, so I went through each colour to be sure it's value was as specified on Figma. All the colors are correctly defined. Each color with a tick means it's values are accurate and consistent as defined in the sass file [Vocabulary Colors](https://github.com/creativecommons/vocabulary/blob/main/src/styles/vocabulary/color.scss) on `CreativeCommons/Vocabulary`
I'm not sure if a PR should be opened

[2021-10-17 08:38] brylie commented on #100
Yeah, this was part of our discovery process to audit theme compliance. Next we will need to make sure font sizes are consistent. We can close this issue as complete on Monday after checking in with @annatuma

[2021-10-17 08:40] MuluhGodson commented on #99
Hello @brylie
I will be happy to continue with this.

[2021-10-17 08:41] brylie commented on #100
OK, at your convenience. Remember to enjoy your weekend too :smile:

[2021-10-17 12:27] annatuma commented on #100
Thanks for the audit @MuluhGodson this is excellent work. If Figma matches Vocabulary completely for all of the color definitions then we are in good shape there.

@brylie let's try to figure out why there were some mismatches when using Vocabulary style sheets in the test environment for the main CC site.

Fine by me to close this issue!

[2021-10-17 20:41] #100 closed

[2021-10-17 20:42] brylie commented on #100
@all-contributors please add @MuluhGodson for research

[2021-10-17 20:44] brylie commented on #100
@all-contributors please add @MuluhGodson for research

[2021-10-19 12:42] brylie opened #110 "Verify Gutenberg font sizes adhere to Vocabulary guidelines"
We have verified that our Vocabulary font sizes adhere to the Figma mockups (#99). However, we want to be confident that Gutenberg fonts have defaults that closely track the Figma mockups. Therefore, Gutenberg allows users to select font sizes using size adjectives like "small," "medium," "large," and "extra-large" that map to CSS size units.

## Task

- [x] determine the Vocabulary base font size

[2021-10-19 15:18] #99 closed

[2021-10-20 06:29] MuluhGodson commented on #110
@brylie I think for this we may be able to use the same approach we are using with colors to override the custom font sizes to match those of Figma.
https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#block-font-sizes

[code]
So we can override all the font sizes to adhere to Figma specifications too.

[2021-10-21 10:42] brylie opened #111 "Copy User `groups` custom taxonomy from `new-www-plugin` to `wp-plugin-creativecommons.org`"

[2021-10-21 12:19] brylie commented on #111
@Nurganym, thanks! I've updated the description to specify which parts of the code to copy to the related destinations. Please let me know if I can improve the issue description.

[2021-10-26 12:11] brylie opened #112 "Add placeholder image for use during development"
After discussing with @annatuma and @TimidRobot how to include images in this project related to Gutenberg page layouts, we agreed to use a basic placeholder image during the development process. That way, we don't need to worry about the attribution of all the images in the Figma mockups for now.

## Task

- [ ] find a generic placeholder image that has a CC license
- [ ] include the generic plac

[2021-10-30 09:13] cillacode commented on #82
update on the project page build, in full width
![image](https://user-images.githubusercontent.com/54538525/139527200-1da08dde-918f-4019-bd5a-6249b78dd1ed.png)

[2021-10-30 09:22] cillacode commented on #82
I used a column 50:50 for the first section and added a heading block in the first column block and also a paragraph for the text below, in the second column i added the image block to include the  picture and also added another image block to include the " IMAGE BY" reason being that adding the picture to overlay the main image was static in the middle.

[2021-10-30 09:24] cillacode commented on #82
for the second section in full width
![image](https://user-images.githubusercontent.com/54538525/139527551-238d34f0-e603-442a-b93a-8e91254f4acc.png)

[2021-10-30 09:43] cillacode commented on #82
i used the block column of 50:50 with a background color of gray, in the first column i added the first block paragraph and separated with a spacer block and added the second paragraph, below the paragraph i added a spacer block between the second paragraph and the button block, lastly added the button block to include the "Visit an External site"

 in the second section i used the heading block t

[2021-10-30 12:05] Akpjunior94 commented on #83
Progress Update
Result of trying to remove the default Gutenberg column space on the mission and vision section so that it looks more like the design.  After overwriting the default style for second column and replacing it with the style below

[code]
Here is the result
![image](https://user-images.githubusercontent.com/56775903/139532107-5716fa8d-d1b8-4e0b-b450-cd31f3fc1daf.png)

N.B: All overwri

[2021-10-31 16:42] MuluhGodson commented on #103
@brylie So I tried a new layout structure and got the results below:
The underlying structure is as follows:
- `Column`
  - `Column` (vertical align middle)
     - `Column`
        - `Image`
     - `Column` (vertical align middle)
        - `Paragraph` (text align center)
     - `Column` (vertical align bottom)
        - `Heading` (large font, text align center)
  - `Column`
     - `Column`

[2021-11-01 07:35] #116 closed

[2021-11-01 07:37] brylie opened #117 "Non-static method CC_Org_Filters::remove_global_menu_transient() should not be called statically"
When editing theme menus, the following deprecation notices appears at the top of the page:

## Reproduction

1. enable wp-theme-creativecommons in `project_creativecommons.org`
2. enable a menu (in any menu area?)
3. See error.

[2021-11-01 07:41] brylie commented on #49
Closed by https://github.com/creativecommons/creativecommons-base/pull/151

[2021-11-01 07:41] #49 closed

[2021-11-01 07:55] brylie commented on #103
Very thorough work @MuluhGodson :smiley:

The logo alignment issues from the single `columns` block approach seem preferable to the complexity and mobile reflow discontinuity from the nested `columns` experiment.

@annatuma, what are your thoughts?

[2021-11-01 07:57] cillacode commented on #82
UPDATE:
using Additional CSS,  i was able to apply some css styles and make adjustments,
![image](https://user-images.githubusercontent.com/54538525/139639891-ed0576ea-87a2-4fbb-b286-ce39d29b1c25.png)

[2021-11-01 07:58] MuluhGodson commented on #103
@brylie that's very correct. That's the simplest way to go with just the standard Gutenberg blocks.

[2021-11-01 08:00] MuluhGodson commented on #35
@brylie
If no one is assigned to this I will love to work on it and document the structure

[2021-11-01 08:01] cillacode commented on #82
for the Blog, section the button class is being tied to just one class name, i tried to assign a different class name to the button but it throws and error, so for now i have been able to add styles to the "VISIT AN EXTERNAL SITE" button, still working on the second button and blog section
![image](https://user-images.githubusercontent.com/54538525/139640266-61bb71cd-4eb2-4b6f-93b3-b5b2bd37806a.pn

[2021-11-01 08:46] brylie commented on #83
It looks like the bottom of the columns are misaligned:

![image](https://user-images.githubusercontent.com/17307/139645726-2f3d0cad-5f6f-4daf-8ded-7736a10cf895.png)

For what it's worth, we can set the column background color so that the color fills the entire column height.

[2021-11-01 08:48] brylie commented on #103
OK. I believe we can close this issue once we get confirmation from @annatuma

[2021-11-01 08:49] brylie commented on #35
@MuluhGodson the 20A page has been moved to "post-launch development" since it is not timely. We should probably focus on other tasks from the "Minimum-viable development" or "WordPress theme discovery" milestones.

[2021-11-01 08:50] brylie commented on #82
What were the specific CSS rules and how were they applied?

[2021-11-01 08:52] MuluhGodson commented on #110
@brylie
About this issue, will you prefer it to be handled the WordPress recommended way as we did with the colors? If so I will love to experiment with it and see what works best.

[2021-11-01 09:22] Akpjunior94 commented on #83
Okay.. I will do that and revert.

[2021-11-01 09:28] cillacode commented on #104
@brylie   should i update this issue?

[2021-11-01 09:39] brylie commented on #110
@MuluhGodson, yes. The approach you showed above looks idiomatic.

[2021-11-01 09:41] brylie commented on #104
@cillacode, sure. I've assigned you.

The solution should be something along the lines of

[code]

[2021-11-01 10:22] cillacode commented on #82
Reference to the second section from mockup
![photo_2021-11-01_11-18-36](https://user-images.githubusercontent.com/54538525/139657270-580c2c74-ee82-42ed-abdd-f4e05ce022e6.jpg)

[2021-11-01 10:22] cillacode commented on #82
for the Blog, section the button class is being tied to just one class name, i tried to assign a different class name to the button but it throws and error, so for now i have been able to add styles to the "VISIT AN EXTERNAL SITE" button, still working on the second button and blog section
![image](https://user-images.githubusercontent.com/54538525/139640266-61bb71cd-4eb2-4b6f-93b3-b5b2bd37806a.pn

[2021-11-01 10:28] brylie commented on #82
We don't need to worry about the button classes. Just use the Gutenberg default classes and configuration options. E.g., the Gutenberg button configuration allows us to change corner roundness and colors, which are sufficient to meet the spirit of the design.

[2021-11-01 10:30] cillacode commented on #82
oh Alright @brylie i will update that. thanks for the clarification

[2021-11-01 11:02] brylie opened #118 "Create "Spreading Knowledge" landing page using Gutenberg blocks"
Continuing from #18

We recently agreed to use Gutenberg editor as much as possible to build pages for creativecommons.org. Now, we need to test how well Gutenberg default widgets support each page design.

![image](https://user-images.githubusercontent.com/17307/141278384-2a14d472-d700-4cdb-b53a-870c60e25f00.png)

## Task

Try to realize the creativecommons.org [News page mockup](https://www.figm

[2021-11-01 11:05] brylie commented on #118
For simplicity, I recommend that we display each of the "latest post" widgets for the categories the same rather than having the large category display in the center surrounded by smaller category displays. This would make the Gutenberg block structure similar to the following:

- `columns`
    - `column` - for each category
        - `heading`
        - `latest posts` - with background color show

[2021-11-01 11:08] brylie commented on #118
@annatuma due to the complexity of this layout, I would like to move it to "post-launch development" pending discussion of how to reconcile the two "Spreading Knowledge" layouts. In effect, I'm not sure we need both designs and it is unclear how to navigate between them.

![image](https://user-images.githubusercontent.com/17307/139662534-f5fa2df4-7e8a-4c7d-bc92-cebef8ee7f15.png)

[2021-11-01 11:38] cillacode commented on #104
Alright @brylie  working on it

[2021-11-01 17:22] annatuma commented on #103
Briefly discussed with @brylie and they'll coordinate with you @MuluhGodson to develop a summary of the issue for final approval, given all of the back and forth on comments. (p.s. thanks for the thorough work!)

[2021-11-01 17:27] brylie commented on #103
@MuluhGodson, would you share a WordPress export of your latest version of the page?

[2021-11-01 17:30] MuluhGodson commented on #103
@brylie shall I do it as a PR referencing this issue?

[2021-11-01 17:32] brylie commented on #103
Yep, thanks! That will help me better understand the exact Gutenberg block structure.

[2021-11-01 18:36] MuluhGodson commented on #103
@brylie I opened a draft PR here https://github.com/creativecommons/project_creativecommons.org/pull/119 with the export

[2021-11-02 08:19] brylie commented on #118
@annatuma clarified that this page should be part of the minimum-viable development, distinct from the category template.

[2021-11-02 08:24] brylie commented on #37
Closing, as superseded by #118

[2021-11-02 08:24] #37 closed

[2021-11-02 08:42] Nurganym commented on #90
I would like to solve this problem.

[2021-11-02 08:45] brylie commented on #90
Thanks. @Nurganym! I'll assign you.

[2021-11-02 11:10] brylie commented on #110
@MuluhGodson, I've updated this issue description to clarify that we want to keep the Gutenberg font-size adjectives while ensuring the values align with the Vocabulary defaults. Also, if the Gutenberg "normal" font size matches the Vocabulary baseline, we may be able to close this issue without writing any code.

[2021-11-02 11:14] MuluhGodson commented on #110
@brylie Yes the Gutenberg `normal` font size matches the vocabulary baseline which is the `body normal` size.

[2021-11-02 11:15] brylie commented on #110
OK, cool. The initial step of the related issue should be to identify whether any action is required. I failed to make that clear when creating the issue. Sorry for the confusion.

[2021-11-02 11:18] brylie commented on #110
Also, thanks for your quick work here. You've demonstrated adeptness at navigating the codebase as well as figuring out how to override Gutenberg functionality, sometimes through undocumented means. :skateboard:

[2021-11-02 11:21] brylie commented on #110
@annatuma, @MuluhGodson was able to verify that Gutenberg and Vocabulary use the same default font size. Likewise, the Gutenberg font size options give reasonable editorial control over font size in specific page texts. So, with your agreement, I  believe we have a consensus that this issue can be closed as "won't fix."

[2021-11-02 11:23] MuluhGodson commented on #110
but some of the font sizes don't quite match:
`Huge` on WP is has a font size of 42px and seems to be the largest font size (with the exception of manually entering the size). On vocabulary, the largest font size is the `value` size which is 70px.

The sizes that match perfectly are:

- `small` on WP which matches `caption` on Figma
- `normal` on WP which matches `body normal` on Figma
- `Large` o

[2021-11-02 11:24] MuluhGodson commented on #110
Thank you. It is exciting for me and I have also learned so much.

[2021-11-02 13:44] #80 closed

[2021-11-02 13:51] MuluhGodson commented on #95
@brylie All the sub-issues in this issue have been handled. are there any more task that can be added here to be handled?

[2021-11-02 14:14] MuluhGodson commented on #20
@brylie
![image](https://user-images.githubusercontent.com/40151808/139863891-603e8c9a-b1de-4e26-be9e-6a60989f8471.png)

A recent PR was merged with some styling added to the custom CSS file that concerns the `.wp-block-group` class.
If assigned, I can just add the required `1em` padding to it and I believe that should handle this.

[2021-11-02 14:32] MuluhGodson opened #121 "[Feature] Margins and Paddings for the Homepage"
## Problem
After recreating the Homepage Figma mockup on WordPress using Gutenberg blocks, we noticed that padding and margins are not properly configured and cannot be easily arranged from the block settings themselves.

## Description
- [x] Investigate the best possible solution to adding margins and padding generally.
- [x] https://github.com/creativecommons/project_creativecommons.org/issues/2

[2021-11-02 14:37] MuluhGodson commented on #121
@brylie The way I see it, a great solution will be to add some controls to the columns and group blocks that add sliders for paddings and margins. This is similar to the way we add a border radius to the default buttons block with a slider.
![image](https://user-images.githubusercontent.com/40151808/139868063-8e699a61-5678-4ace-83dd-cd05cc7f9bd7.png)

That way, each column or group can be customiz

[2021-11-02 18:12] brylie commented on #95
Closing since all sub-issues are complete.

[2021-11-02 18:14] brylie commented on #20
@MuluhGodson, I've assigned you to the issue.

[2021-11-02 18:18] brylie commented on #121
@MuluhGodson, I agree that your proposal would be in the long-term interest of this project as well as the Gutenberg editor. However, I'd prefer to see the feature land upstream in Gutenberg core.

In the short term, so that we can aim got a December launch, let's start with CSS rules.

Add a follow-up issue describing your proposal in more detail and I'll add it to the "post-launch development" m

[2021-11-02 18:19] brylie commented on #121
Good idea to use the `spacer` block. Let's give it a try.

[2021-11-02 18:21] brylie commented on #121
I assigned you here since you're actively researching the issue and already working on #20

[2021-11-02 18:23] annatuma commented on #110
Sounds fair to me. If we do have HUGE in use on any of the mockups we can simply manually override.

@brylie can you make sure to document what matches what (i.e. small = caption, normal = body normal, etc.) somewhere central, for reference when we train our content editors on how to build/edit pages.

[2021-11-02 18:29] MuluhGodson commented on #121
@brylie Tank you.I will get on it.

[2021-11-02 18:39] MuluhGodson commented on #20
@brylie the padding added by wp when we add a background color is:
![image](https://user-images.githubusercontent.com/40151808/139925080-467558b6-20a3-4826-aa54-4eba6f91430d.png)

Should I maintain this padding size as the default padding size for the group blocks or a padding size of `1em` as you demonstrated in the gif above

[2021-11-03 04:42] Akpjunior94 commented on #83
Final Outcome
![image](https://user-images.githubusercontent.com/56775903/140010409-fe88d425-6fed-45a8-a2d3-7d1ce0b289a4.png)

[2021-11-03 07:48] brylie commented on #83
@Akpjunior94, that looks great!

[2021-11-03 07:49] brylie commented on #83
@Akpjunior94, please remember to open a pull request with your export file so I can test things locally :smiley:

[2021-11-03 07:50] brylie commented on #20
Consistency is key. The example in the gif was just proof-of-concept. So, let's use the same values as added by WP rather than my demo value.

[2021-11-03 08:08] Akpjunior94 commented on #83
Okay I will do that

[2021-11-03 09:34] cillacode commented on #82
@brylie on this issue thanks

[2021-11-03 09:59] brylie commented on #82
@cillacode, please create a pull request with a WordPress export XML file containing the Project page. That way, I can test the importer locally and review the work.

[2021-11-03 10:36] brylie opened #122 "Test the content migration/conversion flow from WordPress classic to Gutenberg editor"
As part of our website migration to the new theme, we need to make sure that authors edit existing content in the Gutenberg editor. The content migration may involve some export/import workflow or a content migration tool or script.

## Task

- [ ] export a sample of content from the creativecommons.org website
- [ ] test importing the content into the work-in-progress project
- [ ] identify wheth

[2021-11-03 10:57] brylie commented on #122
As would be expected, the WordPress content importer works out of the box including pulling in media. However, it will leave the imported content in "classic editor" mode, where all of the content is in a single rich text area instead of blocks. That way, editors can still edit the old content using the classic editor by default, if needed.

When viewing a blog post or page created with the WordPr

[2021-11-03 12:14] cillacode commented on #81
hi @brylie i did a page block for the program page which i will give update on now,
For the first section of the page i used the Column block 50:50
the first column contains the Heading which i used a Heading block to include, the first header title, then added another header block to capture the second heading tittle also added a spacer to create space between the heading and the first  paragraph

[2021-11-03 12:29] cillacode commented on #81
For the second section of the page i used
A single column of 100 to create a layout for the heading and added a  Heading block for the Header title, and added a paragraph block to include the text beneath the Header title.
The next section includes a Column 33:33:33,
In each column contains a Separator block which created the line above the text.
Then a Heading block was added into the column to i

[2021-11-03 12:38] cillacode commented on #81
For the third section of the page
I created layout using column 100 with a background color
Added a Heading block
Added a button block, center aligned

![image](https://user-images.githubusercontent.com/54538525/140060563-eed95f98-4cb1-4fec-beb6-1dcf41d06ac7.png)

[2021-11-03 12:39] cillacode commented on #81
i will be creating a PR for your review @brylie thanks

[2021-11-03 13:10] brylie commented on #81
When opening your pull request, link it to this issue by including "Closes #81" in the pull request description.

[2021-11-03 13:52] cillacode commented on #81
When i made the second push from my code i wasn't given the option to include description, i guess its due to the first commit i had so it automatically set it in the pull request line

[2021-11-03 14:31] #82 closed

[2021-11-03 14:31] #81 closed

[2021-11-03 15:09] MuluhGodson opened #124 "[Feature] Add inline colors with the Gutenberg Editor"
## Problem
On some pages on the Figma mockup, we have some pages that show paragraphs with colours applied to specific words:
#### 20A Mockup
![image](https://user-images.githubusercontent.com/40151808/140084002-8ab8323c-ab06-4ba0-9d88-e5b13ae4608e.png)

In the design above, you can see the words `knowledge`, `equity`, and `creativity` in their own distinct colours.
On the Gutenberg editor, it's p

[2021-11-03 16:59] #112 closed

[2021-11-03 17:18] #20 closed

[2021-11-04 00:48] cillacode commented on #79
@brylie i can work on this

[2021-11-04 03:41] Akpjunior94 commented on #84
@brylie let me work on this and create the import file afterwards

[2021-11-04 03:42] Akpjunior94 commented on #88
@brylie let me work on this thereby creating the import file.

[2021-11-04 06:17] MuluhGodson commented on #66
Hello @brylie. I tinkered around with this, first using the structure proposed above:
![image](https://user-images.githubusercontent.com/40151808/140264713-47c097bb-4b53-44b9-ba4b-10d764e862ad.png)
and it resulted in unequal heights as you said:

#### Frontend render
![image](https://user-images.githubusercontent.com/40151808/140264759-ddaeecd8-f1c3-47fb-a386-b04996880617.png)

I placed all the co

[2021-11-04 08:19] brylie commented on #124
When adding inline colors, is the markup changed by adding a `span` with `class=""` attribute?

I want to keep custom code to a minimum, so less PHP/JS is better. E.g., as you have demonstrated previously, our project maintainability will be better if we can stick to dynamically generated CSS.

[2021-11-04 08:37] brylie commented on #110
@annatuma, I've started an internal "CC Gutenberg publishing guide" and shared it with our primary content editors. I'll close this issue now.

[2021-11-04 08:37] #110 closed

[2021-11-04 08:37] MuluhGodson commented on #124
With WP, when we change the color of a text,
WP adds a class to that text `.has-text-color`  which is how WP is able to tell which text should change colour before adding the color with  `.has-{color-slug}-color` but this is applied to the whole block of text.

When you add an inline color, WP has another class it adds to that specific text which is `.has-inline-color` before adding the color with

[2021-11-04 08:51] brylie commented on #79
Thanks, @cillacode! I'll assign you :smiley:

[2021-11-04 09:23] brylie commented on #88
Sure thing, @Akpjunior94. I've assigned you.

[2021-11-04 09:32] brylie commented on #66
Woah, good find @MuluhGodson! Gutenberg is a bit opaque at times. This layout fix looks like an excellent addition to our page importer(s).

[2021-11-04 09:36] MuluhGodson commented on #66
@brylie thank you.
I will create an export for this page with this addition and open a PR.

[2021-11-04 10:15] brylie commented on #124
Would it be possible to add the custom class to the `style.css` file, to avoid doing things in PHP?

[2021-11-04 10:21] brylie commented on #90
@Nurganym go ahead and open a draft pull request with your current changes so we can review/discuss the layout.

[2021-11-04 10:27] brylie commented on #66
@MuluhGodson, we just merged https://github.com/creativecommons/project_creativecommons.org/pull/126, which contains the initial "About CC" page. Go ahead and base your improvements on the importer that @Akpjunior94 created. Override the importer file with your changes.

[2021-11-04 10:27] #95 closed

[2021-11-04 10:39] MuluhGodson commented on #124
The action here is what I originally wrote to generate the CSS classes necessary for the colors to be rendered correctly:
https://github.com/creativecommons/creativecommons-base/blob/bd793f824f6d00a71e50bfb8ca00d4f32f84bbc0/functions.php#L356

What that action does is, generate an inline CSS style as:
[code]
But this is done via PHP, so to turn this into a CSS solution I just have to copy these CS

[2021-11-04 11:02] MuluhGodson commented on #66
I think this issue is related to the "Programs" page and not the "About CC" page.

[2021-11-04 11:14] brylie commented on #124
OK, the PHP solution is fairly clean and minimal. Let's go with that.

[2021-11-04 11:42] brylie commented on #66
Ah, good catch.

[2021-11-04 12:32] MuluhGodson commented on #121
@brylie
The best option to add margins without any custom solution will be to use Gutenbergs built-in `spacer` block:

#### You can click on the spacer handles to adjust the height.
![chrome-capture (2)](https://user-images.githubusercontent.com/40151808/140313493-3e7eb349-bf17-4ff8-bc65-364a46370c5b.gif)

#### You can also use the slider on the block settings panel to adjest the height
![chrome-c

[2021-11-04 13:19] Akpjunior94 commented on #88
Progress Update.
![image](https://user-images.githubusercontent.com/56775903/140319339-107104b8-faf1-4486-9dcd-8217003b87fa.png)

There following Gutenberg block was used to achieve the above:
Group block
Heading
paragraph
button
image block

NB: the Icon is achieved using SVG embed inline code..

[2021-11-04 15:10] MuluhGodson commented on #66
The solution I am suggesting is to add a new CSS class:
[code]
We can add this class by selecting each column and adding the CSS class:
![chrome-capture (4)](https://user-images.githubusercontent.com/40151808/140338693-aaffd140-f152-4f86-9d46-866f49603c51.gif)

With that, all the columns will have the same height as shown (notice the columns on the blue background are now the same height):
![image

[2021-11-05 07:46] cillacode commented on #79
@brylie the Gutenberg editor has block section called widget which contains the archive and categories block and can replicate the hard-coded Archives and Categories
![image](https://user-images.githubusercontent.com/54538525/140475807-f39f65a9-c963-4b0d-a45d-877a1890d825.png)

[2021-11-05 07:55] brylie opened #128 "Add Licenses service to Docker Compose with reverse proxy service configuration"
**NOTE:** this task may be made obsolete by https://github.com/creativecommons/project_creativecommons.org/issues/145

The Licenses service is a critical component of the creativecommons.org website. The Licenses code is part of a stand-alone Django project in its own repository. In order to integrate the Licenses project into the creativecommons.org website, we use a reverse proxy to map several

[2021-11-05 07:56] brylie commented on #88
Looks great! I'm eager to test out the import file. Will you be opening a pull request with your progress soon?

[2021-11-05 07:59] brylie commented on #66
That solution seems reasonable for the minimum-viable development.

Out of curiosity, are there any discussions on StackOverflow or the Gutenberg GitHub issues related to column content height? It seems like this would be a fairly common issue and might be on the Gutenberg roadmap.

[2021-11-05 08:23] brylie commented on #79
That's a good idea. We can use that block on pages where the Archives list might be desirable.

For now, let's clean up the template(s) where the Archives and Categories sections are hard-coded.

[2021-11-05 08:25] Akpjunior94 commented on #88
yeah. I will do that @brylie.

[2021-11-05 08:30] cillacode commented on #79
yes yes @brylie sending a PR soon

[2021-11-05 08:40] brylie commented on #128
@TimidRobot, would you be able to take this task?

[2021-11-05 08:54] MuluhGodson commented on #66
@brylie  yeah it has been asked a lot in the forums.
Most of the solutions people go with involve downloading a plugin (custom made column block) with options for same height columns.

[2021-11-05 09:12] Akpjunior94 commented on #88
Final progress
![image](https://user-images.githubusercontent.com/56775903/140485605-c3f5de29-d694-4aa5-98de-f9624a343a33.png)

Note: I hid the title header for this particular page since the title cannot be styled or manipulated from the guternberg editor. created the section for the support us and image using `group ` `column ` `paragraph ` `button ` and `image ` block

For the second section us

[2021-11-05 14:16] MuluhGodson commented on #121
@brylie will the `spacer` block be sufficient for adding margins?

[2021-11-06 03:34] MuluhGodson commented on #67
Hello @brylie
I did some explorations about this and this is what I could put together.
The Gutenberg editor has a block called `separator` that can emulate the look of a top border.
In the background, WP just adds an `<hr>` element.

![chrome-capture (5)](https://user-images.githubusercontent.com/40151808/140595844-4f6a7287-e98c-4b33-9a8a-04b59424a4ff.gif)

Doing that produces the following rende

[2021-11-06 03:40] MuluhGodson commented on #121
@brylie
I deleted some two comments as they may no longer be relevant as well as this PR I made https://github.com/creativecommons/creativecommons-base/pull/153

As of recent, WP merged a PR which gives users the possibility of adding margins and padding to blocks.

https://github.com/creativecommons/creativecommons-base/pull/153

Here is a video snippet that was shared with the PR.
https://user-i

[2021-11-06 03:53] MuluhGodson commented on #67
There is a PR currently open on WP that handles a borders feature for blocks.

https://github.com/WordPress/gutenberg/pull/31737

with this snippet:
![border-pr](https://user-images.githubusercontent.com/40151808/140597006-3e7c900f-309a-4c72-9f5d-f0d29b387cca.gif)

[2021-11-06 04:03] MuluhGodson commented on #67
Given that December is a dateline and some of these features from WP may not be added by then, I went through all the Mockups on Figma to see how many pages have content with borders:

### CC-Lincenses page
#### Description
- Top thick `Dark-slate-blue` border
- Gray border for [left, bottom and right]
- Same background colour
![cc licenses](https://user-images.githubusercontent.com/40151808/14059

[2021-11-06 04:04] MuluhGodson commented on #67
There is a PR currently open on WP that handles a borders feature for blocks.

https://github.com/WordPress/gutenberg/pull/31737

with this snippet:
![border-pr](https://user-images.githubusercontent.com/40151808/140597006-3e7c900f-309a-4c72-9f5d-f0d29b387cca.gif)

[2021-11-06 04:10] MuluhGodson commented on #121
In the meantime, for the minimum viable development, margins can be added using the spacer block:

![chrome-capture (2)](https://user-images.githubusercontent.com/40151808/140597417-d2e10885-7e55-4021-abb1-65dc2ea918d4.gif)

The height of the spacer block can also be adjusted in the settings panel
![chrome-capture (3)](https://user-images.githubusercontent.com/40151808/140597427-f09372f6-7b83-4a17

[2021-11-08 09:54] brylie opened #131 "Audit extent of `new-www-plugin` usage in existing creativecommons.org website"
The creativecommons.org website contains several custom plugins, developed in-house:

![image](https://user-images.githubusercontent.com/17307/140720391-f5a407ef-e1c4-43b9-bb9d-2018f1b74f04.png)

We need to understand whether/how those plugins are used so that we can plan to migrate them accordingly.

## Task

- [ ] locate source code for the Creative Commons plugins that are enabled on creativeco

[2021-11-08 10:03] brylie opened #132 "Add endpoints to serve WordPress navigation menu and page footer"
Note: may be obsoleted by #176

The creativecommons.org website consists of several distinct software components, namely:

- WordPress content management for primary website content and navigation
- Django Licenses project for serving the licenses page

We want to ensure a consistent user experience between the WordPress and Django projects, so they feel like a seamless website. To do so, we need

[2021-11-08 10:19] brylie opened #133 "Audit creativecommons.org plugins to determine which we can do without"
The creativecommons.org website uses over 30 plugins, some of which are developed internally. Since WordPress plugins are the most significant source of security vulnerabilities, we should do our best to simplify our website dependencies.

## Task

- [ ] audit the current plugins used on creativecommons.org to determine which we can deprecate
- [ ] identify any plugins that may be out of date or i

[2021-11-08 10:24] brylie opened #134 "Determine whether to leave comments enabled on the new creativecommons.org"
The creativecommons.org comments section currently contains over 1,000 comments that are marked as pending approval.

![image](https://user-images.githubusercontent.com/17307/140725676-2c093cca-5af1-4189-8c7d-078a7023e939.png)

We should have some internal process/resourcing to moderate comments if we intend to allow commenting on the creativecommons.org website.

## Task

- [x] determine whether

[2021-11-08 10:31] brylie commented on #66
OK, cool. Let's go with the custom CSS class. I've started a document for our Gutenberg new user training that would be a good place to mention this layout quirk.

[2021-11-08 10:37] #124 closed

[2021-11-08 11:39] MuluhGodson commented on #22
@brylie Hello. I did some test on this and got some great results for a start.
The user will have to add an additional class to the image he wants to overlay the caption as such. These are the results I got.
![image](https://user-images.githubusercontent.com/40151808/140735320-e0a1024a-b784-43b8-af77-e67e21cd9204.png)

For the mobile render:
![image](https://user-images.githubusercontent.com/40151

[2021-11-08 11:44] MuluhGodson commented on #22
When the caption is long, the overlay may cover some parts of the image so images have to be chosen carefully. It is best for images that occupy a wider width with shorter captions.
![image](https://user-images.githubusercontent.com/40151808/140736002-a25a0474-dd13-4097-a080-cc170cb6daeb.png)

[2021-11-08 11:48] MuluhGodson commented on #22
Oh, just noticed this is in the post-launch development sprint. :-)

[2021-11-08 11:54] annatuma commented on #22
This is still great work @MuluhGodson and certainly we'll make use of it when the time comes! If we're close to a solution now this can be included in the launch sprint too.

[2021-11-08 11:56] annatuma commented on #134
I'm going to drop this into our internal Slack to get feedback from stakeholders!

[2021-11-08 12:07] Datagirlcmr commented on #69
let me work on the remaining page imports

[2021-11-08 12:08] MuluhGodson commented on #22
okay, thank you @annatuma
if the overlay caption will always be the neutral colors (black background and white text) then we are good to go.

[2021-11-08 12:16] #66 closed

[2021-11-08 12:20] brylie commented on #121
What do you propose we hse for left and right margin/padding? E.g. group block content extends to the edge of the page in full-width display mode.

[2021-11-08 12:22] brylie commented on #69
@Datagirlcmr please add a comment in the specific importer issue you would like to take

[2021-11-08 12:27] brylie commented on #67
The PR seems to add a border to all sides instead of allowing the side to be configured so might not fit our use case.

We may need to look into a Gutenberg Card block solution that uses Bulma Card semantics.

Related PR #84

[2021-11-08 14:56] MuluhGodson commented on #67
The solution in #30 from @shailee-m  is great.
I'll replicate it

[2021-11-08 15:41] #41 closed

[2021-11-08 15:41] #88 closed

[2021-11-08 16:26] MuluhGodson commented on #84
@brylie While creating this page with Gutenberg, there are some text that have an inline color and are bold.
When we select a text and apply bold on it, WP wraps that particular text in a `strong` element. The problem is, this strong has color defined in it and this takes precedence over the inline color.
![image](https://user-images.githubusercontent.com/40151808/140776837-2244f81e-8fb5-44bf-8c32

[2021-11-08 16:44] brylie commented on #84
Create a bug report for the issue you found so we can determine the best way to handle it.

[2021-11-08 17:59] MuluhGodson opened #136 "[Bug] Add bold text with inline colour"
## Description
When a text is assigned an inline colour and made bold, then inline colour is not rendered in the frontend.

## Reproduction

1. On the Gutenberg editor, add a text
2. Add an inline colour to some parts of the text and make those parts bold
3. View it on the frontend

## Expectation
The text should be bold and have its inline colour retained.
![image](https://user-images.githubuserc

[2021-11-09 08:49] shailee-m commented on #72
@brylie The plugin is almost complete. I have run into a small issue which I need help with. It seems that the JS code that is not server-rendered (i.e coming from PHP's render_callback method) will not be shown on the website page. It is only visible on the post edit page. Now the thing is we require the server-side attributes to change from the frontend for the server component to render.

I am

[2021-11-09 09:24] MuluhGodson commented on #84
Hello @brylie
![image](https://user-images.githubusercontent.com/40151808/140897495-9b34233e-a8dd-434a-8791-e9f19f4d2a69.png)

[2021-11-09 09:37] annatuma commented on #84
Questions on the visuals:
- Is it possible to have a fixed width on the license cards (the ones with the thick blue top border)?
- And to ensure some padding within them so the license icons and license name aren't completely up against the edges?

Completely understand these are tricky cases!

[2021-11-09 09:38] MuluhGodson commented on #84
When I add the class `display-inline` as @shailee-m did, I have to add it to all the elements I want displayed inline.
![image](https://user-images.githubusercontent.com/40151808/140898137-dc83dbbd-f04c-49bc-95cf-d67aa1eec05d.png)

In the screenshot below, I haven't added the class to the text `CC-BY`
![image](https://user-images.githubusercontent.com/40151808/140897936-ae69c262-6b6d-438d-a061-3b2

[2021-11-09 09:49] brylie commented on #72
That is the desired user experience. In effect, we are re-creating the existing [Creative Commons Team page]()https://creativecommons.org/about/team/) using a Gutenberg block instead of a WordPress shortcode.

Let's put this issue on hold for a moment and shift your focus to manually creating the Team page in issue #31. It may turn out that being able to manually create the page with Gutenberg is

[2021-11-09 09:51] brylie commented on #31
I'm re-opening this issue since we may only need to be able to manually create the Team page for the minimum-viable website launch. If we are satisfied with the Gutenberg Team Page editing experience, we may be able to remove a significant amount of custom code from the project.

[2021-11-09 09:52] MuluhGodson commented on #84
Yes we can add padding to the license columns.

[2021-11-09 11:54] brylie commented on #31
For now, let's start with a list of generic people. I.e., fake people and photos to demonstrate the layout.

[2021-11-09 15:58] shailee-m commented on #72
@brylie Have a look at the code. We may be able to use this in the minimum viable launch

[2021-11-09 18:29] shailee-m commented on #31
@brylie  With generic blocks, we will have to manually add image+text blocks for each user

[2021-11-09 18:35] MuluhGodson commented on #84
@annatuma to make all the license cards the same height as in the mockup, I added a fixed height to them.
![image](https://user-images.githubusercontent.com/40151808/140981201-5c06c405-02b0-4a1f-9fcb-f6d5d904466c.png)

@brylie
I want to suggest some changes I made to the CSS:
from #30, the CSS classes used to display the icons next to each other was:
[code]

But this has to be applied to each icon

[2021-11-09 18:41] MuluhGodson commented on #84
With the changes proposed above, here is the render:
![image](https://user-images.githubusercontent.com/40151808/140984905-ab30fece-f154-480d-81b8-2088c55e1e80.png)

[2021-11-09 19:09] shailee-m commented on #31
Manually adding it would require this CSS.
[code]

Project structure:
- Columns
  - Column (100%)
    - Post Title (Our Team)
    - Paragraph
- Columns
  - Column(33)
    - Image
    - Paragraph
    - Paragraph
    - Paragraph
  - Column(33)
    - Image
    - Paragraph
    - Paragraph
    - Paragraph
  - Column(33)
    - Image
    - Paragraph
    - Paragraph
    - Paragraph

![Screenshot](https://

[2021-11-10 10:24] brylie commented on #72
Closed by https://github.com/creativecommons/wp-plugin-creativecommons-website/pull/16

[2021-11-10 10:25] #72 closed

[2021-11-10 10:26] brylie commented on #84
@annatuma what are your thoughts on the latest render that @MuluhGodson showed above?

[2021-11-10 10:32] brylie commented on #31
The above layout looks great! I'd like to make it easy for content editors to revise this page. One concern is that adding custom CSS classes to the items may be error-prone.

For now, let's commit your work to `content-importers/import-team-page.xml` without the custom class names. We will determine how to address the spacing issues in a follow-up review session.

Remember also to use a [generic

[2021-11-10 10:33] brylie commented on #31
@annatuma, what are your thoughts on the above page preview and discussion?

[2021-11-10 11:17] Akpjunior94 commented on #86
can I take this up @brylie?

[2021-11-10 12:28] brylie commented on #86
Sure thing @Akpjunior94! I'll assign you :smiley:

[2021-11-10 12:48] annatuma commented on #84
This is starting to look really clean. And I appreciate how complex this page is!

One thing I notice is the large spacing between each of  the license icons/descriptions to the right hand side of the license cards, e.g.:

<img width="390" alt="Screen Shot 2021-11-10 at 12 43 26 PM" src="https://user-images.githubusercontent.com/3051816/141115102-950b14fc-d8d9-47f8-a655-30bb07cb8032.png">

These a

[2021-11-10 13:12] MuluhGodson commented on #84
![image](https://user-images.githubusercontent.com/40151808/141118846-a0a0a36d-cc65-422e-8566-bfc69d5695d9.png)

[2021-11-10 13:17] MuluhGodson commented on #84
![image](https://user-images.githubusercontent.com/40151808/141120045-53842f2b-af1e-4032-b9a2-e3d9bdffa3f1.png)

[2021-11-10 13:20] brylie opened #138 "Decide on website content localization process (both WordPress and Licenses)"
Our website content localization coverage is not consistent across pages, blog posts, and licenses. For example, by necessity, the licenses have considerable localization coverage while website pages are primarily, if not exclusively, in English.

Content localization is at the crux of the schism between our WordPress website and the Licenses project. If we can determine a cohesive localization po

[2021-11-10 13:43] MuluhGodson commented on #84
@annatuma Here is the latest render:

![image](https://user-images.githubusercontent.com/40151808/141123914-061d0a99-215f-4372-a4b8-6149a495145e.png)

[2021-11-10 13:50] brylie commented on #138
One possible solution, converging some ongoing ideas, would be

1. move the core licenses texts (deed, etc.) to be regular WordPress pages
2. use Transifex to manage the entire website localization process, including Licenses
3. add [301 redirects](https://docs.wpvip.com/technical-references/redirects/writing-redirects-directly-into-your-theme-code/) for all old license URLs so they conform to one

[2021-11-10 14:23] brylie commented on #84
Reopening, since merging the CSS classes didn't resolve this issue, as they were only part of the task.

[2021-11-10 14:52] brylie commented on #84
Actually, sorry for the confusion. I believe we can close this now since all related pull requests are merged. Correct?

[2021-11-10 14:54] MuluhGodson commented on #84
@brylie yes that is correct. all the PR's related to this has been merged.

[2021-11-10 15:15] #84 closed

[2021-11-10 16:33] annatuma commented on #31
The preview looks fine. I'm not sure I fully follow the discussion around custom CSS classes - it sounds like you're recommending we leave those out @brylie but the preview from @shailee-m incorporates those to render that view?

[2021-11-10 18:39] brylie commented on #31
Yeah. Basically, Gutenberg lets content editors add custom CSS classes to elements by clicking on the element, then "Advanced", then adding a CSS class:

![](https://en-support.files.wordpress.com/2020/03/advanced-block-setting.gif?w=772)

The CSS rules for the class need to be defined in our site styles for any change to take effect.

Shailee had both added the necessary CSS as well as the custom

[2021-11-10 18:46] shailee-m commented on #31
@annatuma: @brylie is right about depending on CSS classes. However, without the CSS classes we aren't able to produce the desired design to display in the preview by depending on the glutenberg blocks alone.

[2021-11-10 18:48] shailee-m commented on #31
@brylie Should I create the content.xml using the dummy data in the mockups?

[2021-11-10 18:52] brylie commented on #31
@shailee-m yes, dummy data is OK for now in the importer script.

Would you also post a screenshot of the design without the CSS classes to see how much it deviates from the mockups? It may be that differences in spacing or alignment are permissible for closing this issue or even the MVP launch.

[2021-11-10 18:57] shailee-m commented on #31
![Screenshot (1)](https://user-images.githubusercontent.com/10625985/141175435-dd50b5d3-7e7c-4b1f-aad7-82e03ba78c8f.png)

[2021-11-10 19:00] brylie commented on #31
@annatuma in the screenshot above, the staff name, title, and bio text are separate paragraphs. By default, paragraphs have a margin between them so the texts are spaced out vertically. In our mockups, the texts are closer together. The text proximity can be achieved by adding custom CSS class rules  and applying the CSS class to the text elements via the Gutenberg UI. @shailee-m has already creat

[2021-11-10 19:20] shailee-m commented on #31
@brylie Added the importer.xml file.

[2021-11-10 21:45] MuluhGodson commented on #136
@brylie I've figured out a way to have bold text with inline colours.
The solution I am proposing is to override the default colour attributed to the strong element letting it inherit the colour of its parent element. I didn't want to completely override this default colour given that other text with no inline colours will need this default colour for the added `bold` effect. When we add an inline

[2021-11-11 07:13] Akpjunior94 commented on #86
Initial Progress.
![image](https://user-images.githubusercontent.com/56775903/141254055-7981e249-da8f-4126-ab88-3aaef4cf48ff.png)

I noticed two things while implementing.
1. the inline color took effect on the Gutenberg editor UI but didn't show up on the webpage when viewed. NB:  This initially was easy to accomplish and works fine on preview
![image](https://user-images.githubusercontent.com/56

[2021-11-11 08:13] brylie commented on #52
Closing this issue since @MuluhGodson has made it easy to modify theme styles in `style.css` within the `creativecommons-base` project.

[2021-11-11 08:13] #52 closed

[2021-11-11 08:29] brylie commented on #31
Thanks @shailee-m. I merged the PR.

While this task is fresh, let's just commit the CSS classes you made to the [`style.css` in `creativecommons-base`](https://github.com/creativecommons/creativecommons-base/blob/main/style.css). We'll revisit the discussion around relying on custom CSS classes in Gutenberg, which may just be unavoidable in some cases.

[2021-11-11 08:36] #31 closed

[2021-11-11 08:38] #136 closed

[2021-11-11 08:43] brylie commented on #86
@Akpjunior94 that issue has been fixed recently by @MuluhGodson in issue #124

I've updated our submodules to track the latest changes, which includes the inline color fix. Please merge the recent changes from the `main` branch into your development branch.

[2021-11-11 09:06] brylie opened #140 "PHP error when running Docker container"
When starting the Docker services, via `docker-compose up` and trying to access WordPress, the following errors are displayed in the terminal:

[code]

## Reproduction

1. checkout the `main` branch
2. run `docker-compose up`
3. try to access `127.0.0.1:8080`
4. See error.

## Expectation

The entire project would run successfully with just a single `docker-compose up` command.

## Screenshots

![

[2021-11-11 09:09] brylie commented on #140
A temporary workaround is to comment out the following line in `docker-compose.yml`

[code]

[2021-11-11 09:19] brylie commented on #38
Closing this issue since the News 2 page in the Figma mockups is an example of a Category page. Category pages will likely need to be templated in PHP since they are dynamic.

[2021-11-11 09:19] #38 closed

[2021-11-11 09:21] brylie commented on #24
I'm closing this epic since we have worked through all minimum-viable Gutenberg page tests.

[2021-11-11 09:21] #24 closed

[2021-11-11 09:24] brylie commented on #48
I am clearing the assignee to indicate to other developers that this task is available.

[2021-11-11 09:27] brylie commented on #47
Closing this issue, since Gutenberg blog posts will automatically display truncated text:
![image](https://user-images.githubusercontent.com/17307/141273096-77cf7f32-b3e8-40fe-a3be-a6d28539ea14.png)

[2021-11-11 09:27] #47 closed

[2021-11-11 09:34] Akpjunior94 commented on #86
@brylie Thanks for the update.

[2021-11-11 09:38] brylie opened #141 "Ensure blog post template contains essential elements from Figma mockup"
The [blog post Figma mockup](https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockups?node-id=2346%3A11308) contains several key page elements, such as

- title
- author name (with link to profile page)
- featured image display
- publication date
- category list (with links to category pages)

![image](https://user-images.githubusercontent.com/17307/141274903-c6a57719-0bb6-44d1-a7da-207817e5db4e.

[2021-11-11 09:40] brylie commented on #86
I've just moved this issue to post-launch development since it isn't critical for the minimum-viable launch.

[2021-11-11 09:51] brylie opened #142 "Ensure author profile template contains essential elements"
The [author profile Figma mockup](https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockups?node-id=2346%3A9797) contains several key page elements, such as

- author name
- CC job position (from user profile via custom field defined in wp-plugin-creativecommons-website)
- author image from user profile
- author bio from user profile
- paginated list of blog posts published by author
    - posts c

[2021-11-11 09:57] brylie commented on #122
I am closing this issue since I have tested the migration process. I recommend against a bulk migration without manually reviewing the migrated posts.

[2021-11-11 09:57] #122 closed

[2021-11-11 10:01] brylie commented on #18
Closing this since it is deprecated. This "spreading knowledge" page is actually a category page. We have created specific issues for category template improvements.

[2021-11-11 10:01] #18 closed

[2021-11-11 11:17] MuluhGodson commented on #86
Hello @Akpjunior94
The custom color picker was disabled so users can only use the CC brand colors.

[2021-11-11 19:54] shailee-m commented on #140
@brylie Created 2 PRs for this:
1. https://github.com/creativecommons/wp-plugin-creativecommons-website/pull/17
2.  Updated code in an existing one: creativecommons/project_creativecommons.org#115

[2021-11-12 06:41] brylie commented on #118
One compromise we can make with the layout is to use a single `columns` block with four columns. Each column would contain a query block displaying the latest post from a specific category. Depending on the number of categories we want to feature on the page, we could change the number of rows/columns with multiple `columns` blocks: e.g., 1x4, 2x2, 2x3, 2x4, etc.

[2021-11-12 06:44] brylie commented on #23
One block pattern might be a "Team member profile" as can be seen on the Team page (related to issue #31). The "team member profile" block pattern would consist of a few child blocks as well as specific CSS classes if they can be applied in the block pattern definition.

- photo
- name
- title
- bio

[2021-11-12 06:47] brylie opened #143 "Create "team member profile" Gutenberg block pattern"
WordPress allows developers to specify [block patterns](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-patterns/) that are reusable block combinations.

Create a Gutenberg block pattern to display a "team member profile," as seen on the Team page (related to issue #31).

![image](https://user-images.githubusercontent.com/17307/141422487-262d9bdc-e9ec-4a1f-a314-bb24d3

[2021-11-12 07:29] brylie commented on #143
It seems like the block *template* approach would provide the least error-prone user experience. It can also be defined with placeholder text to make the purpose of each field clear to the author. The code for block templates also looks cleaner than block patterns since the structure is a PHP array rather than an HTML string.

[2021-11-12 07:35] MuluhGodson commented on #132
Hello @brylie
This looks like a very interesting/challenging issue. I will love to work on this and explore the API system on WordPress. I have already set up the licenses project on my dev environment, hope this (https://github.com/creativecommons/cc-licenses) is the correct repository.

[2021-11-12 07:44] brylie commented on #132
Yep, that is the correct repository.

For this task, the focus can be mainly limited to the `wp-theme-creativecommons.org` repository since the API endpoints are defined there to serve JSON. We just need new endpoints to serve pre-rendered HTML. See issue https://github.com/creativecommons/project_creativecommons.org/issues/53 for more context and links to the specific lines of code.

Relatedly, w

[2021-11-12 07:49] MuluhGodson commented on #132
Okay got it.

[2021-11-12 08:11] brylie commented on #132
To my current understanding, WordPress lacks default functionality to render an arbitrary template with some data, as can be found in nearly every web framework (such as [Django](https://docs.djangoproject.com/en/3.2/topics/templates/),  [Laravel](https://laravel.com/docs/8.x/blade), [Phoenix](https://hexdocs.pm/phoenix/1.3.4/templates.html), [Rails](https://guides.rubyonrails.org/layouts_and_rend

[2021-11-12 08:35] brylie opened #144 "Determine how to add a table of contents to Gutenberg pages"
Our Figma mockups contain an example page with a table of contents in the left column.

![image](https://user-images.githubusercontent.com/17307/141436423-ab8549e4-8442-4eaa-a997-abaced528320.png)

![image](https://user-images.githubusercontent.com/17307/141436554-aeba2375-ee14-48a9-88a7-da718b9a591a.png)

There isn't currently a "table of contents" block included in Gutenberg core. However, Guten

[2021-11-12 08:40] #140 closed

[2021-11-12 08:47] brylie commented on #121
The pull request only added top and bottom margins, it seems. While the design mockup indicates left and right margins/padding as well.

https://github.com/WordPress/gutenberg/issues/24874

I hope they are able to work holistically here and add margins/paddings for all sides.

[2021-11-12 09:41] MuluhGodson commented on #132
One little thing to note,
I am using Postman to query the  API endpoints and each endpoint returned a 404 not found response.
A simple fix is to change the permalink setting from `plain` to any other. I use `post name`.

However, when I query and endpoint like: `localhost:8080/wp-json/wp-json/ccnavigation-header/menu`, It returns a json error
[code]

I am still troubleshooting to find out what's c

[2021-11-12 10:07] Akpjunior94 commented on #86
Okay. Thanks for letting me know.

[2021-11-12 11:14] brylie commented on #132
Let's put this issue on hold for a bit while I articulate an alternative architecture for the creativecommons.org website that would make this task obsolete.

[2021-11-12 11:15] MuluhGodson commented on #132
Okay @brylie

[2021-11-12 11:16] brylie commented on #132
We can discuss on Slack an interim task that would help test out the alternative architecture and license localization process.

[2021-11-12 11:25] brylie opened #145 "Experiment: create license pages in WordPress via API"
The creativecommons.org website project currently consists of two primary services:

- `wordpress` - for hosting all pages and blog posts
- [`licenses`](https://github.com/creativecommons/cc-licenses/blob/main/docker-compose.yml) - for hosting the license texts and localizations

However, it may be unnecessary to maintain a separate service configuration and related infrastructure to serve the lic

[2021-11-12 11:35] brylie commented on #132
See issue #145 which may make this task obsolete.

[2021-11-12 11:37] brylie commented on #145
@MuluhGodson, here is an experiment that we can try out that may enable us to simplify our technical infrastructure.

[2021-11-12 11:52] #90 closed

[2021-11-12 12:08] brylie commented on #132
I am hoping that #145 is successful.

If we can unify all of our content under the WordPress service, we won't need to serve the menu and footer HTML via an API since the `licenses` service would no longer be necessary.

[2021-11-12 12:12] #71 closed

[2021-11-12 12:14] #83 closed

[2021-11-12 12:32] MuluhGodson commented on #145
This is a very interesting concept. I will love to work on this. A successful outcome will be great for the new creative commons website especially as concerns the burden of maintainability. This will greatly simplify the architecture without necessity of additional project depedencies.

[2021-11-12 15:00] brylie commented on #145
Thanks, @MuluhGodson! I'll assign you.

Let's break the task down into small steps so it is relatively easy to complete. Let me know if there are any snags or surprises and I am available to assist.

[2021-11-12 16:17] MuluhGodson commented on #145
Yeah. The 5 task above will serve as a guideline for me. I will also be checking through forums at each point to check if others have had a similar or related or partial implementation of the task at hand, plus document every step of the way so it's easy to trace back and possibly optimize better.

[2021-11-13 04:13] Akpjunior94 commented on #86
Progress Update
![image](https://user-images.githubusercontent.com/56775903/141604302-6dea86d7-e18a-46df-981c-901adcfbb476.png)

Also noticed a default padding: 1.25em 2.375em; in `.wp-block-group`  which is preventing the block from taking full width like the Figma design.
![image](https://user-images.githubusercontent.com/56775903/141605169-fdc43e30-f3eb-49dd-b4b3-bff827e96a46.png)

The next sec

[2021-11-13 04:27] Akpjunior94 commented on #86
new update after removing the group block. I was able to achieve this using just columns
![image](https://user-images.githubusercontent.com/56775903/141605615-5e514d76-c1cd-4649-9481-970d69342807.png)

[2021-11-13 04:35] Akpjunior94 commented on #86
Also, note to avoid re-typing contents that are in uppercase all through I created a class for easy switching all contents

[code]

[2021-11-13 09:50] Akpjunior94 commented on #86
@brylie I have a challenge
![image](https://user-images.githubusercontent.com/56775903/141614273-58359f03-2635-495f-b8b2-d7f3c3ab182a.png)

[2021-11-15 07:35] MuluhGodson commented on #145
Hello @brylie
So I tinkered with this exploring different options and here is what I came up with:

# Task 1:  Create a WordPress page via the REST API
The first thing I noticed is that `POST` requests such as creating a page, require Authentication and as of now, WP does not have a core authentication system for services that exist outside of WordPress and they recommend several plugins on their

[2021-11-15 08:02] MuluhGodson commented on #145
# Task 2: Create a page using Python wordpress-xml-rpc module
As before, authentication is required but this just needs your username and your real password you used to login to your admin dashboard.
#### Problem
The latest version of this python module `v2.3` does not include the methods to create pages. I couldn't find a reason why.
Refer here [Absent Create Page Methods](https://python-wordpres

[2021-11-15 09:36] MuluhGodson commented on #145
# Task 3:  Identify how the cc-licenses project generates static HTML
Looking at the documentation on the CC-Licenses project, the section on [Generating Static Files](https://github.com/creativecommons/cc-licenses#generate-static-files)

It says "This process will write the HTML files in the cc-licenses-data clone directory under `docs/` directory".

This is done by running the command below:
[co

[2021-11-15 10:17] MuluhGodson commented on #145
# Task 4: Create Page on Creative Commons WP instead of Writing to File
So for this, I went into the utils folder [Save as file](https://github.com/creativecommons/cc-licenses/blob/main/licenses/utils.py#L47) added a new function (for testing this out).

For this task, setting up Docker correctly for both projects (CC-Licenses and Project_CreativeCommons) is key to testing it on the local environm

[2021-11-15 12:14] shailee-m commented on #143
@brylie can you share the link where you saw the example to add custom class?

[2021-11-15 14:52] brylie commented on #121
Based on a recent comment, it seems that we should, soon, be able to enable margin and padding support by editing our `theme.json` settings:

https://github.com/WordPress/gutenberg/pull/34630#issuecomment-968358633

[2021-11-15 15:20] brylie commented on #145
@MuluhGodson this is great work! Based on your findings, we will probably want to use the REST API instead of the Python library, since the Python library doesn't seem to be well maintained.

There is one more piece of the puzzle that remains to be worked out. We need to reproduce the URL scheme from the `licenses` service rather than have all of the licenses served at the root level. I have added

[2021-11-15 15:23] brylie commented on #143
It's the [block patterns](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-patterns/) link in the issue description.

[2021-11-15 15:24] MuluhGodson commented on #145
Thank you @brylie .
I'll have a go at it and see how best to replicate it.

[2021-11-15 15:34] MuluhGodson commented on #145
@brylie also, using `Beautiful` we can be able to generate just the text data without all the HTML tags, which will be imported as `<p>` elements. That way WP is then used to style each text accordingly and they can be placed in group and column blocks etc.

[2021-11-15 15:36] brylie commented on #145
Thanks @MuluhGodson! I've updated the section with a few findings from my initial research. The URL hierarchy may be our "Achilles' heel" so I'm still a bit nervous about the overall idea :disappointed_relieved:

[2021-11-15 15:39] brylie commented on #145
Very cool! We may want to ensure that headings are preserved too. Basically, can we just map the various HTML elements to corresponding Gutenberg blocks? E.g.

- `p` -> `paragraph`
- `h#` -> `heading`
- `img` -> `image`

Another important aspect is the class names on the elements, since they are tied to our Vocabulary styles. So, unless we have a fairly clean HTML element to Gutenberg block mappin

[2021-11-15 15:42] MuluhGodson commented on #145
I'll study the Django application and figure out how the URLs are generated, I think I might have an idea.
I'll try to see how to impose this structure while doing the POST request. I think there should be something in the schema [Create Page Schema](https://developer.wordpress.org/rest-api/reference/pages/#schema) . There is a field, `parent` which I think represents a heirachical URL structure.

[2021-11-15 15:45] MuluhGodson commented on #145
Okay I'll tinker around and try to implement a mapping function that uses the `Beautifulsoup` module to target specific elements and map them to Gutenberg equivalents.

[2021-11-15 15:48] brylie commented on #145
Yes. I think our function will need to make at least two HTTP requests:

1. get the parent ID by querying its page `slug`
2. create the child page using the parent page ID

So, we would need to determine how to determine/store the page slugs for all pages, with the `licenses` page slug as the lowest page of the URL branch.

[2021-11-15 15:49] shailee-m commented on #143
In the content section, it is using WordPress classes only. we need to either give inline style or define a custom class in the customize section. It also does not pick the class name from any WordPress style that is registered.

[2021-11-15 16:10] brylie commented on #143
It should be possible to include arbitrary class names in the `content` string. Did you try it out?

[2021-11-15 16:21] shailee-m commented on #143
Yes I created another style script and loaded it. and used the classes like this `\n<figure class=\"wp-block-image size-full\"><img src=\"http://localhost:8080/wp-content/uploads/2021/11/img.png\" alt=\"\" class=\"wp-image-11\"/></figure>\n\n\n\n<p **class=\"team_member_username\"** style=\"font-size:24px\"><strong><span style=\"color:#c74200\" class=\"has-inline-color\">Julia Brungs</span></stron

[2021-11-15 16:22] brylie commented on #143
OK, the following article seems to indicate that we can use any arbitrary class within the `content` field as well as being able to add a `className` attribute inside of block comments

https://fullsiteediting.com/lessons/introduction-to-block-patterns/

[2021-11-15 16:28] brylie commented on #143
First, verify whether the class gets applied to the rendered output. Then, we can troubleshoot any style issues.

I'm reasonably confident that both `class` within the raw HTML and `className` in the block comment will be applied to the rendered output but stand to be corrected.

[2021-11-15 18:08] shailee-m commented on #143
Demo to use block pattern
https://user-images.githubusercontent.com/10625985/141832357-deb9ccff-5668-4821-bba0-0f816bdc7e62.mp4

[2021-11-15 18:13] brylie commented on #143
Soooooo nice! Great work @shailee-m :-)

I'm biased towards this solution since it

- is way less code than the Gutenberg `users-list` block
- allows content authors to control the order or users on the page

[2021-11-15 18:14] shailee-m commented on #143
@brylie added this pr https://github.com/creativecommons/wp-plugin-creativecommons-website/pull/18

[2021-11-15 18:16] shailee-m commented on #143
True about the less code but I think with the custom block creating multiple users will require much less task from the content creator. We can also add a sorting option here.

[2021-11-15 18:20] brylie commented on #145
@MuluhGodson, I just met with @annatuma and @TimidRobot to discuss this experiment. @TimidRobot gave some great feedback that I'll outline below. We agreed with @annatuma that this is an experiment and not considered the primary development plan at the moment until we get more clarity on the feasibility and scope of this idea.

@TimidRobot pointed out that the `licenses` project also serves, at th

[2021-11-15 18:22] shailee-m commented on #56
@brylie Can I pick this one?

[2021-11-15 18:30] brylie commented on #143
Agreed, the initial page is easier to create. However, it may be justifiable given that the Team page content is somewhat static.

The Gutenberg `users-list` block would ideally sort alphabetically by last name.

[2021-11-15 19:03] brylie commented on #145
Here is an example RDF file:

https://github.com/creativecommons/cc-licenses-data/blob/main/docs/licenses/by/4.0/rdf

We might be able to create a WordPress page with this RDF as the body and create a PHP template file to render the content as [`application/rdf+xml`](https://www.iana.org/assignments/media-types/application/rdf+xml) as outlined above.

[2021-11-15 19:03] brylie commented on #145
Here is an example text file:

https://github.com/creativecommons/cc-licenses-data/blob/main/docs/licenses/by/4.0/legalcode.txt

[2021-11-15 19:08] brylie commented on #145
@MuluhGodson, let's de-prioritize the Gutenberg equivalents mapping since we don't want people to edit these pages via WordPress.

The bigger issues are:

- URL scheme/hierarchy
- serving text and RDF license content

[2021-11-15 20:09] MuluhGodson commented on #145
Okay. I am currently looking at the different ways to get the URL scheme. I wanted to be sure it's possible to have hierarchical  URL's in WP. For Pages, WordPress only allows 1 parent page for each page.
So to have a URL as `license/by-nc/4.0/fr`:
we will need to create 3 pages:
- The `license` page, which is a parent to the `by-nc` page which is a parent to the  `4.0` page and then the final pag

[2021-11-16 07:55] brylie commented on #145
Very interesting approach! 😀

It might be worth considering creating a [custom post type](https://wordpress.org/support/article/post-types/#custom-post-types) for the licenses data. It might give us cleaner separation from the content authoring perspective and may be possible to "hide" the licenses post type, taxonomy, templates (e.g. RDF and plain text), and posts from the content editors.

[2021-11-16 07:58] MuluhGodson commented on #145
That's even better. A custom post type built just for this purpose will be more advantageous.

[2021-11-16 08:04] brylie commented on #145
Cool. Let's wait on the custom post-type idea until the idea is more solid in general. This is still just an experiment, as we don't have consensus or clarity whether the idea is advantageous or even feasible :smile:

[2021-11-16 08:07] brylie commented on #145
The critical question remains whether we can serve text and RDF post content. As noted, the text and RDF already exist. We may need to create the posts and serve them via custom templates that modify the response content-type header.

[2021-11-16 08:37] brylie commented on #145
The solution for allowing dots in permalinks may be the same as allowing dots in URL slugs:

https://wordpress.stackexchange.com/a/119288/63132

[2021-11-16 15:21] MuluhGodson commented on #145
@brylie
Yeah the `.rdf` files are generated when the publish command is run in the CC-License project.
The link above: https://creativecommons.org/licenses/by/4.0/rdf , when I click on it, it just downloads the file.
Opening in VS Code, displays it correctly and it looks similar to the other RDF files generated in the CC-License project.

So the objective here is to have WordPress display the cont

[2021-11-16 15:29] shailee-m commented on #42
@brylie We can extend the latest post block to adjust the styles. There is nothing that can be done using just the configurations

[2021-11-16 17:55] shailee-m commented on #56
@brylie  the header is rendered here(creativecommons-base/header.php) using wordpress method `wp_nav_menu`. what dependency do we need to remove?

[2021-11-16 18:09] TimidRobot opened #147 "Integrate Chooser into new WordPress site"
We currently plan to display the new [Creative Commons Chooser](https://github.com/creativecommons/chooser) at creativecommons.org/choose. As such, we need to determine how best to integrate the new Chooser project into the website, such as one of the following

- reverse-proxy the `/choose` path to a static-hosted Chooser deployment
- create a WordPress page at `/choose` with
    - an `iframe` to

[2021-11-16 18:18] MuluhGodson commented on #145
# Task 5:  Determine whether WordPress can serve plain text from a path
So, my understanding of this task is about if WordPress can be able to display text files that are found in folders...
So my initial test was just to create a text file and enter the URL directly. So I grabbed the text file here: https://creativecommons.org/licenses/by/4.0/legalcode.txt and saved it.

To get the file into the

[2021-11-16 19:41] MuluhGodson commented on #145
Oh yeah @TimidRobot This makes much more sense. I didn't even think to look at the `.htaccess` file.

[2021-11-17 10:09] MuluhGodson commented on #145
# Task 6:  Audit `cc-licenses-data` project for other content types

The `cc-licenses-data`  repository is made up of 4 main directories:

- cc-licenses-data/
    - docs/
    - legacy/
    - legalcode/
    - locale/

## 1) The `docs/` directory
The docs directory has the structure:

- docs/
    - licenses/
    - publicdomain/
    - rdf/
    - status/

### - `licenses` directory:
This directory  ha

[2021-11-17 12:45] brylie commented on #42
@shailee-m the style adjustments should be sufficient for the MVP. We will just make note of the limitations of the Latest Posts widgets regarding the available display content.

[2021-11-17 12:46] brylie commented on #56
I'm not sure we need to remove any dependency. We just need a new endpoint that returns the pre-rendered HTML. What are your thoughts on how that might best be achieved?

[2021-11-17 12:53] brylie commented on #145
Yes. One idea is to

1. create a custom template that renders the RDF content with the correct `Content-type` header (below)
2. create WP `license` posts with the raw RDF content
    - specify the "RDF template" for the WP RDF `license` posts

[code]

[2021-11-17 12:59] brylie commented on #145
The idea is to create WordPress posts with the plain text content then use a custom template to render the post as plain text (similar to the RDF example above).

1. create a custom template that renders the plain text content with the correct `Content-type` header (below)
2. create WP `license` posts with the raw text content
    - specify the "plain text template" for the WP plain text `license`

[2021-11-17 13:01] brylie commented on #145
The overall goal here is to avoid custom Apache, nginx, or other service configurations by moving all `license` content into WordPress itself.

[2021-11-17 13:04] MuluhGodson commented on #145
Oh I get it now perfectly. I've been doing a lot of reading on the resources you linked above especially about custom post types. I am currently testing each of them especially the capabilities section to be sure the files cannot be edited once on WP.

[2021-11-17 14:01] brylie opened #148 "Ensure figcaption font colors inherit from parent container"
When rendering a `figcaption` element, the font color is hard-coded to `#333`.

![Peek 2021-11-17 15-59](https://user-images.githubusercontent.com/17307/142214822-bf175295-32c1-4527-a0e3-d63672296768.gif)

However, we would like for content editors to be able to control the `figcaption` font color in order to allow proper contrast when changing the background color of the parent element.

## Task

[2021-11-17 15:10] brylie opened #149 "Notes from review session (2021-11-17)"
**Note:** these meeting notes are intended to serve as the basis for subsequent tasks.

Notes from the review session with Anna, Dee, and Ony.

It would be useful to have an overview of all of our web properties.

Analytics may be a good central resource to gain visibility into our sites, micro-sites, etc.

- network
- certificates
- open source
- creativecommons.org
- search.creativecommons.org (

[2021-11-17 15:23] brylie commented on #147
@annatuma suggested that a possible solution would be to continue to serve the Chooser on a creativecommons.org subdomain that can be powered by GitHub Pages. That way we would have very little maintenance, infrastructure, and integration work.

[2021-11-17 16:14] shailee-m commented on #56
Yes okay. we can add an endpoint in creative-commons base. what will be the input to this endpoint?

[2021-11-17 16:19] shailee-m commented on #42
@brylie  Should I look into extending the block?

[2021-11-17 16:26] shailee-m commented on #56
Also, who should have access to the endpoints or are these open apis?

[2021-11-17 16:59] brylie commented on #42
@shailee-m let's just add the styles for now. I.e. we may just need CSS overrides in `style.css` rather than any JavaScript or template code.

[2021-11-17 17:00] brylie commented on #56
These endpoints can be publicly accessible since they serve generic navigation and footer page elements already accessible to anonymous users.

[2021-11-17 17:14] shailee-m commented on #56
Here is a small example I created.

How do we want to implement it? Should we take the type of the menu from the query params ? Based on the type the html would also change, right?

[code]

[2021-11-17 17:16] brylie commented on #56
That may be a good solution for the second iteration. E.g. we can use a `theme_location` parameter.

For now, I believe we can just return the `main-navigation`as you demonstrate above.

[2021-11-17 17:48] TimidRobot opened #150 "[Bug] Misc content has not yet been added to Docker Compose configuration"
## Description
The Miscellaneous content (static content) has not yet been added to Docker Compose configuration

## Reproduction
- 👀 no faq
- 👀 no platform toolkit

## Expectation
The Miscellaneous content should be integrated and served:
- [creativecommons/faq](https://github.com/creativecommons/faq/): Creative Commons FAQ page
- [creativecommons/mp](https://github.com/creativecommons/mp/): Docu

[2021-11-17 18:16] shailee-m commented on #42
https://github.com/creativecommons/creativecommons-base/pull/159

[2021-11-17 22:21] MuluhGodson commented on #145
# Task 7: Determine whether WordPress can Serve Plaintext from a path
To begin, I created a custom post type called `cc_plain_text` specifically for raw plain text content.

`creativecommons_base/functions.php` :
[code]
- The `capability_type` is set as `read_post` and this ensures that all plain-text posts created with this post type are READ ONLY files and cannot be modified.
- The `rest_base` k

[2021-11-17 22:28] MuluhGodson commented on #148
Hello @brylie
I think this may be from here:
https://github.com/creativecommons/creativecommons-base/blob/main/style.css#L179

I will be happy to submit a PR for it.

[2021-11-18 08:21] #128 closed

[2021-11-18 08:38] brylie commented on #148
Good catch @MuluhGodson :smiley:

[2021-11-18 09:25] MuluhGodson commented on #148
@brylie I opened a PR here: https://github.com/creativecommons/creativecommons-base/pull/160

[2021-11-18 09:50] #148 closed

[2021-11-18 10:05] brylie commented on #145
@MuluhGodson, your work here is excellent progress and demonstrates the overall idea is viable on some level. However, as you know, some nuances would remain to be worked out for proper implementation, such as ensuring a consistent URL structure across multiple custom post types with a shared taxonomy.

It is difficult to tell whether the changes proposed in this experiment might exceed the work n

[2021-11-18 10:23] brylie opened #151 "Merge development instructions from README into CONTRIBUTING.md"
We recently merged PR #146, which added changes to our developer documentation and process. To promote consistency, we should incorporate the documentation into our existing CONTRIBUTING.md, so there is a single source for the contributing documentation.

## Task

- [ ] move [development-related documentation](https://github.com/creativecommons/project_creativecommons.org#development) from README

[2021-11-18 10:31] brylie opened #152 "Create full FAQ page using WordPress/Gutenberg editor"
The [Creative Commons FAQ](https://creativecommons.org/faq/), while only a single page, is currently maintained and served separately from other content on the CreativeCommons.org website.

We want to consolidate our content and projects to increase the simplicity and maintainability of our web properties. Since the FAQ is static content, it is an excellent candidate for a regular WordPress page r

[2021-11-18 10:58] brylie opened #153 "Create CC Platform Toolkit as WordPress page with Gutenberg blocks"
The [CC Platform Toolkit](https://creativecommons.org/platform/toolkit/), while only a single page, is currently maintained and served separately from other content on the CreativeCommons.org website.

We want to consolidate our content and projects to increase the simplicity and maintainability of our web properties. Since the Platform Toolkit is static content, it is an excellent candidate for a

[2021-11-18 11:01] brylie commented on #153
While the existing Table of Contents is fantastic, we might use a more conventional ToC to re-create the Platform Toolkit in Gutenberg.

![image](https://user-images.githubusercontent.com/17307/142403396-ae7dc087-55b9-4333-bf01-88e723f63cc2.png)

[2021-11-18 11:43] brylie commented on #56
Note: this issue is a superset of #132

@MuluhGodson, please note that @shailee-m is working on some aspects described in #132. We may want to reassign #132 to @shailee-m so that you can focus on another task.

[2021-11-18 13:33] MuluhGodson commented on #145
Thank you @brylie
The task I haven't yet had sufficient findings on are:
-  determine whether WordPress can serve RDF from a path
After creating a custom post type for RDF files and a template with the correct content-type `application/rdf-xml`, opening a page with RDF content just triggers a download in the Chrome browser. On Firefox, the page is displayed as:
![image](https://user-images.githubu

[2021-11-18 13:37] MuluhGodson commented on #56
@brylie Okay that will be perfect as her solutions to this issue can be applied for #132 as well.

[2021-11-18 13:43] brylie commented on #145
We want to serve RDF as RDF so no rewriting would be necessary.

Basically, we want to serve the licenses content in whatever form is output via the `licenses` app. In this case, WordPress should only modify the content type header to the correct value depending on the type (HTML, RDF, or plain text.)

[2021-11-18 14:00] brylie commented on #145
We are basically trying to make WordPress behave like the existing `licenses` service so we can remove a layer of persistent infrastructure.

[2021-11-18 14:30] #150 closed

[2021-11-19 01:14] MuluhGodson opened #157 "[Bug] Wordpress stylesheets not loading"
## Description
I recently deleted and recloned this repo following the most recent setup instructions in the [README.md](https://github.com/creativecommons/project_creativecommons.org#development) file. The setup was successful with no errors. I first noticed stylesheets were not loaded due to missing ports. and any other URI's redirect to just the hostname (127.0.0.1) without a port and display a

[2021-11-19 06:53] brylie commented on #145
Let's close out this experiment soon and summarize the findings.

So far, my understanding is

- licenses need a specific URL structure
    - this would require using WP post taxonomy or a hierarchical page type
    - the WP page slug or URL routing would need to allow dots in the path
    - we need to prevent WP from adding post ID to the path
- licenses need to be served as HTML, RDF, and plain

[2021-11-19 06:53] #145 closed

[2021-11-19 07:06] MuluhGodson commented on #145
@brylie Everything is on point. I hope the findings have been positive so far. Thank you for assigning me the task. I have learnt a great deal.

[2021-11-19 07:13] brylie commented on #145
Thank you so much for your thorough work here. I've learned a lot as well! :smiley:

While the task is fresh, would you consider adding issue comments with

- any clarifications about your findings that I may have overlooked above
- relevant (even if partial) code snippets that might reside in your dev environment that might be helpful if we revisit this issue, such as
    - URL and slug rewrite f

[2021-11-19 07:16] MuluhGodson commented on #145
Yes, I definitely will. I will go through all the task updates and outline them better with the code snippets not included here so there I s a better range for decision making when the time comes.

[2021-11-19 09:02] annatuma commented on #147
Definitely possible to keep this running on a subdomain for now, although in the long run there's a bigger discussion about managing user flow/experience and whether or not it's disruptive or not a good experience for folks to have to go "off site" from CC.org for something like the chooser. That discussion is not urgent and should be tabled until the main site is launched.

Current thoughts are:

[2021-11-19 09:09] brylie opened #158 "Determine how best to integrate the Explore CC overlay across distinct CC web properties"
We have an Explore CC overlay that displays on some CC sites allowing users to navigate across CC web properties. For example, the [`summit.creativecommons.org`](https://summit.creativecommons.org) website has the correct banner currently.

![image](https://user-images.githubusercontent.com/17307/142226666-13996f91-8206-4bfe-b2b9-82a009be8f89.png)

## Task

- [x] locate source code for the Explore

[2021-11-19 21:34] TimidRobot opened #160 "[Bug] Verify gitpod.io works after PR #159 is merged"
## Description
Verify gitpod.io works after PR #159 is merged.

I worry that PR #146 broke it (specifically the sibling directory)

## Expectation
gitpod.io should continue to function

## Additional context

[2021-11-20 08:58] shailee-m commented on #132
@brylie current implementation for creative commons website uses built-in word-press classes. So that means if we want to render the menu in other projects we will also have to replicate the WordPress classes. Is that alright?

[2021-11-21 07:54] shailee-m commented on #132
@brylie , @TimidRobot I see this card regarding style sheet loading #157 . If we use these styles on other projects I would ideally import this stylesheet. Can we think of hosting is separately to a cdn ? I say this because we would want to fix a version of the css based on the API we render that would prevent css breaking due to version upgrades

[2021-11-22 01:36] MuluhGodson commented on #157
Closing this issue as it is now resolved. I rebooted the system and that seems to have resolved it. (entering `localhost:8000` now correctly reroutes to `localhost:8002`) which is the correct port WP is exposed on to the host.

[2021-11-22 01:36] #157 closed

[2021-11-22 03:21] MuluhGodson commented on #158
Hello @brylie
The theme repo for the Summit website is https://github.com/creativecommons/wp-theme-summit but I couldn't find the code for the Explore CC banner. I think @hugosolar will know more how the code is implemented.

In the meantime, I opened the [CC Summit Website](https://summit.creativecommons.org) and copied the HTML for the banner.
Then I created a basic PHP file and included it in t

[2021-11-22 09:35] brylie commented on #132
@shailee-m good catch. Perhaps we should move all styles from `styles.css` to the Vocabulary project and make a release?

The `styles.css` solution is pragmatic for the main WordPress development needs in order to minimize the amount of build tooling and integration necessary for development. So, if we want to move the styles to a CDN approach, it might be helpful to use the Vocabulary project and

[2021-11-22 09:54] brylie commented on #158
That's a good idea. However, we will likely need to display the "Explore CC" overlay on non-WordPress websites. So, a JS/HTML/CSS-only solution will probably be necessary.

Let's consider how to render a bit of HTML, CSS, and JavaScript on Creative Commons web properties with minimal dependencies and a small bundle size.

[2021-11-22 10:34] brylie commented on #158
Then I created a basic PHP file and included it in the header.php of the creativecommons_base repository. I added some javascript to trigger the toggling.

With the above noted, would you open a pull request in `creativecommons-base` with the related code changes you mentioned above? We may choose to use your code as an immediate solution and create a stand-alone project at a later point. :smiley:

[2021-11-22 10:35] brylie commented on #158
@MuluhGodson, I've assigned you to the issue to reflect the fact that you are already working on the code :smiley:

[2021-11-22 10:56] MuluhGodson commented on #158
Thank you @brylie .
Working via a CDN as you have indicated will be the best way to use it across all the CC projects (both WordPress and non-wordpress). I'll work through and come out with a base design with as minimal dependencies as possible.

I'll open a PR in the `creativecommons_base` as a temporal solution which will then be made obsolete when this little package is complete.

[2021-11-22 11:16] brylie commented on #158
Let's split the development into two phases:

1. add the "Explore CC" widget to `creativecommons-base` for the minimum-viable launch
2. create a separate project for the "Explore CC" web component after we have launched the new creativecommons.org

We need to focus only on the minimum-viable solutions to get us across the finish line for the new site launch for the next few weeks.

This task is a

[2021-11-22 11:19] brylie commented on #158
I've updated the issue description to clarify the two-stage development strategy: minimum-viable for launch and post-launch continuation.

[2021-11-22 11:58] MuluhGodson commented on #158
I opened a PR here https://github.com/creativecommons/creativecommons-base/pull/161 but I indicated such that it doesn't close this issue.

[2021-11-22 14:22] brylie opened #161 "Create generic "Explore CC" overlay component"
Continued from #158

We want to display an "Explore CC" overlay across Creative Commons web properties. The overlay should be fairly generic since it will be rendered on various types of projects including WordPress blogs and static HTML pages.

## Task

- [x] create a project for the Explore CC overlay if it doesn't already exist
- [x] determine how best to develop, package, and publish the Explo

[2021-11-22 14:23] brylie commented on #158
I've created a continuation task from this task so we can revisit the idea after launch.

[2021-11-22 14:34] #158 closed

[2021-11-22 15:00] brylie opened #162 "Merge Home Page importers"
We currently have two importer files that create the Home Page layout:

- import-home-page.xml
- import-pages.xml

The import-pages.xml is an older draft.

## Task

- [ ] merge the Home Page importers while keeping the best aspects of both

[2021-11-22 16:23] #162 closed

[2021-11-22 16:29] brylie commented on #132
I just remembered the styles will be loaded in the downstream service directly from creativecommons.org in a parallel request. So, we probably don't need to worry too much about a CDN for the timebeing. The endpoint just needs to serve the rendered HTML.

[2021-11-22 18:13] brylie opened #164 "Test Gutenberg iframe capabilities"
We are considering how to integrate several stand-alone projects as sub-pages of creativecommons.org, namely

- CC Chooser
- FAQ
- Platform Toolkit

The above projects are essentially static HTML/JS/CSS pages. However, they are currently served behind a reverse proxy that routes some creativecommons.org paths to the static sites and other paths to WordPress.

## Further context
As a general archit

[2021-11-23 05:08] MuluhGodson commented on #141
Hello @brylie
I will love to work on this.

[2021-11-23 06:26] #151 closed

[2021-11-23 06:26] brylie commented on #141
Thanks, @MuluhGodson. I've assigned you and added this task to the Active Sprint.

[2021-11-23 07:07] #42 closed

[2021-11-23 07:11] brylie commented on #121
@MuluhGodson, what's the status of this task? Is it a near-term priority?

[2021-11-23 07:15] brylie opened #165 "Deprecate post formats"
The `creativecommons-base` theme defines templates for several WordPress [post formats](https://wordpress.org/support/article/post-formats/). However, it is not clear to what extent we are actually using the post formats. Furthermore, post formats have been made somewhat obsolete by the Gutenberg editor and Gutenberg [block templates](https://developer.wordpress.org/block-editor/reference-guides/b

[2021-11-23 07:18] brylie commented on #134
Based on feedback from internal stakeholders, it seems like we have a rough consensus to disable comments for the new creativecommons.org launch. Is my understanding correct, @annatuma?

[2021-11-23 07:22] brylie commented on #160
I believe that, for consistency, we should use a Git submodule instead of a sibling directory. That way, all aspects of the project can be pulled in via one command.

Development can still take place either within the Git submodule directory or a separate cloned copy of the relevant project, following a conventional Git workflow in both cases.

[2021-11-23 08:19] brylie commented on #147
One approach is to add the Chooser JS and CSS (from CDN or packaged with WordPress) inside of a Gutenberg HTML block.

![image](https://user-images.githubusercontent.com/17307/142990004-021f4353-2906-4ec2-bd2e-f11f481ccf8a.png)

The output is seamless and would need only some minor tweaks to remove the background color and branding elements.

![Screen Shot 2021-11-23 at 10 15 51-fullpage](https://

[2021-11-23 08:43] brylie commented on #147
The `iframe` approach ends up displaying two scrollbars, due to the length of the embedded Chooser.

https://user-images.githubusercontent.com/17307/142993364-528b6c4e-037d-4001-88ba-f9fd6c381179.mp4

While we can remove the branding elements, such as the Chooser CC footer, the overall height of the Chooser would likely cause the secondary scrollbar in any case.

[2021-11-23 08:47] brylie commented on #147
We are trying to reduce the number of reverse-proxy routes since they make the creativecommons.org web property a bit of a Frankenstein.

[2021-11-23 08:52] brylie commented on #164
Testing `iframe` as part of #147 showed some shortcomings when rendering lengthy content, such as the FAQ or Chooser. I.e., there would be two sidebars to allow the user to scroll within the iframe, which is not an ideal user experience.

[2021-11-23 08:53] brylie commented on #164
I'm closing this since we have a reasonably good idea of the capabilities and tradeoffs of embedding an `iframe` in Gutenberg content.

[2021-11-23 08:53] #164 closed

[2021-11-23 09:02] brylie commented on #160
I believe this issue has been un-blocked now that we have merged the changes related to #151

[2021-11-23 09:04] brylie commented on #51
This task may already be completed by #162

[2021-11-23 09:07] #143 closed

[2021-11-23 09:11] brylie commented on #132
@shailee-m, please remember to link your pull request to this issue.

[2021-11-23 09:18] MuluhGodson commented on #121
@brylie I experimented with the theme.json file.
There are some questions:
This file is to be placed in the theme directory and the changes only work with the activated theme.
So should this file be created in the `creativecommons-base` repository or in the `wp-theme-creativecommons.org` repository.

The changes will only work if it is placed in the theme that is activated on the WP dashboard.

[2021-11-23 09:20] brylie opened #166 "Refactor/clean up theme sidebars"
We have defined several theme sidebars in `creativecommons-base`:

- homepage notification
- homepage widgets
- single
- page
- page footer

However, not all of those sidebars are relevant since switching to Gutenberg. Additionally, we may want some of the appropriate sidebars, namely `home-notification` and `page-footer`, to display on blog posts and across all pages.

For example, staff may want

[2021-11-23 09:22] brylie commented on #121
In that case, let's activate this feature in `wp-theme-creativecommons.org` since that is where we currently need the feature.

[2021-11-23 09:29] brylie commented on #166
@annatuma, is my assumption above correct that we may want to display a persistent notification or donation appeal across the top or bottom of all site pages? E.g., we would create `below-navigation` and `above-footer` generic block areas where content editors could add Gutenberg blocks that would display on all pages and blog posts.

[2021-11-23 09:30] brylie commented on #166
As it stands, the `home-notifications` area only displays on the Home template, which we don't technically need now that we have transitioned to Gutenberg. Similarly, the `page-footer` block area only shows on WordPress pages, distinct from posts, meaning any `page-footer` elements wouldn't appear on blog posts.

[2021-11-23 09:36] brylie opened #167 "Deprecate any unneeded templates/layouts"
Now that we have switched to using Gutenberg editor for page building, we may have obsoleted some of our templates/layouts. Therefore, we should remove any unneeded code from the project.

## Task

- [ ] determine which templates Gutenberg has superseded
- [ ] remove the deprecated code

[2021-11-23 09:39] brylie commented on #166
Related to #14

[2021-11-23 09:46] brylie commented on #79
This issue is superseded by #166 since the Archives and Categories are part of the default WordPress sidebar content for empty sidebars.

[2021-11-23 09:46] #79 closed

[2021-11-23 10:09] brylie commented on #152
Gutenberg lets us specify the HTML anchor for any given Heading element. So, we can be careful to preserve the correct anchors for the existing FAQ items.

![image](https://user-images.githubusercontent.com/17307/143005420-a8584b25-9fe0-49e2-9ad7-a61dea33b308.png)

![image](https://user-images.githubusercontent.com/17307/143005609-2ae7efca-071a-4a80-a87b-64413c067246.png)

[2021-11-23 11:32] MuluhGodson commented on #121
@brylie I opened a draft PR here: https://github.com/creativecommons/wp-theme-creativecommons.org/pull/19
The reason is that while experimenting with the `theme,json` file, padding works as expected. However the margins seem to not show up in the editor panel.

[2021-11-23 16:51] shailee-m opened #168 "[Bug] Wordpress server not starting"
## Description
When trying to run the docker-compose, the service doesn't start up on 8080 or 8000, 8001, 8002.

Here is the log:

[code]

## Reproduction
1. Take a fresh pull from the repo
2. run `git submodule update --init --recursive`
3. stop all docker services using `docker-compose down`
3. Start docker service: `docker-compose up`
4. See error.

## Expectation
WordPress server should be ava

[2021-11-23 18:33] shailee-m commented on #168
@TimidRobot Thank you for looking into it :)

[2021-11-23 21:30] #160 closed

[2021-11-23 21:30] #168 closed

[2021-11-24 05:57] MuluhGodson commented on #141
## Identify Missing Blog Template Elements
WordPress has different Template hierarchies for displaying posts https://developer.wordpress.org/themes/template-files-section/post-template-files/

With the default template:
- Feature Images (post thumbnails) are not displayed on the post itself.
- Feature Image captions are not displayed either
- Author name and avatar are not displayed

[2021-11-24 06:05] MuluhGodson commented on #141
@brylie given that these posts are displayed using templates, to achieve the look in the mockup I was thinking of creating a `CC Blog Post` template which will have a different layout.
I experimented and got this (thought it still needs a lot of fine tuning)

![image](https://user-images.githubusercontent.com/40151808/143183205-f276d602-2ebc-4c1b-b7e7-ebd1ba044523.png)

so all posts created with t

[2021-11-24 07:58] brylie commented on #141
Looks great! If existing blog posts render okay with the newer template, I favor using the new template for all blog posts. That way, content editors don't need to select which template to use when creating a CC Blog Post, as it will be the only/default option.

@annatuma, what are your thoughts about the blog post template(s)?

[2021-11-24 08:35] MuluhGodson commented on #121
I don't think Margins are fully supported yet.
I removed the `theme.json` and activated the custom control settings via `functions.php` which is an alternative as per WP documentation: https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#spacing-control

`add_theme_support( 'custom-spacing' );`

and only the padding controls were available.

[2021-11-24 09:35] brylie commented on #121
I prefer the `theme.json` approach since it is centralized and declarative instead of imperative PHP code.

[2021-11-24 11:33] brylie opened #171 "Remove outdated CSS/code from themes"
Both the `creativecommons-base` and `wp-theme-creativecommons.org` themes contain excessive code, such as verbatim copies of the Vocabulary CSS from unknown points in time. The excess code makes it difficult to maintain the projects and is not well documented.

It is probably in our best interest to prune the excess code to reduce confusion, bugs, and maintenance burden.

## Specific code to remov

[2021-11-24 11:39] brylie opened #172 "Remove minireset.css from Vocabulary project"
The Vocabulary CSS contains [`minireset.css`](https://github.com/jgthms/minireset.css) version 0.0.6. The reset is causing layout issues with our content since it removes the default margin/padding from block elements among other things.

![Peek 2021-11-24 13-38](https://user-images.githubusercontent.com/17307/143231584-bc464b16-c62b-4f27-84d3-a9d8f412ff33.gif)

## Task

- [ ] remove the minireset

[2021-11-24 12:54] annatuma commented on #166
Yes, your assumption is correct and this would be excellent functionality for content editors.

[2021-11-24 12:56] annatuma commented on #166
Let me know what you learn on the use of these three:
* homepage widgets
* single
* page

I suspect (but cannot confirm) that "single" is the menu sidebar widget currently in use on our mockups for the Licenses pages and the FAQ. These were intended to be persistent sidebar menus, i.e. when the user scrolls down to review the content the menu remains in place on the left hand sidebar.

[2021-11-24 14:11] annatuma commented on #141
So to clarify, the choices are either:
1) When creating a new blog post, the CC Blog Post template will load as the default, but the content editor could still choose to use a different (blank) template, or
2) When creating a new blog post, the CC Blog Post template will be the only one available, so the content editor would need to modify all pre-defined blocks if they needed to achieve a differe

[2021-11-24 14:16] brylie commented on #166
That makes sense. To the best of my understanding, WordPress theme sidebars are pretty much intended to display on every page of the site. So, we would likely need a different solution for page-specific menu sidebars, such as the Gutenberg page list block.

Related reading:

- [What is a Sidebar in WordPress](https://www.wpbeginner.com/glossary/sidebar/)
- [Sidebars](https://developer.wordpress.or

[2021-11-24 14:20] brylie commented on #166
While this seems contradictory to what I wrote above, the `homepage-widgets` sidebar is displayed on a custom template that is associated with the specific homepage.

Relatedly, we are now using Gutenberg for the front page, so no longer need the particular homepage template.

[2021-11-24 14:30] brylie commented on #141
OK, cool. So, we will just modify the `single.php` template, which displays a single Post content type, and remove the custom post formats.

Relatedly, should we define this post template in the `creativecommons-base`, so it will display on all CC web properties, or the `wp-theme-creativecommons.org`?

[2021-11-24 14:45] annatuma commented on #166
Interesting! So we could then create a sidebar that renders only on specific pages?

Also happy to evaluate the Gutenberg page list block for achieving the same outcome as the persistent in-page navigation use that I described above. The key is achieving that user experience, preferably with the lightest code lift.

[2021-11-24 14:48] brylie commented on #166
Yes, by defining a custom page template and rendering the sidebar only in that template. Here is an example:

https://github.com/creativecommons/creativecommons-base/blob/main/inc/partials/home/home-content.php

[2021-11-24 14:56] brylie commented on #166
The Gutenberg page-list block would be the most direct user experience since they would add the block directly to their desired page. On the other hand, the sidebar approach would require adding the block under the theme settings area and then selecting the corresponding page template while editing the page.

The stock Gutenberg block approach would also mean less code and allow us to deprecate so

[2021-11-24 15:05] MuluhGodson commented on #141
Yes if we modify the `single.php` template then it will be the default template and no need creating a new one.

[2021-11-24 15:16] MuluhGodson commented on #141
also there is this footer on all the blog post that list the post categories, tags and social share icons. should I leave this in place?

![image](https://user-images.githubusercontent.com/40151808/143264465-239da734-734c-4c38-81e0-6ae3a71fd6d4.png)

On the Figma mockup, only the tags are displayed in the footer:

Mockup:
![image](https://user-images.githubusercontent.com/40151808/143264834-a0b57d

[2021-11-24 15:46] MuluhGodson commented on #141
a post with multiple categories:
Should it be displayed as:
A) Inline:
![image](https://user-images.githubusercontent.com/40151808/143266826-ef265f0a-1f69-4aaa-9069-9fb5c98ef76d.png)

B) Stacked on each other:
![image](https://user-images.githubusercontent.com/40151808/143266967-314029e6-dfec-492f-bd1c-2e531ec4d35b.png)

[2021-11-24 15:50] brylie commented on #141
Inline is probably fine. Also, we don't need to match the design strictly, since we know there will be issues around responsive layout reflow on mobile devices and smaller screens.

[2021-11-24 15:50] brylie commented on #141
It is probably alright to leave in place.

[2021-11-24 17:44] MuluhGodson commented on #172
I think the `minireset.css` in vocabulary is imported from Bulma. `minireset.css` seems to be bundled with the Bulma package, so disabling it will probably be removing this line:
https://github.com/creativecommons/vocabulary/blob/main/src/styles/vocabulary/_index.scss#L4

[2021-11-24 18:03] brylie commented on #172
Yes. Let's try it out and see what aspects of the overall design change. Hopefully, it won't be too disruptive.

[2021-11-24 18:05] #104 closed

[2021-11-24 18:09] MuluhGodson commented on #141
Where do I open a PR: at `creativecommons-base` or at `wp-theme-creativecommons` ?

[2021-11-24 18:10] brylie commented on #141
Let's open this as a PR in `wp-theme-creativecommons.org`

[2021-11-24 23:03] MuluhGodson commented on #121
@brylie The PR
- [x] https://github.com/creativecommons/wp-theme-creativecommons.org/pull/19 is ready for review

[2021-11-24 23:31] MuluhGodson commented on #121
@brylie
The PR is ready for review.
- [x] https://github.com/creativecommons/wp-theme-creativecommons.org/pull/19

[2021-11-25 08:52] #152 closed

[2021-11-25 09:16] #141 closed

[2021-11-25 09:32] MuluhGodson commented on #172
@brylie
I believe https://github.com/creativecommons/vocabulary/pull/1023 fixes task one here.

Task 2 which involves republishing the Vocabulary package I think needs an admin role.

[2021-11-25 09:36] brylie commented on #172
Sure thing. I'll try to publish the package today.

By the way, how do you suggest we continue developing the Vocabulary theme so that changes are propagated to the `creativecommons-base` and `wp-theme-creativecommons.org`? Currently, we are keeping snapshot copies of the Vocabulary CSS in those repositories, meaning things go out of sync when we merge changes directly to Vocabulary. Ideally, we w

[2021-11-25 09:37] brylie opened #173 "Publish a new version of the Vocabulary project"
We have recently made significant changes to the Vocabulary project. In particular, we have modified the Vocabulary styles to remove a CSS reset that was causing layout issues. Now, we need to release a new version of the Vocabulary project(s), at least the styles.

## Task

- [x] obtain administrative permissions on the CC Vocabulary NPM packages
- [x] determine release process for Vocabulary pac

[2021-11-25 09:47] MuluhGodson commented on #172
Well I believe that we don't need to have two separate stylesheets for the `creativecommons-base` and `wp-theme-creativecommons.org` repo. This is because regardless of where the styles are (creativecommons-base or wp-theme-creativecommons.org), the styles are applied on the platform as a whole. So preferably we can just host this stylesheet in `creativecommons-base` and that should do it.

[2021-11-25 09:47] brylie opened #174 "Remove FAQ submodule and configuration"
Now that we have a FAQ importer (#85), we no longer need to maintain a separate service to serve the FAQ contents. As such, we can remove the FAQ submodule and any related configuration, such as from our Docker Compose file.

## Task

- [ ] remove `faq` Git submodule
- [ ] remove FAQ configuration from the project (such as Docker Compose reverse-proxy service)

[2021-11-25 09:50] brylie commented on #172
Sure. One caveat is that we will likely continue to develop the stylesheets in the Vocabulary project repository. So, we should think about how we can loosely couple the stylesheets, such as using CSS import like we do with the `fonts` package.

The trick being, we need to be able to see how our CSS changes affect the themes visually so we aren't developing with our eyes closed, so to speak. For t

[2021-11-25 10:01] brylie opened #175 "Determine how best to develop Vocabulary styles without duplicating project code"
We want to use the Vocabulary CSS styles in our WordPress theme(s). However, we have a tendency to keep full copies of the minified Vocabulary CSS in the projects and make local changes that go out of sync from the other sources. Ideally, our Vocabulary styles would only be changed in one location and then automatically imported in our themes.

Furthermore, we should identify the guidelines for st

[2021-11-25 10:01] MuluhGodson commented on #172
I think the best will be to develop using the vocabulary repo and doing a CSS import as we currently do with fonts. This will make the projects more maintainable.

[2021-11-25 10:05] brylie commented on #172
Sounds good. Would you like to take a look at the related issue? https://github.com/creativecommons/project_creativecommons.org/issues/171

[2021-11-25 10:13] MuluhGodson commented on #171
Okay I will love to work on this. Once Vocabulary is published, I'll test the CSS imports and report my findings.

[2021-11-25 11:20] brylie commented on #173
@zackkrida, would you kindly provide an outline of the Vocabulary release process, even stating what may seem like obvious steps? I want to make sure we create a proper release and may be unaware of some nuances.

[2021-11-25 17:03] shailee-m commented on #132
@brylie
Here are the 5 APIs created in the theme. (wp-theme-creativecommons.org/inc/filters.php)
1. ccglobal/menu - seems like the code doesn't exist anymore. Can remove the endpoint
2. navigation-header/menu - Updated in the [PR](https://github.com/creativecommons/wp-theme-creativecommons.org/pull/21)
3. ccnavigation-footer/menu - Updated in the [PR](https://github.com/creativecommons/wp-theme-cr

[2021-11-25 17:36] shailee-m commented on #93
@brylie shall I pick this?

[2021-11-26 02:14] MuluhGodson commented on #171
#### 1) After deleting the redundant `style.css`
![image](https://user-images.githubusercontent.com/40151808/143516185-e5d3f6e9-49c3-47ee-aec3-d338a3ffec41.png)

#### 2) Importing vocabulary via `@import url(https://unpkg.com/@creativecommons/vocabulary@2020.11.3/css/vocabulary.css);`
![image](https://user-images.githubusercontent.com/40151808/143516502-5488aa28-e327-4aa1-8fe7-2a22476be98a.png)

I

[2021-11-26 02:17] MuluhGodson commented on #171
I also deleted the `front` directory in both `creativecommons-base` and `wp-theme-creativecommons.org`.
However, for the `assets` folder, I left the `img` folder as it contains the site logo. Just to clarify, should this be deleted too?

[2021-11-26 03:19] MuluhGodson commented on #171
The `explore-cc` banner appears on smaller screen size:
![image](https://user-images.githubusercontent.com/40151808/143521634-d75830b5-b71f-4b3b-bd39-569a7e8dc330.png)

When expanded, it lacks some styling and the button doesn't expand with it:
![image](https://user-images.githubusercontent.com/40151808/143521690-a0a86eca-6034-4734-b121-e0d1a8f60c58.png)

This would mean some classes are currently

[2021-11-26 03:36] MuluhGodson commented on #171
Another noticeable change is that some dashboard colors change:
![image](https://user-images.githubusercontent.com/40151808/143522840-a92f844a-a59a-4504-8c2a-692a17591ff2.png)

and the footer of post also has some colour changes:
![image](https://user-images.githubusercontent.com/40151808/143522928-12624dc9-5728-40ef-ad51-9939c31c356d.png)

[2021-11-26 09:05] brylie commented on #93
@shailee-m, sure.

[2021-11-26 09:14] brylie commented on #132
For the footer endpoint, we want to return the whole footer area:

![image](https://user-images.githubusercontent.com/17307/143556535-a6e5265c-61bf-421a-b97c-34b29dc20531.png)

[2021-11-26 09:21] brylie commented on #132
Similarly, the header endpoint should serve the whole header menu and branding topbar:

![image](https://user-images.githubusercontent.com/17307/143557296-c25382d3-da52-4a8a-b763-a072d70ee402.png)

[2021-11-26 09:29] brylie commented on #132
The problem we are trying to solve is as follows. Several parts of the creativecommons.org website are not served from WordPress, such as the `creativecommons.org/licenses`.

When users navigate to sub-sections of creativecommons.org that WordPress does not serve, we want to make it easy for them to navigate back to the main site.

One option is to serve the static HTML content so that Django can

[2021-11-26 09:36] #171 closed

[2021-11-26 09:39] brylie commented on #161
After a bit of research and reflection, I propose creating a new project and scaffolding a custom web component that we can serve from CDN.

Some ideal characteristics of the project:
- Web Standards oriented
- clean separation of HTML, CSS, and JavaScript (structure, aesthetics, and functionality)
- lightweight / small bundle size
- loosely coupled (no tight or unrelated dependencies)

I consider

[2021-11-26 10:24] brylie commented on #93
If possible, let's just use a CSS `import` to load Bulma from unpkg.

https://unpkg.com/browse/bulma@0.9.3/

[2021-11-26 10:26] brylie commented on #144
The [Ultimate Addons for Gutenberg](https://ultimategutenberg.com/) WordPress plugin has a [table of contents block](https://ultimategutenberg.com/blocks/table-of-contents/), among several other blocks that may prove useful.

My only concern is that it is unpredictable if/when WordPress plugins might do things like switching to a Freemium model or adding adverts in the WP Admin UI.

[2021-11-26 10:27] brylie commented on #144
The [GutenTOC](https://wordpress.org/plugins/gutentoc-advance-table-of-content/) plugin looks nice and is open-source.

[2021-11-26 10:31] brylie commented on #132
@shailee-m, I am wondering whether our desire to share the header navigation menu and footer content area could also be met by Vue components. E.g. we could define the following Vue components.

## `cc-global-footer`
Purpose: the full, static footer element with CC address, donation button, etc

![image](https://user-images.githubusercontent.com/17307/143556535-a6e5265c-61bf-421a-b97c-34b29dc20531

[2021-11-26 11:04] brylie opened #176 "[Experiment] create Vue.js components for global header, footer, and Explore CC"
We have several components that we want to display across Creative Commons web properties, namely

- global navigation menu - will display on sub-paths of creativecommons.org, such as `/licenses`
- global footer - will display on several Creative Commons properties
- Explore CC - will display on all CC web properties, such as Network
## Idea
Vue components could also meet our desire to share the h

[2021-11-26 11:12] #121 closed

[2021-11-26 11:32] brylie commented on #176
We can use a regular `index.html` to load and display the three core components in the project. Then, when we are ready to publish, we will follow the instructions for Vue CLI build targets, either `library` or `web components`.

[2021-11-26 11:38] MuluhGodson commented on #176
Hello @brylie
I will love to be assigned here

[2021-11-26 15:56] MuluhGodson commented on #174
I imported the faq and it displayed correctly. I will love to handle this issue.

![image](https://user-images.githubusercontent.com/40151808/143606212-d33e845b-b014-4565-b210-61710f87dca4.png)

[2021-11-26 17:18] brylie commented on #176
@MuluhGodson, remember that we can define Vue components in regular HTML files. In effect, we can import Vue from CDN in the HTML file. Then you can create `script` and `style` tags in the HTML document to contain the Vue code and any desired styles. Everything is standards-compliant; no build tooling necessary.

[2021-11-26 17:21] MuluhGodson commented on #176
This is a  far better approach as it will require little to no dependencies.

[2021-11-26 19:03] MuluhGodson commented on #176
For the `CC-Explore` Banner:
I just added the  markup to a basic HTML file and added the Vue CDN as a script. I also included vocabulary via CDN. Using the CDN for vocabulary just means we won't have to write any CSS. However for CC projects that don't use vocabulary..this will leave the banner unstyled. What are your thoughts?

[code]

[code]

![vue-cc-explore](https://user-images.githubuserconte

[2021-11-27 06:52] shailee-m commented on #176
@brylie @MuluhGodson Just one thought here. I think web components have a good use here. If we are planning to create something like web components then why don't we stick to React? WordPress by default supports React and if, in the future, we want to create an interactive view it will be easier to create a react web component and embed it in WordPress as well as elsewhere.

[2021-11-27 06:56] MuluhGodson commented on #176
That's a great idea. But I think the reason @brylie recommended Vue is because not all the CC projects use WordPress but most already have some form of Vue JS integrated in their codebase. I believe it's the reason why Vue was chosen to be used. The other alternative was [Lightning Web Components](lwc.dev)

[2021-11-27 06:59] shailee-m commented on #176
@MuluhGodson Oh, I didn't know that. We can really go with any as the web components would ideally be platform-independent. Please let me know if I could help you with anything in this story 😄

[2021-11-27 07:01] MuluhGodson commented on #176
@shailee-m thank you. I will keep you posted.

[2021-11-28 06:24] MuluhGodson commented on #22
For reference, this is the CSS I used:
[code]

[2021-11-30 09:21] brylie commented on #176
@shailee-m, would you like to create the Vue component that fetches and renders the WordPress navigation menu? That way, you and @MuluhGodson can divide this task up.

[2021-11-30 09:42] MuluhGodson commented on #176
@brylie
There are 3 ways to go:
1) We can just have three HTML files for each compenent,
2) Building via Vue-CLI
3) Using SFC-Rollup

What will be the most optimum or preferred way to go?

[2021-11-30 09:45] #174 closed

[2021-11-30 09:46] brylie commented on #22
Very cool. We can document that CSS class in our internal Gutenberg editor guide.

[2021-11-30 09:52] MuluhGodson commented on #22
I'll open a PR and add it to the `style.css`

[2021-11-30 09:56] brylie commented on #176
@MuluhGodson which of the options will allow us to use the individual components directly in a web page or template, such as a Django or PHP template?

[2021-11-30 10:12] MuluhGodson commented on #176
I'll build each component in the 3 mentioned methods and do basic test with them.

The `explore-cc` component and `footer-component` are basic since it's all static content.

[2021-11-30 10:15] brylie commented on #176
Yes. For now, the CC menu can also be static with some example content.

We will probably work with @shailee-m to write the code to fetch the menu JSON from the WordPress API. This is a good task for pair-programming if you and Shailee are available.

[2021-11-30 10:17] brylie commented on #176
I believe only the SFC rollup approach will give us stand-alone components that can be

- served from CDN
- included in a regular HTML/Django/PHP template as a custom element

[2021-11-30 10:17] MuluhGodson commented on #176
This is a great idea. I think @shailee-m will be interested.

[2021-11-30 10:18] brylie commented on #176
OK, cool. Go ahead and make the static menu element taking some example structure from the mockup and, of course, applying the correct classes to the menu items.

[2021-11-30 10:18] MuluhGodson commented on #176
Yes. The SFC-Rollup is able to generate that.
With this approach, a good way will be to add GitHub actions that automatically compile and update the CDN when a new change is published.

[2021-11-30 10:19] brylie commented on #22
Once we merge the PR, I'll mention the CSS class in our internal Gutenberg publishers' handbook.

[2021-11-30 10:20] MuluhGodson commented on #176
With Vue, in the Style section we are able to CSS import stylesheets. I want to use this approach and import vocabulary via CDN instead of hard-coding the styles. This way each time vocabulary is updated...the styles are the same for each project it uses without manual style changes... especially for the components.

[2021-11-30 10:40] brylie commented on #44
Old content will be migrated to the new WordPress site using the standard export/import process if needed.

When the new theme is applied to the WordPress site, with Gutenberg enabled, the old content will remain editable on an as-needed basis by manually converting to Gutenberg blocks. This conversion requires a single click from the content editor but should be done manually to ensure the conten

[2021-11-30 10:40] #44 closed

[2021-11-30 10:42] brylie commented on #76
The content updating workflow is self-documenting. When users want to edit a blog post or page created with the legacy rich-text editor, WordPress will prompt them to convert to Gutenberg blocks. After clicking the corresponding button, they will be able to edit the desired content.

[2021-11-30 10:42] #76 closed

[2021-11-30 11:03] brylie opened #179 "Error: The page isn’t redirecting properly"
After running `docker-compose up`, I visit the `dispatch` endpoint to access the WordPress installation. However, I get the following browser errors.

## Firefox

![image](https://user-images.githubusercontent.com/17307/144035533-eccc9863-a44c-4537-a6fe-4713893c734f.png)

## Chromium

![image](https://user-images.githubusercontent.com/17307/144035978-e5556f2c-c57f-4b16-8189-237357068899.png)

This

[2021-11-30 11:06] brylie commented on #179
Strangely, I am able to access sub-paths, such as `http://127.0.0.1:8000/wp-admin/`

[2021-11-30 11:12] brylie opened #180 "[licenses] error: failed (111: Connection refused) while connecting to upstream"
After running `docker-compose up`, I try to access the reverse-proxied services by visiting their corresponding endpoints`http://127.0.0.1:8000/<endpoint>`.

- /characteristic
- /licenses
- /ns
- /publicdomain
- /rdf
- /schema.rdf

For each above endpoint, I see the following nginx error.

![image](https://user-images.githubusercontent.com/17307/144036912-27e301d7-c3fb-49a2-9f79-d3214952beb7.png)

[2021-11-30 11:16] brylie commented on #180
It turns our that all of the dispatch URLs display the same error, except `/` (#179). I've tested the following endpoints with the same result.

- /characteristic
- /licenses
- /ns
- /publicdomain
- /rdf
- /schema.rdf

[2021-11-30 16:18] shailee-m commented on #176
Yes, I'd like to get in on it :)

[2021-11-30 16:21] shailee-m commented on #176
@brylie @MuluhGodson
 I agree. I can start working on one of the components that @MuluhGodson  has not yet started working on. Let me know.

[2021-11-30 16:47] MuluhGodson commented on #176
I'll create the basic SFC-Rollup template and push it to the Repo: https://github.com/creativecommons/cc-global-components

[2021-11-30 16:50] MuluhGodson commented on #176
As concerns accessibility: for every click event especially for toggling purposes, I am including a corresponding keypress event.
For screenreaders, I am adding an `aria-label` and other necessary `aria-` attributes that help screenreaders navigate a page or elements on a page.

[2021-11-30 18:02] TimidRobot opened #183 "[Bug] FAQ documentation missing"
## Description
- There is no documentation for importing the FAQ (for making the FAQ available at [127.0.0.1:8000/faq/](http://127.0.0.1:8000/faq/)
- There is no documentation for updating the FAQ in this project when the content of [creativecommons/faq](https://github.com/creativecommons/faq) is updated
  - (this will be needed until this project is deployed to production, at which time the stand

[2021-12-01 08:39] brylie commented on #176
Good question. We'll look for flicker and content shifts while testing out the menu. If needed, we can look at strategies to reduce/avoid content shifts, such as adding a margin to the `body` so the menu won't push the content down.

[2021-12-01 08:39] #179 closed

[2021-12-01 08:45] #93 closed

[2021-12-01 08:51] annatuma commented on #14
@brylie resurfacing this, as we need to set the pop-up live for the end of year campaign.

Please look into what @alainseys shared so that we can be slightly less intrusive through use of cookies (I know, this reads like an oxymoron) and limit how often folks see the donation pop-up. I think once every 5 days is reasonable.

Let me know if you need any support. The only change we'll make to the ex

[2021-12-01 09:27] #57 closed

[2021-12-01 09:30] brylie commented on #166
After discussing with @annatuma, we agreed to keep at least two global "sidebars" on all page/post templates:

- `after-navigation` - displays directly below the **site navigation**
- `before-footer` - displays directly above the **site footer **

Note: we can still decide whether different names would be better, such as `above-footer`, `below-navigation`, `site-notification`, `footer-announcement

[2021-12-01 09:43] #22 closed

[2021-12-01 10:26] brylie commented on #180
All of the indicated tests above pass for me now except:

[2021-12-01 11:18] brylie opened #184 "Vocabulary styles are causing layout issues with WordPress admin"
When viewing the WordPress admin area, there are several visible layout issues, such as

![image](https://user-images.githubusercontent.com/17307/144225234-32031912-d9d0-4365-8f82-3ab33d3018b8.png)
![image](https://user-images.githubusercontent.com/17307/144225281-0d54b832-6628-4cb9-bec5-60dc0045062f.png)

The source of the issues seems to stem from `vocabulary.css`, which shouldn't be necessary f

[2021-12-01 12:25] #180 closed

[2021-12-01 12:26] #51 closed

[2021-12-01 12:27] brylie commented on #87
Closing as superseded by #118

[2021-12-01 12:27] #87 closed

[2021-12-02 11:24] brylie opened #186 "Allow users to dismiss donation appeal modal (using Google Tag Manager)"
Split from #14

We have previously used Google Tag Manager to define a donation appeal pop-up. We want to re-use the tag this year but allow users to dismiss the appeal (and remember their decision.) Currently, our Google Tag code is rudimentary and does not remember when users have previously dismissed the pop-up.

## Task

- [x] determine how to use cookies, or some similar mechanism, to remembe

[2021-12-02 11:35] brylie commented on #186
Alternatively, this might be a good addition to the `cc-global-components` collection, since it is just JavaScript, HTML, and CSS.

[2021-12-02 11:56] brylie commented on #186
One solution, using jQuery as is already present, might be:

[code]

[2021-12-02 19:25] MuluhGodson commented on #186
This seems to work. I just added two functions to get and set the cookie. I set the cookie to have an expiry date of 5 days from when the user opts out. Taking from what you wrote:

[code]

[2021-12-02 21:36] MuluhGodson commented on #186
This is a great idea. Given that this modal will probably need to be placed on multiple web properties, including it in the `cc-global-components` will provide a good enough flexibity.

[2021-12-03 07:30] brylie commented on #186
@annatuma mentioned yesterday the modal dialogue embedded on the desired websites (creativecommons.org and licenses). So, we can activate the modal by "flipping a switch."

Given the short-term nature of this task, @annatuma suggests we modify the existing code to add the cookie-checking functionality.