[2021-12-03 08:13] MuluhGodson commented on #184
@brylie
Vocabulary is imported in the root `style.css` of `creativecommons_base` https://github.com/creativecommons/creativecommons-base/blob/main/style.css#L16 since we deleted everything in the assets folder.
However, this file also contains styles such as the `inline colour functionality, `same height columns`, and the `license card` which need to be previewed on the admin side as the additiona

[2021-12-03 08:28] brylie commented on #186
@MuluhGodson, what do you think about using `Cookies.get('optOutDonationAppeal') === 'false'` instead of writing a bespoke `getCookie` parser?

[2021-12-03 08:43] brylie commented on #184
One other option might be to add a stylesheet link in the theme header:

https://github.com/creativecommons/creativecommons-base/blob/6670dd0c45d5767f8bda5ba9048dc580de24ba36/header.php#L3-L8

[2021-12-03 08:44] MuluhGodson commented on #184
Yes this is the best option.

[2021-12-03 08:45] brylie commented on #184
Cool. And it's fairly conventional and standards-aligned.

[2021-12-03 08:45] brylie commented on #184
Would you like to take this task @MuluhGodson?

[2021-12-03 08:47] MuluhGodson commented on #184
Yes I will love to open a PR for it.

[2021-12-03 08:47] brylie commented on #147
Another way to separate the services would be to use subdomains rather than sub-paths. Then, we can manage the sub-domain split at the DNS layer without necessitating a reverse proxy.

[2021-12-03 09:08] brylie commented on #186
@MuluhGodson, I've looked into the code above a bit more and would perhaps like to use [js-cookie](https://github.com/js-cookie/js-cookie) to parse the cookie (e.g., from [jsDelivr](https://www.jsdelivr.com/package/npm/js-cookie)).

[2021-12-03 09:30] MuluhGodson commented on #186
Refactoring with `js-cookie`

[code]

using `Cookies.get('optOutDonationAppeal') === 'false'` returns false always regardless of what the cookie value is.

[2021-12-03 09:35] brylie commented on #186
These "not not"s are a bit confusing. So let's consider how to clarify our booleans.

[code]

If you don't mind, may I assign you to this issue as well since you are actively contributing to finding the solution?

[2021-12-03 09:38] MuluhGodson commented on #186
Both lines can be replaced by:
` if ( Cookies.get('optOutDonationAppeal') === 'false' && overlayNotRendered )`

Yeah, it'll be my pleasure to be assigned here.

[2021-12-03 09:39] brylie commented on #186
I guess the variable name `userHasNotOptedOutFromDonationAppeal` can be changed to `userOptedOutFromDonationAppeal`, as such:

[code]

Does the above seem correct to you? I'm okay with using the [logical NOT](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Logical_NOT) operator. However, I want to ensure that our code is self-documenting.

[2021-12-03 09:40] brylie commented on #186
The suggestion above removes the [explanatory variable](https://github.com/ryanmcdermott/clean-code-javascript#use-explanatory-variables), decreasing readability overall. I want to retain the explanatory variable.

[2021-12-03 09:51] MuluhGodson commented on #186
Alternatively, while keeping the explanatory variable, we can use a ternary operator:
[code]

[2021-12-03 09:52] brylie commented on #186
The ternary operator is good as well. Double-check the variable name now, which may illumniate an error in the code:

[code]

[2021-12-03 09:55] MuluhGodson commented on #186
[code]

Apart from the If condition which may seem confusing given the irony, this should work.

[2021-12-03 09:57] MuluhGodson commented on #186
[code]

Changing the variable name to `userHasNotOptedOutFromDonationAppeal` for better understanding.
This should work

[2021-12-03 09:57] brylie commented on #186
This is certainly a bit confusing, but I still believe there is a semantic error in the code:

[code]

[2021-12-03 10:13] brylie commented on #186
Let's encapsulate the modal rendering code into a function, so the `ready()` method is more concise. What do you think about the following? Just generally naming things and giving ourselves some reminders along the way.

[code]

[2021-12-03 10:18] MuluhGodson commented on #186
While at this, should I add a small delay so the modal is not immediately displayed when the page is loaded?
If yes, how long should this delay be? 15 seconds? 30 seconds?

[2021-12-03 10:26] brylie commented on #186
I've set up a GTM test case, but it doesn't seem to be triggered on the test page for some reason.

![image](https://user-images.githubusercontent.com/17307/144587325-f0bb5cef-7bcd-4dde-825f-802309b8e762.png)

![gtmtest](https://user-images.githubusercontent.com/17307/144587172-38c606f7-07ab-4949-97cf-0c1a09087d93.png)

I'll have to troubleshoot why the test doesn't seem to work.

[2021-12-03 10:29] brylie commented on #186
It might be worth experimenting with Google Tag Manager, since it may have some [triggers](https://support.google.com/tagmanager/topic/7679108) for delaying the event or even waiting for the user to scroll. Also, if you are able to get the tag to fire successfully in a local test, it might help to debug the issue I'm experiencing above.

[2021-12-03 10:30] brylie commented on #186
In my example above, I may need to use the DOM Ready trigger instead of Page View.

https://support.google.com/tagmanager/answer/7679319

[2021-12-03 10:32] MuluhGodson commented on #186
[code]

[2021-12-03 10:33] MuluhGodson commented on #186
Let me setup a quick GTM account and do some test.

[2021-12-03 11:21] MuluhGodson commented on #186
@brylie I created a generic GTM test for it to be fired on every page initialization. At first it didn't seem to trigger but I used the Google Tag assistant by clicking on the Preview button att the top right and after that the trigger is fired correctly.
![image](https://user-images.githubusercontent.com/40151808/144594384-34d22a12-f91f-48bd-bd3f-2af1f50bb0be.png)

![image](https://user-images.gi

[2021-12-03 11:22] brylie commented on #186
Ok, cool. What trigger did you use?

[2021-12-03 11:29] MuluhGodson commented on #186
The `Page View` trigger

[2021-12-03 11:42] brylie commented on #186
@MuluhGodson, what do you get when you try to use the Tag Assistant to connect to https://creativecommons.org?

[2021-12-03 11:45] MuluhGodson commented on #186
![image](https://user-images.githubusercontent.com/40151808/144597235-27dc3f5b-9805-4848-8a2f-8149fd5738d8.png)

Then the `creativecommons.org` site is loaded in a new tab:
![image](https://user-images.githubusercontent.com/40151808/144597321-284a216d-b23c-4183-aaa7-37549f58ca2f.png)

[2021-12-03 11:47] brylie commented on #186
Very cool. I realized that UBlock origin was blocking GTM from loading in my browser.

[2021-12-03 12:01] MuluhGodson commented on #186
@brylie I deleted the containers and created a new container/tag and trigger. The triggers aren't fired until I click the submit button [top right corner]. I think with that, the configuration is published and can now be used.

![image](https://user-images.githubusercontent.com/40151808/144594384-34d22a12-f91f-48bd-bd3f-2af1f50bb0be.png)

[2021-12-03 12:39] brylie commented on #186
Cool beans! Everything is awesome! I got it more or less working after some bumbling around and figuring things out.

The only improvement I'm considering for the code is to use a variable for the donation URL. Then we would use a JS template literal to insert the URL in the proper location.

[code]

Using a variable would make it easy to swap out the URL if it changes. The drawback is that IE 11

[2021-12-03 13:36] brylie commented on #186
It turned out that Google Tag Manager won't let us use template literals.

[2021-12-03 13:37] brylie commented on #186
For future reference, here is the published version of the code in Google Tag Manager (including CDN imports, CSS, and JS).

<details>
<summary>2021 end-of-year appeal tag</summary>

[code]
</details>

[2021-12-03 13:38] #186 closed

[2021-12-03 13:41] #184 closed

[2021-12-06 07:38] MuluhGodson commented on #167
I will love to handle this issue.

[2021-12-07 07:15] brylie commented on #167
Thanks, @MuluhGodson: I'll assign you.

[2021-12-07 07:23] brylie commented on #147
Agreed, the FAQ and PT are somewhat small while the Legal Tools has a much more involved localization process than WordPress is prepared to handle.

Very cool! Approved and merged :smiley:

[2021-12-07 08:34] MuluhGodson commented on #167
@brylie
The current state of the repository has these layouts/templates files:
- `page-without-header.php`
- `page.php`
- `sidebar.php`
- `template-sidebar.php`
- `single.php`

I don't think `page-home.php` still exist in the `creativecommons-base` repo, which is where all these layout files are.

[2021-12-07 08:36] brylie commented on #167
OK, cool. We may have removed it in a separate issue. Perhaps we can use this task to consider whether there are other templates from that list we can remove? E.g. the `sidebar.php` and `template-sidebar.php` may be redundant.

[2021-12-07 08:39] brylie commented on #167
I've updated the issue description to be more broad in scope.

[2021-12-07 08:56] brylie opened #189 "Restore proper styles all content in a `div` with `class="content"`"
## Problem
Bulma contains a `minireset.css` that removes default styles from elements such as paragraphs and headings. The expectation is that we would add style classes to those elements to restore their desired appearance. However, Bulma also allows us to wrap all content in a `<div class="content">` to restore their desired appearance.

## Task

- [ ] add a container `div` with the `class="cont

[2021-12-07 08:58] brylie commented on #189
@MuluhGodson, this task may be sufficient to resolve our discussion around `minireset.css`.

[2021-12-07 15:46] zackkrida commented on #173
Repeating what I shared last week in Slack for redundancy's sake. Here's an example where we're releasing a hypothetical version `30.4.5` of Vocabulary:

1. Make a PR against the `main` branch which does the following:
    - Bump the `version` key of the `package.json` for each [package](https://github.com/creativecommons/vocabulary/tree/main/packages) to `30.4.5`
    - Update the `package-lock.js

[2021-12-07 16:10] shailee-m commented on #142
@brylie Can I pick this one?

[2021-12-08 08:44] brylie commented on #142
@shailee-m, sure thing. Thanks!

[2021-12-08 09:06] MuluhGodson commented on #189
This works well.
I just added the class to the `div` that renders WP content itself, excluding the header and footer.

[2021-12-08 09:14] brylie commented on #189
Sounds like a simple fix. Would you like to take this issue?

[2021-12-08 09:17] MuluhGodson commented on #167
@brylie A quick question: Taking from the WP documentation on the [hierarchy of templates](https://developer.wordpress.org/themes/basics/template-hierarchy/#the-template-hierarchy-in-detail)
we have the `page.php` which renders single pages and a `page-without-header.php`
The header here just renders the page title on the page which can be easily removed from `page.php` hence we won't need to have

[2021-12-08 09:17] MuluhGodson commented on #189
yes I would love to.

[2021-12-08 09:26] brylie commented on #167
We need to discuss a few usability concerns before deprecating the `page-without-header.php` and decide how we want page editors to manage page titles specifically.

- What will be the user experience for the content author when creating a new page?
- Specifically, how do we want them to handle the primary page title?
- Do we want them to 1) enter the page title into the WordPress title field and

[2021-12-08 09:30] brylie commented on #167
The suggestion to delete `single.php` also seems reasonable. However, we want to consider how this would impact other projects that rely on `creativecommons-base`. I.e., would the other projects also need to declare a sub-theme with the `single.php` to display blog posts?

A couple of broader questions to explore would be

- what other projects will use `creativecommons-base`?
- which of the other

[2021-12-08 09:33] brylie commented on #167
@MuluhGodson, the above are genuine and open questions, so your thoughts are very much welcome and appreciated. I will also discuss this with @annatuma today during our 1:1 meeting.

[2021-12-08 09:47] MuluhGodson commented on #167
Currently, when a user wants to create a page, they have to choose between 1 of 3 templates:
- Default Template (which uses the template `index.php`)
- Page (which uses the template `page.php` and displays the post title in the content by default)
- Page Without Header (which uses the template `page-without-header.php` and does not display the post title in the content)

If we delete `page.php` an

[2021-12-08 09:57] MuluhGodson commented on #167
These are very interesting questions.
If we remove `index.php` from `creativecommons-base` then `index.php` will be used as the default to render blog post (it won't have some blog components like social sharing etc). For a project that uses `creativecommons-base`, that project will need to declare a sub-theme that has a `single.php` file so it takes precedence and is used to render their blog pos

[2021-12-08 10:36] brylie commented on #167
That seems like a meaningful improvement, whereby we have one fewer template to maintain. Also, might we be able to remove the page header partial, since the code wouldn't be used in multiple locations (and just move the template fragment to the only location where it is used in `single.php`)?

[2021-12-08 11:11] MuluhGodson commented on #167
The code in the page header partial is:
[code]
The templates that currently have this partial included are:
- `template-sidebar.php`
- `page.php`

The other templates don't include this header partial and have it hardcoded.
So yes we can remove the header partial and just move the code fragment to where it's needed, given that most of the other templates are already doing this.

[2021-12-08 11:14] brylie commented on #176
@MuluhGodson, shall we close this issue as complete?

[2021-12-08 11:15] brylie commented on #161
@MuluhGodson, shall we assign you to this task and close it, since you created the component in `cc-global-components`?

[2021-12-08 11:15] MuluhGodson commented on #176
Yes, I think we have covered all the tasks involved.

[2021-12-08 11:16] #176 closed

[2021-12-08 11:18] brylie commented on #134
Closing this issue, since we will be disabling comments in the future on creativecommons.org

[2021-12-08 11:18] #134 closed

[2021-12-08 11:20] brylie commented on #172
Closing this issue, since it may be circumvented by #189

[2021-12-08 11:20] #172 closed

[2021-12-08 11:22] MuluhGodson commented on #161
Yeah, that will be cool.

[2021-12-08 11:24] #161 closed

[2021-12-08 11:25] brylie opened #190 "Add the new cc-global-components to related projects"
Once we have created a release for the `cc-global-components` library (#191), we can embed the components in some high-priority projects.

## Task

- [ ] identify top priority projects where `cc-global-components` are needed
   - [ ] for each project, specify which component(s) are relevant
- [ ] integrate appropriate cc-global-components into high-priority downstream projects
- [ ] demonstrate an

[2021-12-08 11:28] brylie opened #191 "Publish `cc-global-components` library"
Now that we have developed the `cc-global-components` project, we need to make a release. Once we have made a release, we will integrate the global components into downstream projects.

## Prerequisite tasks

- [x] update Donate button references to use current donation link
- [x] remove `fonts` and `vocabulary` imports, update documentation for downstream integrations
- [x] allow Axios API call t

[2021-12-08 11:41] brylie commented on #153
@shailee-m, what do you think of the following approach to this task?

1. copy all HTML/JavaScript from the existing CC Platform Toolkit single-page project and paste it into a Gutenberg HTML block.
2. include any external JS resources from CDN in `script` tags.

[2021-12-08 11:43] MuluhGodson commented on #167
I'll wait for feedback then open a PR on what is finally decided on as the best way to go.

[2021-12-08 11:59] MuluhGodson commented on #189
@brylie
When this PR in `wp-theme-creativecommons.org`
- [x] https://github.com/creativecommons/wp-theme-creativecommons.org/pull/27 I will include the `content` class there too thereby making this issue complete.

[2021-12-08 12:20] #189 closed

[2021-12-08 12:21] brylie commented on #189
@MuluhGodson, both PRs are now merged.

[2021-12-08 13:07] brylie commented on #167
@annatuma suggested that we consolidate the `page.php` and `page-without-header.php`, making "page without header" the default for all page content. Then, the content creator can add the Gutenberg *Post Title* block to achieve the grey background on black text depicted in the Figma mockup.

![image](https://user-images.githubusercontent.com/17307/145213323-4d9111cc-e8d9-4dda-a492-843cfdc7cd6b.png)

[2021-12-08 14:37] MuluhGodson commented on #167
With this, the user will have to select between 3 templates when creating pages:
- Default Template (`index.php`)
- Page (`page.php` which basically does the same thing as `index.php`)
- Sidebar (`sidebar.php`)

[2021-12-08 15:24] #167 closed

[2021-12-08 16:23] MuluhGodson commented on #191
Somethings to keep in mind before publishing:
- In the header, footer and cc banner, we have the Donation button as a static anchor HTML element. The `href` of this element will need to be updated to what is currently being used (assuming it has changed). See [here: CC Global Header](https://github.com/creativecommons/cc-global-components/blob/main/src/components/cc-global-header.vue#L10) and [her

[2021-12-08 22:43] annatuma commented on #167
Thanks for all the research on this @MuluhGodson.

@brylie I appreciate you capturing the outcome of today's review session. Great to be simplifying the code base and giving content editors flexibility at the same time!

[2021-12-09 08:34] brylie commented on #191
@MuluhGodson, very well thought out. I updated the task description with a prerequisite tasks checklist.

[2021-12-09 08:35] brylie commented on #191
Would you like to discuss and assist with the prerequisites?

[2021-12-09 08:42] MuluhGodson commented on #191
Yes it will be my pleasure

[2021-12-09 08:52] brylie commented on #191
How do you think we might remove the hard-coded Axios request URL and allow the developer to configure the URL?

[2021-12-09 08:54] MuluhGodson commented on #191
I think one proven method will be to use `env` files.

[2021-12-09 09:04] brylie commented on #191
What about using an attribute on the component itself? E.g. `base_url`

[2021-12-09 09:18] MuluhGodson commented on #191
This will work too.
Instead of hard-coding it in an attribute, we can pass it as a prop to the component when it's placed in the HTML file: e.g

[code]

[2021-12-09 09:21] brylie commented on #191
Sounds good. That is what I meant by "attribute":

https://en.wikipedia.org/wiki/HTML_attribute

[2021-12-09 09:23] MuluhGodson commented on #191
I'll work on it and open PR's.

[2021-12-09 18:18] MuluhGodson commented on #191
@brylie can you convert the prerequisite task to Issues so I can link them directly in a PR?

[2021-12-09 18:28] MuluhGodson commented on #191
@brylie I opened a [PR](https://github.com/creativecommons/cc-global-components/pull/8) to handle the prerequisite task

[2021-12-10 07:22] brylie commented on #14
Moving this to post-launch, since we are using Google Tag Manager for MVP.

[2021-12-10 07:24] brylie commented on #56
Moving this to post-launch, since it is likely superseded by the `cc-global-components` project, which renders the JSON to HTML using Vue.js.

[2021-12-10 07:25] brylie commented on #56
We will leave your pull request open @shailee-m. I've unassigned you from this task to indicate that your focus is elsewhere for now.

[2021-12-10 07:30] brylie commented on #118
We may need to omit the breadcrumbs if Yoast SEO provides no Gutenberg `breadcrumbs` widget. The Yoast SEO breadcrumbs may display at a different location in our page template.

[2021-12-10 07:37] MuluhGodson commented on #118
Hello @brylie Can I be assigned here?

[2021-12-10 07:44] brylie commented on #118
Sure thing :smiley:

Since this is one of the largest, known remaining tasks in our MVP milestone, let's figure out how to keep the complexity low. We can improve on the page design post-launch.

[2021-12-10 11:57] MuluhGodson commented on #118
From the Figma Mockup, here is my initial iteration:
- `Group`
    - `Post Title`
    - `Paragraph`
    - `Paragraph (breadcrumb)`
- `Columns` - 3 child-columns with the  middle column having the biggest width
    - `Column - 1/5 size`
        - `Heading` - Unlocking Knowledge
        - `Query Loop`
        - `Heading` - Discovery
        - `Query Loop`
    - `Column - 3/5 size` - Widest width of

[2021-12-10 11:58] #191 closed

[2021-12-10 12:10] brylie commented on #118
Let's consider a design without the large, central featured news category item:

![image](https://user-images.githubusercontent.com/17307/145572153-fc4e56e2-1ef2-4ec2-a573-0504f8089b5f.png)

In effect, we can display a grid of equal-sized categories, such as 2x2 or 3x2 depending on the number of featured categories.

[2021-12-10 12:19] brylie commented on #118
[code]

I'm hesitant to reset the margin on all `figure`s since default spacing around those elements is desirable. Instead, could we use a specific class for those featured images inside the query loop? That way, our CSS selector can target only the expected `figures`.

[2021-12-10 12:21] MuluhGodson commented on #118
Yes we can add a class to the query loop and use that class to target just these particular figures

[2021-12-10 12:28] MuluhGodson commented on #118
We have 4 main categories (Unlocking Knowledge, Policy, Discovery & Community and Outreach)

![image](https://user-images.githubusercontent.com/40151808/145574083-a4f4f944-b87e-4aa6-974c-de5bbc2f4ce4.png)

[2021-12-10 12:28] annatuma commented on #118
@MuluhGodson I appreciate how close to the original design you were able to get.

Understand and appreciate @brylie thinking about simplicity for launch. One idea that jumped out at me regarding the middle column (of the three) that @MuluhGodson drafted is doing a vertical align center. Curious what that would look like but likely would have too much white space.

Also noting that when this mockup

[2021-12-10 12:30] MuluhGodson commented on #118
Thanks @annatuma
The breadcrumbs are just paragraphs I styled. We are still to implement breadcrumbs via `Yoast SEO` currently being handled by @shailee-m

[2021-12-10 12:30] annatuma commented on #118
I didn't see this before posting my feedback! (We overlapped in cyberspace). I do think this looks interesting, and assuming it is responsive in that the blocks across go from 4 to 2 to 1 as screens get smaller. I would be curious though to see what a layout with two columns and two rows looks like, which would have slightly more of a magazine feel potentially.

[2021-12-10 12:34] brylie opened #192 "Determine what primary categories Comms would like featured on the Spreading Knowledge page"
When our original Figma mockups were created, the communications team were using four primary categories for news posts. However, our new Comms team may have a different idea about how they would like to organize content going forward.

_Originally posted by @annatuma in https://github.com/creativecommons/project_creativecommons.org/issues/118#issuecomment-990932514_

## Task

- [x] Discuss with C

[2021-12-10 12:37] MuluhGodson commented on #118
2 columns x 2 rows
The images are currently displayed at 100% so this layout will require images with larger sizes.
![image](https://user-images.githubusercontent.com/40151808/145575027-f0ecf69e-01bc-4037-ba48-8bbe89634b14.png)

[2021-12-10 12:42] MuluhGodson commented on #118
![image](https://user-images.githubusercontent.com/40151808/145575718-44ccdf5d-0328-4a4d-8943-d541c714d5cf.png)

[2021-12-10 12:45] brylie commented on #118
Can we use a different image formatter in the query loop to display larger image renditions? Also, we can provide higher-resolution images for the development process, if that would help.

[2021-12-10 13:06] MuluhGodson commented on #118
I think higher-resolution images will be better.
I changed one of the images and replaced it with the Moon landing image with dimensions (1200 x 800)

![image](https://user-images.githubusercontent.com/40151808/145578622-31e31ddd-1e72-4e06-95ca-b81e709517d6.png)

[2021-12-10 13:12] annatuma commented on #144
I've been thinking a little bit about this since we talked about it the other day and have taken a look at the examples you linked @brylie

I do think it's an excellent short-term solution to use a plugin for this. Also, as we discussed, if there are features of the ToC that the plugin does not support we could fork and create these ourselves.

There was supposed to be a release of WordPress I bel

[2021-12-10 13:17] brylie commented on #118
For now, let's just use the placeholder image for sketching out the design with Gutenberg widgets.

![placeholder image](https://raw.githubusercontent.com/creativecommons/project_creativecommons.org/main/content-import/noun_1269202.png)

[2021-12-10 13:25] MuluhGodson commented on #118
![image](https://user-images.githubusercontent.com/40151808/145580790-12114c1f-0ff5-42e0-9d90-8ceb93046815.png)

P.s The explore banner and footer are being rendered via the `cc-global-components` package via CDN

[2021-12-10 13:50] MuluhGodson commented on #118
@brylie About the pagination on the mockup, I thought this will auto-display with the `Latest Post` block or `Query Loop` but so far it hasn't been displayed.
An issue was opened on the Gutenberg Github repo about the pagination feature for `Latest Post` but was closed with the conclusion that the `Latest Post` block is meant to just display latest post.
- [ ] https://github.com/WordPress/gutenber

[2021-12-10 14:33] MuluhGodson commented on #118
Yoast SEO provides a Gutenbeg Widget:
![image](https://user-images.githubusercontent.com/40151808/145590165-0ff9e312-94c2-4c63-96a4-30a47c230f33.png)

On the frontend, using CSS to center align it via its default provided class `yoast-breadcrumbs`:
![image](https://user-images.githubusercontent.com/40151808/145590235-3886e038-df35-4a9d-a5d8-f5c5ee10d1b2.png)

The downside being the breadcrumbs dis

[2021-12-10 21:11] TimidRobot opened #193 "[Feature] Dev steps for configuring WordPress"
## Problem
WordPress needs to be configured in order for the project, as a whole, to function
- WordPress menu items for API (consumed by [creativecommons/cc-global-components](https://github.com/creativecommons/cc-global-components))
- Content import
- ???

## Description
Ideally, we would have
1. a list of steps that can be completed by devs without the need to read all of the related documentat

[2021-12-11 13:22] shailee-m commented on #142
@brylie Progress so far:

The template is almost done. Except for some final touches. Following are the things I will be looking into next.

Todos:
- Need to add a placeholder image in the posts list, in case a featured image is not set.
- Yet to look into the pagination UI for the posts. Shouldn't take long.

One thing I noticed is that in our vocabulary theme we have added default colors. Like a

[2021-12-13 08:27] #118 closed

[2021-12-13 09:26] brylie commented on #193
@TimidRobot, developer docs are really important, so thanks for opening this issue :smiley:

One idea we might try would be to add the WordPress CLI to the project to auto-configure the initial project. We might also be able to scaffold the initial content and menus, but I'm not as sure about the menus at least. That way, as you said, the documentation is automated and easy to reproduce where poss

[2021-12-13 10:28] brylie commented on #132
Closing as superseded by `cc-global-components`.

[2021-12-13 10:28] #132 closed

[2021-12-13 17:07] brylie commented on #147
@shailee-m agreed to take the integration task to create a Gutenberg page and embed the Chooser HTML

[2021-12-14 12:06] annatuma commented on #142
Nice work! In addition to seeing what this looks like with images, we need to solve for spacing between each item in the list of blog posts. Right now the category button for one post is flush with the post title for the next post. Even if we don't/can't use a horizontal line between each post like the mockup indicates, we still need visual space so it is clear what content belongs together. The s

[2021-12-14 12:15] shailee-m commented on #142
@annatuma sure will do

[2021-12-14 12:32] MuluhGodson commented on #149
I have an idea,
I added some menu items and truly WordPress doesn't render them as desired, which may require us to write more CSS overrides to get it to look the way we want.
A quick workaround is just to use the CC Global components. Since the menu items are already created, the Global components will just display this as expected and using this for the main CC site and also all the other Web Pr

[2021-12-14 13:05] brylie commented on #149
@annatuma and I discussed your suggestion briefly and agree that it is the intended purpose of the CC Global Header. However, @annatuma may want to add some other considerations for discussion.

One particularity for future development is that we will want to display a different header depending on the website, so the header should be configurable in the CC Global Components. To this end, we may w

[2021-12-14 13:17] MuluhGodson commented on #149
Great.
I think most of what will change with the header may be the logo and the rendered menu.
So the logo component could easily be configured to display a different logo depending on the site in question , same too for the nav component.

[2021-12-14 13:28] annatuma commented on #149
@MuluhGodson this is correct. The various web properties to which we link from the CC Global Header will mostly have their own logo and their own header navigation.

You can see examples of initial implementation on e.g. the CC Open Source site (opensource.creativecommons.org). While we do not need to change that implementation now, it is something we will need to rework after the MVP launch of Cr

[2021-12-14 14:38] shailee-m commented on #142
@annatuma, @brylie Here is the updated ui
![Screenshot (6)](https://user-images.githubusercontent.com/10625985/146019102-729c38c6-c6ef-43e3-8fa4-b2b8d748aff4.png)

[2021-12-14 17:53] brylie commented on #142
We can wrap output from WYSIWYG editors in Bulma's `content` class:

https://bulma.io/documentation/elements/content/

[2021-12-14 18:20] shailee-m commented on #142
@brylie , @annatuma Here is the updated U
![Screenshot (7)](https://user-images.githubusercontent.com/10625985/146056879-0eafa8be-692e-4bd5-9d30-2e44fbad4cd6.png)

[2021-12-14 18:55] shailee-m commented on #147
@brylie we can build the Choose project with the `VUE_APP_CC_OUTPUT` settings set to true and host the build on a CDN which can then be added as a custom HTML block on one of the pages. Should I go ahead with that approach

[2021-12-14 23:43] brylie commented on #147
@shailee-m, yep that sounds good. As you mention`VUE_APP_CC_OUTPUT=embedded` will give us the desired output for embedding in pages and other sites. Would it be helpful if I publish a Chooser release on NPM so we can use the unpkg CDN?

[2021-12-14 23:49] brylie commented on #142
@shailee-m, the updated recent post section looks great! 😀

Out of curiosity, is there a more horizontal image format available for the featured images? The mockup images seem almost 16:9 while our code is using the square format if I understand correctly.

[2021-12-15 00:08] brylie commented on #142
@annatuma, how flexible are we with the minimum-viable Author Profile posts list featured image aspect ratio (can you say that ten times fast)? Is the 1:1 aspect ratio OK for now? @shailee-m and I are exploring the difficulty of changing the image aspect ratio and may split that into a follow-up task for future prioritization.

[2021-12-15 11:06] annatuma commented on #142
I think our featured blog article images are generally closer to 16:9 as y'all have identified, see e.g. here: https://creativecommons.org/blog/

Let's try to use 1-2 featured images from the live blog before we call this a day, just to see how that plays out. I'm imagining it will remove a lot of the white space that is currently visible between the featured image and the post information.

These

[2021-12-15 16:44] shailee-m commented on #147
@brylie Yes, that we will be able to access the chooser without header/footer. We can then integrate it inside a custom html block

[2021-12-15 16:58] shailee-m commented on #142
@brylie @annatuma I have integrated some images here. There are some customizations for thumbnails.  we can also pass pixel values directly but it seems this will do.

![Screenshot (8)](https://user-images.githubusercontent.com/10625985/146230034-a4a0c9d9-3677-42ff-8f71-875a8a62f6fb.png)

[2021-12-17 17:50] shailee-m commented on #147
@brylie By using the code mentioned in previous comments, certain features do not work.
![block](https://user-images.githubusercontent.com/10625985/146586415-147989a2-5610-4883-9879-261a8693825b.png)

Error:
[code]

On the website, this card is rendered on the R.H.S.,

![chooser](https://user-images.githubusercontent.com/10625985/146586548-e2284e53-032e-48a2-bf45-7715e6edd81d.png)

I think the iFr

[2021-12-17 19:25] #142 closed

[2021-12-17 19:26] brylie commented on #147
Ok. Go ahead and give the iframe approach a try. You might get better results than I did.

[2021-12-18 13:39] shailee-m commented on #166
@brylie I can see the following being used in the base theme

- page: in `creativecommons-base/sidebar.php` but I do not know if this can be used
- page-footer: used in footer. (Will find a place to move it to pre

we can remove the `page` sidebar and I will fin a pre-footer section for the other one.

[2021-12-18 19:51] shailee-m commented on #166
@brylie the page.php already has the sidebars added at proper place

[code]

- For the header, we can create a sidebar and add it to the header template.
- Keep footer (or rename before-footer)
- Remove rest of the sidebars

[2021-12-20 10:29] shailee-m opened #197 "[Bug] Have to restart the wordpress to be able to use the Yoast plugin"
## Description
For the first installation of the SEO plugin Yoast and/or for any following changes to take effect a server restart is required. This should not ideally happen.

## Reproduction
1. Remove all Yoast folders
2. Restart service (`docker-compose up`)
4. See that Yoast folder is created but not visible under the WordPress plugins
5. Restart using ( `docker-compose down && docker-compose

[2021-12-20 18:46] MuluhGodson commented on #190
@TimidRobot A new version of the components was released today by @brylie with all the recent updates.
[version 0.2.1](https://github.com/creativecommons/cc-global-components/releases)

[2021-12-22 07:45] MuluhGodson opened #198 "[Feature] Update project-creativecommons.org to use the CC Global Components"
## Problem
Continued from #190 by @brylie

## Description
Integrate CC Global Components into project-creativecommons.org.
Task here include:
- [x] #200
- [x] #201
- [x] #202

## Alternatives
Do nothing

## Implementation

- [x] I would be interested in implementing this feature.

[2021-12-22 18:15] #166 closed

[2021-12-23 07:40] MuluhGodson commented on #198
Hello @brylie can I get assigned here?

[2021-12-23 09:03] brylie commented on #198
Can you add a bit more detail about what the idea would entail, so we can consider it more fully?

[2021-12-23 09:11] MuluhGodson commented on #198
- Here is the current [Footer](https://github.com/creativecommons/creativecommons-base/blob/5009b995def7db3fdb68d464b2a32ccf827d7504/footer.php) in the `creativecommons-base` reop which i plan to replace with the one from CC Global.
- For the current CC Explore banner, we have a whole file [`explore.cc.php`](https://github.com/creativecommons/creativecommons-base/blob/5009b995def7db3fdb68d464b2a32

[2021-12-23 09:13] brylie commented on #198
Let's break this issue into three separate tasks, and start with the one above.

[2021-12-23 09:13] brylie opened #200 "Replace header code with necessary integration for the CC Global Header component"

[2021-12-23 09:13] brylie opened #201 "Deprecate the existing `cc-explore.php` file and replace this functionality with the CC Explore component"
As mentioned in #198 with more context, we can replace the `cc-explore.php` tab in our templates with the new `cc-global-components` CC Explore component. That way, our projects will stay in sync whenever we make changes to the Explore CC content.

[2021-12-23 09:13] brylie opened #202 "Replace the footer code with necessary integration for the CC global Footer component"

[2021-12-23 09:17] MuluhGodson commented on #201
Cool.
I will love to open a PR for this.

[2021-12-23 10:33] MuluhGodson commented on #201
@brylie I opened a PR here https://github.com/creativecommons/creativecommons-base/pull/175

[2021-12-23 14:00] #201 closed

[2021-12-24 05:03] MuluhGodson commented on #202
@brylie I will love to open a PR for this.

[2021-12-30 17:31] shailee-m commented on #144
@brylie Can I pick this up?

[2021-12-30 17:38] #46 closed

[2021-12-31 17:06] shailee-m commented on #144
@brylie This is how it looks with gutenberg TOC. This plugin doesn't follow alongside the content as the user scrolls up and down.

https://watch.screencastify.com/v/mCGeEDyVd3fPZSoCvJlt

I also looked into easy TOC which does follow with the scroll. But we would have we cannot decide its placement here, it renders own its own. For smaller menus, it is sticking on the top. Below is the image for t

[2022-01-04 07:44] brylie commented on #144
Go ahead and open a separate bug report for that question.

[2022-01-05 06:06] MuluhGodson opened #204 "[Bug] Docker-compose not starting"
## Description
Running `docker-compose up` displays an error and terminates

## Reproduction

1. docker-compose up
2. See error.

## Expectation
Containers should start

## Screenshots
![image](https://user-images.githubusercontent.com/40151808/148167400-98afbeb6-4fe6-4e82-85ac-dff972781a4b.png)

## Environment
[code]

[code]
## Additional context
It seems the option `volumes_from` has been deprec

[2022-01-05 11:58] brylie commented on #144
Follow-along ToC can be a feature we leave for post-launch development. Just displaying a table of contents is the minimum-viable feature.

[2022-01-05 12:01] brylie commented on #144
@annatuma, shall we go forward with the [GutenTOC plugin](https://wordpress.org/plugins/gutentoc-advance-table-of-content/), as @shailee-m has demonstrated above?

[2022-01-05 13:34] alainseys commented on #204
@MuluhGodson changing  'volume_from' to 'volumes' will resolve your issue

[2022-01-05 15:06] shailee-m commented on #204
@MuluhGodson Seems volumes_from has been deprecated in the newer versions. My bad 😄  . @alainseys Thanks for the update

[2022-01-05 16:01] shailee-m opened #205 "[Bug] Unable to see the effect of the BlockProp, Full-width"
## Description
When a block is selected and we selected the Full-Width sizing option it does not reflect on the Preview page

## Reproduction

![Untitled_ Jan 5, 2022 9_27 PM](https://user-images.githubusercontent.com/10625985/148248795-3ed8d3f5-f853-4ec2-b436-39d8b236ed02.gif)

## Expectation
The full-width prop should take effect

## Resolution
- [X] I would be interested in resolving this bug.

[2022-01-05 16:36] shailee-m commented on #144
@annatuma  Yes, I will do it.

[2022-01-06 16:06] shailee-m opened #206 "Add table of contents block to the website"
At the moment we are using the Gutenberg addon block to add a table of contents to a Page. We need to create a block or use a configurable plugin that conforms to our Figma mocks and allows smooth-scrolling and alongside the scroll

![image](https://user-images.githubusercontent.com/10625985/148413203-bee4e298-47fa-4d4b-bf33-1838f89a2588.png)

- [ ] Whether to use a new plugin or create a new bloc

[2022-01-06 17:20] shailee-m commented on #206
Useful code snippets:

- https://www.bram.us/2020/01/10/smooth-scrolling-sticky-scrollspy-navigation/
- VueVocalulary TOC component

[2022-01-06 17:20] shailee-m commented on #206
Useful code snippets:

- https://www.bram.us/2020/01/10/smooth-scrolling-sticky-scrollspy-navigation/
- VueVocalulary TOC component

[2022-01-06 18:13] shailee-m commented on #153
@brylie There is no dialog block. So for this part should I open the image in a new tab, find a plugin or use some alternative UI using the Gutenberg addons. I've already used tabs and blockquote from it

![Untitled_ Jan 6, 2022 11_39 PM](https://user-images.githubusercontent.com/10625985/148430252-9a48d418-63bc-4aaa-9ab1-be041eca7903.gif)

BlockQuote and tab UIs:

![Untitled_ Jan 6, 2022 11_42 PM

[2022-01-06 19:22] MuluhGodson commented on #204
Thanks @alainseys

[2022-01-07 08:47] brylie commented on #153
OK, let's put this task on hold, since there are more urgent priorities for minimum-viable launch.

[2022-01-07 08:48] brylie commented on #153
We will come back to this task in the post-launch epic.

[2022-01-11 16:25] shailee-m commented on #133
@brylie Can I pick this?

[2022-01-12 10:02] brylie commented on #69
@shailee-m, would you like this task?

[2022-01-12 10:50] shailee-m commented on #69
@brylie Sure will do

[2022-01-14 15:15] shailee-m commented on #69
@brylie Here we will only be able to import the media if the file to be imported was exported (from source deployment) using export all content. This is not the case for many files. Can we host the media dependencies elsewhere and use them here... It would be easier to achieve given the time constraint

[2022-01-17 09:38] brylie commented on #69
As discussed via Slack, we are using a [placeholder image](https://github.com/creativecommons/project_creativecommons.org/blob/main/content-import/noun_1269202.png) for all media. That way, we don't need to be concerned with where to keep the static media files. We will swap out the placeholder images closer to launch.

[2022-01-17 10:22] brylie commented on #197
Closed by #203

[2022-01-17 10:26] #197 closed

[2022-01-18 16:59] shailee-m commented on #205
@brylie We can close this with the PR (https://github.com/creativecommons/creativecommons-base/pull/176)

[2022-01-18 17:00] #205 closed

[2022-01-19 15:34] #173 closed

[2022-01-24 11:51] #204 closed

[2022-01-24 12:06] #202 closed

[2022-01-24 12:07] MuluhGodson commented on #200
@brylie Closing this since it's not necessary for the MVP.

[2022-01-24 12:07] #200 closed

[2022-01-24 12:09] MuluhGodson commented on #198
Closing this since most of the sub-issues have been resolved.
However, the first sub task here: https://github.com/creativecommons/project_creativecommons.org/issues/200 will need some discussion especially about a standard API structure for the various CC web properties so I closed it since it's not very necessary right now and we can come back to it later on.

[2022-01-24 12:09] #198 closed

[2022-01-29 07:25] shailee-m commented on #147
@brylie we can complete this if we have a CDN for the chooser. If there are any more changes in the chooser, we can keep updating it in the background.

[2022-01-29 07:27] brylie commented on #147
Yes, we should be able to use the u pkg CDN once the Chooser package is published to NPM.

[2022-01-29 10:40] shailee-m commented on #193
@brylie The menus are already created in the system. We can add dummy menu items here. From what I understand, there are 2 ways:

1. user wp-CLI:
  - Some 5-6 commands, one for each menu item and then, one last command to import the pages
  - This needs to be done by logging into the CLI service which is also just another command.
  - So essentially, the users will copy-paste a bunch of commands.

[2022-01-29 10:44] shailee-m commented on #193
@brylie Also, I did look at the other pages but I do not see anything the user needs to do except import pages here and install some plugins to get started all of which can be handled in the above 2 approaches.

Currently, I do not have a 360Deg idea of the entire system like, what would be needed in the legal tools folder so, maybe we can go through it over a call.

[2022-01-29 10:48] shailee-m commented on #193
We could also create a shell script for the initial cloning and setup steps (which would require pre-requisites to be installed).
This would enable us to group our steps in the readme.MD and the user copy-pastes commands for the majority of the steps in the setup

[2022-01-29 11:20] shailee-m commented on #193
Login to wp-cli:
[code]

Create Menu:
[code]

Import pages:
[code]

Enable rest-api:
[code]

[2022-01-31 10:35] MuluhGodson opened #208 "[Bug] Revert footer to `footer.php` and `cc-explore.php`"
## Description
The chooser project will be compiled as a web component and this is to be imported and used in a Gutenberg HTML block. Chooser is currently developed with Vue 2 while we also have some packages such as the CC Global Components which is developed with Vue 3. These two packages cannot be used at once on a single page so for the MVP we want to revert the footer and other related code t

[2022-01-31 15:55] shailee-m commented on #144
@brylie   Gutenberg TOC is rendering properly

![Screenshot (14)](https://user-images.githubusercontent.com/10625985/151827020-310955ef-93f6-4199-a6dd-1481e80bfc4e.png)

[2022-01-31 17:10] brylie commented on #144
@shailee-m can we make sure the ToC plugin is installed by our environment setup in Docker compose?

[2022-01-31 17:23] brylie commented on #192
Dee Harris just sent the following in our internal Slack:

[2022-02-01 12:49] brylie commented on #147
@shailee-m, the Chooser 0.1.0 package is now published on NPM and available via the unpkg CDN:

- https://www.npmjs.com/package/@creativecommons/chooser
- https://unpkg.com/@creativecommons/chooser@0.1.0/dist/license-chooser.min.js

[2022-02-01 15:03] shailee-m commented on #147
@brylie Great! I will create a PR with content import page for this

[2022-02-01 16:01] brylie commented on #144
Closed by #210

[2022-02-01 16:01] #144 closed

[2022-02-02 12:54] brylie commented on #147
Closed by #196

[2022-02-02 12:54] #147 closed

[2022-02-02 12:56] brylie commented on #193
Closed by #209

[2022-02-02 12:56] #193 closed

[2022-02-02 16:48] TimidRobot opened #212 "[Bug] WordPress Plugins do not match legacy production or previous staging"
## Description
WordPress plugins incomplete

## Reproduction
[`docker-compose.yml`](https://github.com/creativecommons/project_creativecommons.org/blob/main/docker-compose.yml)  installs the following
- ultimate-addons-for-gutenberg
- wordpress-seo
- wp-plugin-creativecommons-website

## Expectation
- Current/Legacy WordPress site
  - Plugins:
      - advanced-sidebar-menu
      - akismet
      -

[2022-02-02 20:24] TimidRobot opened #213 "[Feature] Support WordPress installation and updates via composer"
## Problem
We need to be able to programmatically manage WordPress in a reliable way (ex. version pinning). This is required for deployment and management of Production. Ideally, I will also configure Staging programmatically.

## Description
Support WordPress installation and updates via composer
- All Creative Commons maintained plugins and themes should be installable via composer
- (optional)

[2022-02-03 09:09] brylie commented on #213
@TimidRobot, can you please provide a copy of the `composer.json` used on the staging website? That way, we can try to use the same `composer.json` for development and staging to the extent possible.

[2022-02-03 09:36] brylie opened #214 "Determine whether we still (intend to) use Engaging Networks"
There is a Gravityforms Engaging Networks addon defined as a dependency of our staging website. However, the legacy website does not contain the same plugin.

## Task

- [ ] determine whether we still use or intend to use the Engaging Networks service
- [ ] decide on whether or not to include the Gravityforms Engaging Networks addon based on our intentions

[2022-02-03 09:45] brylie opened #215 "Determine the most simple (low code) way to integrate Google Analytics into creativecommons.org"
We currently use Google Analytics to collect data about visitors to creativecommons.org. We have enabled a WordPress plugin, called Google Analytics for WordPress, to enable Google Analytics on our website. However, the GA for WordPress plugin seems like a bit of overkill and is advertising for "pro version upgrades" (as is becoming typical for WordPress plugins.) In general, we would like to use

[2022-02-03 11:07] brylie opened #216 "Audit forms and determine whether we can deprecate Gravity Forms"
We currently have Gravity Forms installed on the creativecommons.org website. There are 14 items defined with Gravity Forms.

We would like to reduce the number of plugins on our website to only those deemed essential.

## Task

- [ ] audit the forms created by Gravity Forms
- [ ] determine whether any form is still used
- [ ] determine whether an alternative approach could be used
- [ ] deprecate

[2022-02-03 11:09] brylie opened #217 "Audit popups and determine whether Popup Maker is still required"
We currently have Popup Maker installed on the creativecommons.org website. There are 11 items defined with Popup Maker.

We would like to reduce the number of plugins on our website to only those deemed essential.

## Task

- [ ] audit the popups created by Popup Maker
- [ ] determine whether any popup is still used
- [ ] determine whether an alternative approach could be used
- [ ] deprecate the

[2022-02-03 12:17] shailee-m commented on #213
@brylie picking this one

[2022-02-03 16:36] brylie commented on #213
@shailee-m, here is an example `composer.json` that may have helpful parts for the new version.

https://github.com/creativecommons/sre-salt-prime/blob/main/states/wordpress/files/ccorgwp-composer.json

How do you recommend we proceed with this task?

[2022-02-03 21:55] annatuma commented on #215
I know it's not uncommon to install GA through GTM - would this be _even_ lighter weight, taking it completely out of the WordPress interface and removing any need for plugins? There may well be mechanics I'm unaware of here.

[2022-02-03 21:56] annatuma commented on #214
Confirming that we no longer use Engaging Networks and therefore should not need any plugins/addons related to that service. We replaced this with Classy approx. 18 months ago, and finalized the migration approx. 12 months ago.

[2022-02-04 12:06] #208 closed

[2022-02-04 19:23] TimidRobot opened #218 "[Bug] Need help with WordPress menu documentation"
Blocks #190

## Description
I'm not able to get the WordPress menu to work with the cc-global-header

Regarding the menu documentation ([Create Menu - CONTRIBUTING.md](https://github.com/creativecommons/project_creativecommons.org/blob/5c1d17c8afdae9da41f8abcb1e7bfee791de19ab/CONTRIBUTING.md#create-menu)):
- It does not match the cc-global-header namespace (`/ccnavigation-header/menu`)
  - creativ

[2022-02-05 09:23] shailee-m commented on #213
@brylie , @TimidRobot does it mean we remove the theme & plugin submodules from the repo?

[2022-02-05 10:01] brylie commented on #213
It should be safe to leave them while testing.

[2022-02-07 08:44] brylie opened #219 "Content import should include preconfigured menu"
Related to #218

We currently include an import file for the staging content. However, the import file does not seem to contain the WordPress menu(s).

Ideally, the content importer would include the desired menus that match the Figma mockups. Likewise, the menu name should reflect the expectations of the CC Global Components, which makes a request to `/ccnavigation-header/menu`.

## Task

- [x] u

[2022-02-07 09:40] brylie commented on #56
I am closing this issue since we are now using the CC Global Components to render the navigation menu.

[2022-02-07 09:40] #56 closed

[2022-02-07 09:41] brylie commented on #206
@shailee-m, this issue is complete, correct?

[2022-02-07 09:47] brylie commented on #67
@MuluhGodson, can we close this issue or does it still require work?

[2022-02-07 09:49] MuluhGodson commented on #67
I think we've covered all the different cards in the Mockups. We can close it.

[2022-02-07 09:50] #67 closed

[2022-02-07 09:52] shailee-m commented on #206
@brylie tes

[2022-02-07 09:52] #206 closed

[2022-02-07 10:35] brylie opened #220 "Ensure the desired menu structure exists on the prototype website"
Continued from #219 by @MuluhGodson

Once we have fixed our content importer to include the navigation menu, we can ensure the navigation menu structure includes all desired links:

https://docs.google.com/document/d/1TmNoMO6q_lVeOeuxZy15FGmTbVyl2tv1SJegccxZ8Tw/edit

## Task

- [x] import all content into the development site using our content import XML
- [x] update the menu structure to match ou

[2022-02-07 10:44] brylie opened #221 "Determine how to pin "featured" articles at the top of the page or under the "latest category articles" sections on the "news" page"
The communications team may want to pin some news items to the top of the news page or within their respective category section on the news page.

## Possible solutions

Gutenberg provides a couple of blocks that may allow us to create custom filters based on taxonomy terms, including a "featured" term:

- [Latest Posts Block](https://wordpress.com/support/wordpress-editor/blocks/latest-posts-bloc

[2022-02-07 10:47] brylie commented on #149
Closing this issue since we have split out tasks from the notes and discussion.

[2022-02-07 10:47] #149 closed

[2022-02-07 11:24] brylie commented on #216
I've checked our forms on creativecommons.org and deactivated those that hadn't received a recent submission. As a result, only five active forms remain, some of which have had recent submissions and a couple of forms that have not.

[2022-02-07 17:59] brylie commented on #218
Ah, this may be related to the installed theme. @shailee-m, we should include a step to activate the `wp-theme-creativecommons.org` theme prior to setting up the menu structure.

[2022-02-08 09:14] #214 closed

[2022-02-08 09:16] brylie commented on #70
I am currently having difficulty exporting all content due to request timeouts. @TimidRobot has suggested using WP CLI to do the export. I'm waiting for SSH access or an XML export to be provided (e.g., via Google Drive).

[2022-02-09 15:46] TimidRobot opened #223 "[Bug] Path URLs are ALWAYS PREFERRED"
## Description

### Environments
We have many environments that use the **same code base**. For example, the following five environments currently exist:
1. partial development site (`npm run serve` for [creativecommons/cc-global-components/](https://github.com/creativecommons/cc-global-components/))
   - protocol: `HTTP`
   - domain: `localhost`
   - port: `8080`
2. full development site (`docker

[2022-02-09 19:01] #219 closed

[2022-02-09 19:01] #220 closed

[2022-02-09 19:17] MuluhGodson opened #224 "[Bug] Refactor CSS for Menu Items"
## Description
Menu items are not rendered properly. Dropdown Menus should expand on mouse hover but if there are multi-levels of the Menu all will be expanded and stacked on top of each other. See the screenshot below.

## Reproduction

1. Launch the development server [docker compose up]
2. Open the frontend (localhost:8000)
3. Hover on any of the dropdown menus
4. See error.

## Expectation
A d

[2022-02-09 22:47] TimidRobot opened #225 "[Bug] Import file contains hardcoded URLs with Full URLs"
## Description
Import file contains hard coded URLs with Full URLs (ex. #222).

Full paths don't work across environments ([[Bug] Path URLs are ALWAYS PREFERRED · Issue #223 · creativecommons/project_creativecommons.org](https://github.com/creativecommons/project_creativecommons.org/issues/223)).

From a cursory review, it appears WordPress does update metadata (ex. `<link>` in import file/`guid`

[2022-02-10 08:28] brylie commented on #225
I opened an upstream issue: https://core.trac.wordpress.org/ticket/55135

[2022-02-10 08:48] brylie commented on #223
Thanks for the clarification of intention.

It looks like the `localhost` search results are pretty varied in their purpose, so it's challenging to come to an absolute conclusion.

I'll convert this issue to a discussion to continue exploring the topic.

[2022-02-10 08:49] brylie commented on #225
Yes, this would also be useful if/when we migrate the full creativecommons.org site content across environments.

[2022-02-10 17:14] brylie commented on #165
I do have an entire site export in XML format, so I might be able to do a keyword search to count posts with post formats specified.

[2022-02-10 17:52] brylie commented on #224
@MuluhGodson, you raise good questions here about expanding menus. Let's go with your intuition here for a start.

I suppose we should follow whatever convention is used by the official WordPress themes or Bulma navigation menu since they may have put considerable resources into the design.

By the way, does the new WordPress 2022 block-based theme offer any insights? The WordPress 5.9 release may

[2022-02-11 08:27] MuluhGodson commented on #224
By default, WordPress doesn't render out the Nav items properly. Here is what the default rendering looks like:
![image](https://user-images.githubusercontent.com/40151808/153558891-bf628d15-2dab-40f9-8f66-7d4980cb972f.png)

For this reason, WP gives developers a way to customize how their Nav menus are rendered via the `Walker()` class. The one we are currently using is found in `creativecommons-

[2022-02-11 09:06] brylie commented on #224
Let's not make any structural changes to the CC Global "navbar" or WordPress theme navigation menu until we explore this issue further.

Minor, aesthetic changes such as fixing the background color bug are alright for the current sprint.

[2022-02-11 09:11] MuluhGodson commented on #224
Yes, I've been doing some reading, it seems a lot of research around multi-level menus suggest it's not a great idea.
By searching [Human Computer Interaction: Depth Breadth Menus](https://www.google.com/search?q=HCI+depth+breadth+menus&sourceid=chrome&ie=UTF-8) we can find some useful material

[2022-02-11 09:17] MuluhGodson commented on #224
I'll be moving this task to Post Launch and removing it from the current sprint.

[2022-02-11 13:07] brylie commented on #224
Ping @annatuma

[2022-02-11 15:26] #218 closed

[2022-02-14 08:11] brylie commented on #165
Closed by https://github.com/creativecommons/creativecommons-base/pull/187

[2022-02-14 08:11] #165 closed

[2022-02-14 15:51] brylie commented on #70
I was able to import the content into our staging server. However, the staging server has an issue where it renders nearly blank even when a front page is specified under "reading" settings.

[2022-02-14 18:24] MuluhGodson opened #231 "[Bug] Update `creativecommons_base` for Staging environment"
## Description
In the staging environment, Menus are not rendered properly. The menus are rendered as anchor elements (`a`) inside a `ul` element. This is then rendered horizontally causing the menu container to span more than the viewport height.

Inspecting the CSS file of `creativecommons-base` of my local environment and that of the staging environment indicates that the staging environment is

[2022-02-15 08:52] brylie commented on #131
Off the top of my head,

- the Author plugin still seems relevant, so has been ported to the `wp-plugin-creativecommons.org`
- Donation plugin has likely been superseded by Classy.org
- Program and Resource content types may no longer be needed? How will removing those plugins affect any historic content?
- Are the taxonomies in use?
- What do the widgets do? How frequently are they used? Are ther

[2022-02-15 17:30] TimidRobot opened #230 "[Bug] Menu API performance considerations"
## Description
The use of [`cc-global-header.vue`][headervue] results in a WordPress API call for every page loaded that includes it. The WordPress API is not cached by WordPress and  is not cached by the CDN (Cloudflare). **This will potentially result in a 1,782 percent increase in API calls.**

[headervue]: https://github.com/creativecommons/cc-global-components/blob/main/src/components/cc-glob

[2022-02-16 09:10] MuluhGodson commented on #131
## Creative Commons Taxonomy
The CC Taxonomy plugin adds a new taxonomy (Highlights) to Post types.
The best way to know if Taxonomies are in use is on the `creativecommons.org` dashboard itself.

![image](https://user-images.githubusercontent.com/40151808/154230276-f1543208-b397-406d-a09b-1ef9237e5e19.png)

In the image above, when the plugin is activated:
1) It adds a new taxonomy highlight unde

[2022-02-16 09:38] MuluhGodson commented on #131
## Creative Commons Resources
The CC Resources plugin adds a new Post Type (we have by default page and post, this plugin adds a new type called resource).

### - Use of the Widget
This plugin also adds a Widget called "CC Homepage  Resource Widget".

The widget is currently being used on the `creativecommons.org` website homepage:
The widget is indicated in the image below:

![image](https://user

[2022-02-16 10:58] MuluhGodson commented on #131
## Creative Commons Program
Inspecting the code of this plugin, it seems to only work with the page template `page_program.php` which has been deprecated. As of now, we have just two templates: the default template and the sidebar template. Deactivating this plugin will cause any pages or posts that currently use this template to use the Default template.

[2022-02-16 11:24] MuluhGodson commented on #131
## Creative Commons Widgets
This plugin adds three new Widgets namely:
- CC Related News
- CC Homepage What's Happening
- CC News Features

- ### CC Related News Widget
This Widget is currently in use on the `creativecommons.org` website.
![image](https://user-images.githubusercontent.com/40151808/154253952-627064ab-9075-4520-bd49-f8e340a3de08.png)
- ### CC Homepage What's Happening Widget
This Wi

[2022-02-16 12:18] brylie commented on #131
The Highlights page in the creativecommons.org dashboard lists three Highlights tags: Featured, Hero, and Special Feature

![image](https://user-images.githubusercontent.com/17307/154262310-24cdf354-4dc0-4b09-bd2b-a44589601c11.png)

The **Featured** highlight is used around 450 times, with several recent posts:

![image](https://user-images.githubusercontent.com/17307/154262390-b31c93f6-0417-4c58-

[2022-02-16 12:32] MuluhGodson commented on #131
I think these post types are used by the CC Widgets plugin, `hero` and `featured`
Check out this line of code from `cc-widgets.php`:

https://github.com/creativecommons/new-www-plugin/blob/master/cc-widgets/cc-widgets.php#L99

[2022-02-16 13:57] brylie commented on #131
For the recent/featured news, we are transitioning to the Gutenberg Latest Posts widget or query builder, which allows us to filter posts by category (and tag?). Let's consider how to deprecate the CC Taxonomies plugin and the Creative Commons Widgets.

[2022-02-16 17:26] MuluhGodson commented on #131
Deprecating the CC Taxonomies plugin and the CC Widgets won't have any major effect.
All the post which has the custom taxonomy (feature or hero ) will still exist and will be placed under the Category type `Uncategorized`.
For the CC Widgets, I think we can use the Gutenberg widgets.

[2022-02-17 08:25] brylie commented on #231
I transferred this issue to the project_creativecommons.org repo since it is more closely related to project-level packaging than the `creativecommons-base` theme.

[2022-02-17 08:28] brylie commented on #231
We will need to explore those options to determine the best fit for managing the `creativecommons-base`, `wp-plugin-creativecommons.org`, and `wp-theme-creativecommons.org` dependencies.

It may be that adding a composer.json to this project is a useful move at this time, as is discussed in #213

[2022-02-17 08:40] brylie commented on #213
Below are some examples of using `Cache-Control: max-age` in WordPress API responses, which might be helpful in our case.

- https://wordpress.stackexchange.com/a/326168/63132
- https://www.kennethlange.com/boost-your-rest-api-with-http-caching/
- https://github.com/airesvsg/wp-rest-api-cache

[2022-02-17 08:51] brylie commented on #131
@MuluhGodson, would you like to prioritize issue #221 to follow this task? That way, we may deprecate the CC Taxonomies and Widgets plugins in favor of a Gutenberg approach.

[2022-02-17 08:51] MuluhGodson commented on #131
Yes, my pleasure.

[2022-02-17 08:55] brylie commented on #131
You are a rock star! :star_struck:

[2022-02-17 09:08] brylie commented on #230
It looks like we can use `Cache-Control` in WordPress API response headers and Cloudflare will cache the response:

- https://wordpress.stackexchange.com/a/326168/63132
- https://developers.cloudflare.com/cache/about/cache-control

[2022-02-17 14:27] brylie commented on #224
Hei, @MuluhGodson, just a quick update. @annatuma and I met with our communications team yesterday and discussed the multi-level navigation menu. We all agreed to adhere to the limitations of a single sub-menu that Bulma already provides. So, we shouldn't need any further development to support multi-level sub-navigation.

[2022-02-17 14:30] MuluhGodson commented on #224
Okay, that's great. I will switch the status of this issue to `done` and then close it.

[2022-02-17 14:30] #224 closed

[2022-02-17 14:37] MuluhGodson commented on #224
Yes if we are adhering to the single sum-menu system then the menus will work without any need to correct them in some way.
However, I do hope the menu structure will be revised so that we can update the `staging-content` file with the general nav menu.

[2022-02-17 15:51] brylie commented on #131
@MuluhGodson, since we have imported the full creativecommons.org website content into the staging server, would you be able to select a random sample of pages and articles to determine how frequently we have used the CC Widgets? From my understanding, content authors would use the widgets mainly on pages. What are your thoughts?

[2022-02-17 15:57] brylie opened #232 "Update staging content import with revised menu structure"
@annatuma and I met with our communications team yesterday and discussed the multi-level navigation menu.

We all agreed to adhere to the limitations of a single sub-menu that Bulma already provides. So, we shouldn't need any further development to support multi-level sub-navigation.

Now, we can update our staging content importer to include only one sub-level of content.

## Task

For the timebe

[2022-02-17 16:07] brylie opened #233 "Document how to manage and update WordPress plugins, themes, and core via SaltStack (possibly using Composer)"
As we move closer to production, we will likely use SaltStack (with Composer) to manage the creativecommons.org dependencies, such as WordPress and all related themes/plugins. As such, we will need a quick guide/playbook to describe the process of managing the website dependencies from configuration to deployment.

## Task

- [ ] document the process of managing and upgrading the creativecommons.o

[2022-02-17 16:16] MuluhGodson commented on #231
This is a great idea!

[2022-02-17 20:06] MuluhGodson commented on #231
With regards to the whitespace created by the supposed menu bar on the staging environment, I noticed there was a menu created but a display location [main navigation, footer navigation, global navigation etc] was not set and this was what was breaking. I just corrected that. I think the rendering is better.

[2022-02-17 20:39] MuluhGodson commented on #221
Experimenting with the `Latest Post Block` and the `Query Loop Block`, I will say the `Query Loop block` is what gives a result that is identical to the previously used CC Widgets.

[2022-02-17 20:46] brylie commented on #221
Very cool. So, it sounds like we have a way to transition from CC Widgets to Gutenberg Query Loop Block.

Let's do some due diligence to see how much existing content would be impacted by deprecating the CC Widgets and Taxonomy plugins.

[2022-02-17 21:30] MuluhGodson commented on #131
I think the widgets were added on a global level using the widget editor since most of the posts/pages still use the classic editor.

[2022-02-17 21:32] MuluhGodson commented on #221
While on this, I must mention the Query Loop Block may have some issues.
For instance, while trying to filter the post via a tag (featured), the query loop block doesn't display this tag in the selectable drop-down suggestions.
It seems there is an open issue on the Gutenberg repo about it. I'll drop the link here:

https://github.com/WordPress/gutenberg/issues/33581

[2022-02-18 07:14] brylie opened #234 "Query Loop Block list items showing with bullet points"
We are using the Query Loop Block to display recent blog articles on the front page of the staging site. However, the post items are using HTML `li` tags and have a corresponding bullet point:

![image](https://user-images.githubusercontent.com/17307/154635373-ba372879-af98-450b-a9cf-bae588a43f8b.png)

## Task

- [x] determine how to remove the bullet points from the Query Loop Block output

[2022-02-18 07:23] MuluhGodson commented on #221
No we can't. We have to select only from the suggestions. Which is a problem.
However I was thinking, if we could find a tag that displays and is not used by a lot of articles, we could try renaming that tag to featured and workaround the issue.

[2022-02-18 07:25] brylie commented on #221
Let's try specifying the tag ID directly.

[2022-02-18 08:02] brylie commented on #230
That assumes the use of the WordPress Transient API. We may not need to use the Transient API to reduce server load.

As you have noted above and in the current revision of the issue description, browser/edge caching alone is a third possible solution.

How would standalone environments or bots adversely affect or bypass the Cloudflare edge cache that serves the creativecommons.org menu content?

[2022-02-18 09:31] brylie commented on #230
Below are some reflections on the three solutions currently under consideration, given the above context mentioned in the issue description.

One crucial bit of context is the issue we are mitigating is most closely related to *production* server load, as is described in the quote above. Hence, we should reduce or avoid changing development or production environments or workflows.

## Potential So

[2022-02-18 09:46] brylie commented on #131
@MuluhGodson, I wanted to mention that I have an XML file containing all of the content from creativecommons.org that I can search for keywords such as WordPress widget shortcodes.

In any case, to what extent do you suppose the CC Widgets are used, given your observation that they are added on a global level using the widget editor? Does that mean we add widgets to theme areas such as the footer

[2022-02-18 09:50] brylie commented on #231
@MuluhGodson, I've just updated the `creativecommons-base` theme on our staging server to [v2022.02.2](https://github.com/creativecommons/creativecommons-base/releases/tag/v2022.02.2).

[2022-02-18 10:48] #231 closed

[2022-02-18 18:48] MuluhGodson commented on #221
This method works like a charm. :smile:

[2022-02-19 22:45] MuluhGodson opened #237 "[Bug] CC License page alignment issues"
## Description
The icons on the [CC License page](https://stage.creativecommons.org/?page_id=587) for the staging environment are not aligned properly:

![image](https://user-images.githubusercontent.com/40151808/154821138-f1cda207-c463-4294-9a44-279b0901908d.png)

We earlier removed `minireset.css` and to keep an aesthetic look, we added the `content` class.
This class introduces some `margins` w

[2022-02-21 07:37] MuluhGodson opened #238 "[Bug] Install Child Theme `wp-theme-creativecommons.org` on staging server"
## Description
It appears the child theme `wp-theme-creativecommons.org` is not installed or activated on the staging server.
A direct consequence will be the projects that currently use the `cc-global-header` API to render menus as these menus cannot be accessed without this theme activated.

## Reproduction

1. Open [https://stage.creativecommons.org/?rest_route=/ccnavigation-header/menu](https:

[2022-02-21 08:05] brylie commented on #238
I tried to manually install the `wp-theme-creativecommons.org` child theme, but get an error saying `creativecommons-base` theme is not installed. However, the `creativecommons-base` theme seems to be installed and activated.

![image](https://user-images.githubusercontent.com/17307/154913089-6a2806d6-7ae6-4942-91aa-7b7a35848da1.png)

[2022-02-21 08:10] #234 closed

[2022-02-21 10:01] MuluhGodson commented on #238
I experienced this error too.
On troubleshooting, I realized this error is due to the folder names in the theme ZIP files.

For `wp-theme-creativecommons.org`, the folder structure is as follows:
   - `wp-theme-creativecommons.org-2022.02.1` ======>zip file
       -  `wp-theme-creativecommons.org-2022.02.1` ======> folder
            - Theme files

For `creativecommons.org`, the folder directory s

[2022-02-21 10:42] #238 closed

[2022-02-21 10:42] brylie commented on #238
OK, great work @MuluhGodson

It's a bit annoying that GitHub doesn't allow some sort of build process for release management. That would allow us to do things like specify folder names and even bundle JS assets, as we need in the `wp-plugin-creativecommons-website` project.

[2022-02-21 10:48] brylie opened #239 "Add instructions for making WordPress theme and plugin releases"
Continued from https://github.com/creativecommons/project_creativecommons.org/issues/238

We learned that we couldn't rely on the GitHub Releases feature to create a package release with the desired file structure. Some manual work is involved in creating a ZIP file that WordPress will recognize as a new version of the relevant theme or plugin.

This meta issue intends to earmark the documentation

[2022-02-21 14:32] brylie commented on #216
We had a review with the communications team and determined there are only two forms that need to remain active. We will possibly deprecate Gravity Forms if we can replace the two forms with:

- a static donation form allowing people to select from pre-defined donation ammounts
- a contact form that feeds directly in to our helpdesk

[2022-02-21 14:32] #216 closed

[2022-02-21 14:33] brylie commented on #215
We agreed to deprecate the GA for WordPress plugin and rely on Google Tag Manager for cross-site analytics.

[2022-02-21 14:33] #215 closed

[2022-02-21 14:35] brylie commented on #70
The blank page issue turned out to be related to an empty mission in our navigation menu slot, so it was a different bug.

The content appears to have been successfully imported, including media. It is fairly straightforward to convert pages/posts to Gutenberg format for editing.

[2022-02-21 14:35] #70 closed

[2022-02-21 14:35] brylie commented on #133
Closing as duplicate of #131

[2022-02-21 14:35] #133 closed

[2022-02-21 14:38] #232 closed

[2022-02-21 14:41] MuluhGodson commented on #221
No the Query Loop Block was added on the staging site.

[2022-02-21 14:45] brylie commented on #221
OK. Let's go ahead and close this issue since we were able to add the featured articles in the query loop.

We can create follow-up issues to add the featured articles on specific pages.

[2022-02-21 14:45] #221 closed

[2022-02-21 14:52] brylie commented on #192
Closing this issue, since we have identified the categories and will continue the work in #240

[2022-02-21 14:52] #192 closed

[2022-02-21 14:53] #237 closed

[2022-02-21 14:58] brylie commented on #5
Closing this since the project is nearing MVP completion. We can create a project charter for an upcoming project.

[2022-02-21 14:58] #5 closed

[2022-02-21 14:59] brylie commented on #78
Closing this as it may no longer be relevant.

[2022-02-21 14:59] #78 closed

[2022-02-21 15:02] brylie opened #241 "Schedule second meeting with communications team"
We need to have a second meeting with the communications team. Add at least the following items to the agenda:

- sandbox/staging access
- team page
    - can we use a pre-existing Gutenberg widget rather than define our own via plugins?
    - if so, we can deprecate some custom code
- author profiles
    - do we need to include biographical information on author profiles?
    - if not, we may be

[2022-02-23 08:00] #241 closed

[2022-02-23 08:07] brylie opened #244 "2022-02 - project releases #2"
The following projects have changes that we need to release:
- [x] creativecommons-base
- [x] wp-plugin-creativecommons-website
- [x] wp-theme-creativecommons.org

[2022-02-23 08:09] brylie commented on #244
https://github.com/creativecommons/creativecommons-base/pull/196

[2022-02-23 08:18] brylie commented on #244
`wp-plugin-creativecommons-website`

- https://github.com/creativecommons/wp-plugin-creativecommons-website/pull/28

[2022-02-23 08:28] brylie commented on #244
`wp-theme-creativecommons.org`
- https://github.com/creativecommons/wp-theme-creativecommons.org/pull/37
- https://github.com/creativecommons/wp-theme-creativecommons.org/releases/tag/v2022.02.2

[2022-02-23 08:28] #244 closed

[2022-02-23 18:43] brylie commented on #230
This sounds like an ideal way forward and the CC Global Menu should already work with any endpoint that returns the menu JSON, whether static or dynamic.

I just want to be cautious about what kinds of changes we make to the WordPress code, such as generating static files or using the Transients API, when there are other options for caching production responses.

:smiley: agreed. There was a typo

[2022-02-26 10:17] awantika10 commented on #233
Hi @brylie. I would like to work on this issues. Could you please let me know more details about it?

[2022-02-28 07:42] brylie commented on #233
Hi, @awantika10. Thanks for your offer to help.

We have recently started using Composer in this project to manage WordPress dependencies, such as themes and plugins. To add/update the themes and plugins, we need to edit the `composer.json` in the root directory.

Would you consider adding a note in the project [contributing guide](https://github.com/creativecommons/project_creativecommons.org/blo

[2022-02-28 10:39] brylie opened #246 "`navbar-menu` div appears twice on Licenses URLs"
When viewing sub-paths of the `licenses` app, the `navbar-menu` div appears twice, once empty and once populated with navigation items:

![image](https://user-images.githubusercontent.com/17307/155968784-d1b608c1-b39f-4fa0-917e-876fd7a344e3.png)

## Reproduction

1. start the local development environment `docker-compose up`
2. go to http://localhost:8000/licenses/by/4.0/
3. notice there are two n

[2022-02-28 10:47] brylie opened #247 ""Licenses" breadcrumb link leads to Forbidden error"
The "Licenses" breadcrumb link leads to a "Forbidden" error at `/licenses/`

![Peek 2022-02-28 12-45](https://user-images.githubusercontent.com/17307/155969895-a2bf3b60-66ae-4788-aa51-f100f6f28e8b.gif)

## Reproduction

1. start the development environment `docker-compose up`
2. navigate to a sub-path of the `licenses` app: http://localhost:8000/licenses/by/4.0/
3. click the "Licenses" link in the

[2022-02-28 11:31] MuluhGodson opened #248 "Audit of the staging website"
## Description
I will be using this issue to keep track of noticeable errors or design flaws with the staging content or the staging website as a whole.

- [ ] Pagination on Author profiles
Since the content from the `creativecommons.org` website has been exported and imported into the staging site. Most of the content is imported under @brylie's account so this makes the pagination list all the d

[2022-02-28 11:34] MuluhGodson commented on #248
- [ ] Pagination on Author profiles
Since the content from the `creativecommons.org` website has been exported and imported into the staging site. Most of the content is imported under @brylie's account so this makes the pagination list all the different pages. While this really is a non-issue [given that the post will probably be assigned to the correct authors], it may be worth looking into diff

[2022-02-28 11:41] MuluhGodson commented on #248
- [ ] Author section on post pages
The blog post design for the author section requires the author card to sit next to the feature image. While this works for some post, post without a feature image don't look visually aesthetic. Also the dimenstions of the feature image determine if the Author card will be positioned correctly [sometimes it's pushed down into the content]

A better rendering
![im

[2022-03-01 09:18] MuluhGodson commented on #131
@brylie
The plugins I will be porting over to `wp-plugin-creativecommons-website` :
- The CC Resource Plugin.

[2022-03-01 17:14] brylie opened #249 "Live site text sizes are not distinguishing multiple level content (ex. H1 text is not large enough)"
The Figma mockups contain at least two levels of font sizes:

- normal
- "big"

For example, we have a "normal" body text size used for all content. However, there is also a "body big" font size around 1.5 times larger than the "normal" body text used on the Home Page, for example.

## Task

Determine the best way for content editors to display particular page text in larger sizes.

[2022-03-01 17:19] brylie commented on #131
Let's discuss whether that plugin is necessary any longer. From what I understand, it populates the "resources" list on the current creativecommons.org front page.

![image](https://user-images.githubusercontent.com/17307/156216854-7a0b9715-d34f-437a-af44-6e1ebb83c477.png)

However, the most recent "resources" were published in 2016. Also, the resources display may not be part of the new website d

[2022-03-01 17:23] brylie opened #250 "Default page template should wrap content in a Bulma `container`"
We have removed the `container` wrapper from the default page template to facilitate full-width designs. However, this means all pages are rendering full-width, so the content is misaligned with the heading and footer content wrapped in a Bulma `container`.

## Desired outcome

Default pages, such as those pre-existing pages that we import from the current site, should have clean alignment with he

[2022-03-01 23:42] MuluhGodson commented on #250
The default template is rendered by the file [`page.php`](https://github.com/creativecommons/creativecommons-base/blob/main/page.php) which has just the `content` class wrapped around everything.

Below are two screenshots, one with the `content` class and another with the `container` class.

- With the `content` class:
![image](https://user-images.githubusercontent.com/40151808/156266962-8a62c7dd

[2022-03-01 23:53] MuluhGodson commented on #249
On the Gutenberg editor, we haven't limited the font sizes so from the Typography controls under block settings the editors can be able to select and input custom sizes and in units they prefer [`px`, `rem` or `em`].
![image](https://user-images.githubusercontent.com/40151808/156268421-72fd43eb-6445-4f6f-a801-331873f8d8ad.png)
![image](https://user-images.githubusercontent.com/40151808/156268445-4

[2022-03-02 07:21] brylie commented on #250
When wrapping the home page content in a `container` class, do the content margins align with the header and footer? E.g., are the paragraphs using the same margin alignment as the footer contents?

[2022-03-02 07:34] brylie opened #251 "Weekly releases (2022-03-01)"
- [x] cc-global-components
- [x] creativecommons-base
- [x] wp-plugin-creativecommons-website
- [x] update `composer.json` in `wp-theme-creativecommons.org` with latest `creativecommons-base` release
- [x] wp-theme-creativecommons.org (with updated composer.json)
- [x] update `project_creativecommons.org` with latest releases https://github.com/creativecommons/project_creativecommons.org/pull/252

[2022-03-02 08:48] brylie commented on #250
I just tested the Home page layout on the latest version of the `project_creativecommons.org` packages. The alignment issues persist even when placing a `group` inside of the full-width `group` that has the solid background:

- `group` full width, orange background
    - `group` default
        - content blocks
![image](https://user-images.githubusercontent.com/17307/156327363-cfc0bb97-6d10-46cf-b

[2022-03-03 07:40] MuluhGodson commented on #250
@brylie are you able to set `alignwide` or `alignfull` dynamically? I can't find the controls for that.
I've been able to get this result:
![image](https://user-images.githubusercontent.com/40151808/156518506-e7042016-7cbd-403a-82ba-4bedfb29d4ec.png)

It doesn't quite align properly yet.

[2022-03-03 17:14] brylie commented on #250
@MuluhGodson, I was able to get the following layout by adding a Gutenberg `group` wrapper with a custom `container` class:

![image](https://user-images.githubusercontent.com/17307/156615093-13d11446-12ca-46e1-b0d2-514f2a8999dc.png)

I had to rebuild the columns because the `alignfull` was clashing with the Bulma sizing. The basic idea is as follows, with no custom code or plugins needed:

- `gro

[2022-03-03 17:16] brylie commented on #250
If the above approach of adding `container` classes to Gutenberg `group` "containers` works well enough, we can:

- restore the `container` wrapper in the default Page template
- create a "full-width" page template for special cases, like the Home page, where we want to add Bulma `container`s manually

That way, we don't need any custom code, additional styles, or plugins.

[2022-03-03 17:22] MuluhGodson commented on #250
This is brilliant.

[2022-03-04 06:44] #250 closed

[2022-03-04 06:52] brylie opened #253 "@brylie are you able to set `alignwide` or `alignfull` dynamically? I can't find the controls for that."
@MuluhGodson noticed:

_Originally posted by @MuluhGodson in https://github.com/creativecommons/project_creativecommons.org/issues/250#issuecomment-1057759816_

Previously, we enabled full-width support on CC WordPress template (either `creativecommons-base`, `wp-theme-creativecommons.org`, or both). That made it possible for us to toggle full-width display on some Gutenberg blocks, such as `row`

[2022-03-04 07:28] brylie commented on #250
Below is the Home page with expected alignment by using Bulma `container` classes, using the Gutenberg "custom CSS class" field.
![Screen Shot 2022-03-04 at 09 25 56-fullpage](https://user-images.githubusercontent.com/17307/156718780-a8aeda0a-1b63-407b-ad75-86cc3be78cf8.png)

[2022-03-04 08:09] brylie opened #254 "Weekly releases (2022-03-07)"
Create releases for any projects that have had code contributions during the previous week(s).

## Task

Make releases for:
- [x] `creativecommons-base`
    - [x] bump version
    - [x] release https://github.com/creativecommons/creativecommons-base/releases/tag/v2022.03.2
- [x] `wp-theme-creativecommons.org`
    - [x] bump version https://github.com/creativecommons/wp-theme-creativecommons.org/pu

[2022-03-04 08:29] #246 closed

[2022-03-04 09:04] brylie commented on #253
I was able to set a Gutenberg block to display full width by using "100vw" (100% view width) under the Layout settings:

![image](https://user-images.githubusercontent.com/17307/156733007-962c96bd-96c3-4ef0-9f78-b30d3ec889ab.png)

[2022-03-04 14:24] brylie commented on #254
Hei @MuluhGodson. Would you consider updating the staging website with the latest releases of `creativecommons-base` and `wp-theme-creativecommons.org`, in the same manner as last time?

[2022-03-04 14:26] MuluhGodson commented on #254
My pleasure :smiley:

[2022-03-04 14:37] brylie opened #256 "Determine how to migrate the WordPress users"
Try to see if the importer can create users when importing articles.

[2022-03-04 14:44] MuluhGodson commented on #254
@brylie
I'm not sure we can use the same process. Given that from the dashboard, we can be able to only add a new theme manually. Since the theme directories already exist, I thought the files could just be overridden when I try to add the new theme versions but WordPress gives the error `Could not create directory.`.

[2022-03-04 17:10] brylie commented on #254
Yes, I got a similar error earlier. It looks like the filesystem permissions have changed.

[2022-04-13 15:49] #251 closed

[2022-04-13 15:51] #254 closed

[2022-10-11 11:42] dikehprosper commented on #253
I would like to work on this